<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../assets/css/font.css" />
    <link rel="stylesheet" href="../assets/css/sonnat.reset.css" />
    <link rel="stylesheet" href="../assets/css/site-tools/prism.css" />
    <link rel="stylesheet" href="../assets/css/site-tools/site-tools.css" />
    <link rel="stylesheet" href="../assets/css/sonnat.elements.css" />
    <title>Interactive Demo</title>
  </head>
  <body class="en">
    <div class="root">
      <div id="main-wrapper" class="base-wrapper">
        <header id="header"></header>
        <main id="main">
          <div class="container">
            <div class="code-demo">
              <div class="code-demo__head">
                <div class="code-demo__head__tabs tab-row small">
                  <ul class="tab-list">
                    <li class="tab-list__tab active" data-lang="markup">
                      <div class="tab-list__tab__content">
                        <span class="tab-list__tab-text">HTML</span>
                      </div>
                      <div class="tab-list__tab__indicator">
                        <div class="tab-list__tab__indicator-fill"></div>
                      </div>
                    </li>
                    <li class="tab-list__tab" data-lang="scss">
                      <div class="tab-list__tab__content">
                        <span class="tab-list__tab-text">SCSS</span>
                      </div>
                      <div class="tab-list__tab__indicator">
                        <div class="tab-list__tab__indicator-fill"></div>
                      </div>
                    </li>
                    <li class="tab-list__tab" data-lang="js">
                      <div class="tab-list__tab__content">
                        <span class="tab-list__tab-text">JS</span>
                      </div>
                      <div class="tab-list__tab__indicator">
                        <div class="tab-list__tab__indicator-fill"></div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="code-demo__head__utils">
                  <button
                    class="button inlined small copy-button margin-right-0"
                    data-toggle="tooltip"
                    data-placement="top"
                    data-has-tail="false"
                    data-trigger-on="manual"
                    data-title="Code completely copied!"
                  >
                    <div class="button__icon">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                      >
                        <path
                          class="fill"
                          d="M21,2H8A1,1,0,0,0,7,3V7H3A1,1,0,0,0,2,8V21a1,1,0,0,0,1,1H16a1,1,0,0,0,1-1V17h4a1,1,0,0,0,1-1V3A1,1,0,0,0,21,2ZM15,20H4V9H15Zm5-5H17V8a1,1,0,0,0-1-1H9V4H20Z"
                        />
                      </svg>
                    </div>
                    <span>Copy</span>
                  </button>
                  <hr class="divider vertical padded spaced" />
                  <div class="switch-toggle theme-toggle">
                    <div class="switch-toggle__cell">
                      <input
                        class="switch-toggle__input"
                        id="editor-mode"
                        type="checkbox"
                        name="editor_mode"
                      />
                      <div class="switch-toggle__track">
                        <div class="switch-toggle__button">
                          <div class="switch-toggle__handle"></div>
                          <div class="switch-toggle__rippler rippler">
                            <div class="switch-toggle__ripple ripple"></div>
                          </div>
                        </div>
                        <div class="switch-toggle__indicator"></div>
                      </div>
                    </div>
                    <label
                      class="switch-toggle__label text-md"
                      for="editor-mode"
                      >Dark mode</label
                    >
                  </div>
                </div>
              </div>
              <div class="code-demo__content">
                <div class="code-demo__content__tab active" data-lang="markup">
                  <pre class="line-numbers"><code class="language-markup">
                    &lt;div class="code-demo__header__utils"&gt;
                      &lt;button class="button inlined small copy-button"&gt;
                        &lt;div class="button__icon"&gt;
                          &lt;svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 16 16"
                          &gt;
                            &lt;path
                              d="M12.16,4.86h0v-.5a.5.5,0,0,0-.5-.5.51.51,0,0,0-.51.5h0v.5h0v5.73a3,3,0,0,1-6-.11V4.32a1.83,1.83,0,0,1,3.66-.11v6.26a.67.67,0,1,1-1.33,0V4.86h0v-.5a.5.5,0,0,0-.5-.5.5.5,0,0,0-.5.5v.5h0v5.61a1.67,1.67,0,1,0,3.33,0V4.32a2.83,2.83,0,0,0-5.66,0v6.16a4,4,0,0,0,8,0Z"
                            /&gt;
                          &lt;/svg&gt;
                        &lt;/div&gt;
                        &lt;span&gt;Copy to clipboard&lt;/span&gt;
                      &lt;/button&gt;
                    &lt;/div&gt;
                  </code></pre>
                </div>
                <div class="code-demo__content__tab" data-lang="scss">
                  <pre class="line-numbers"><code class="language-scss">
                    .code-demo__content__tab {
                      width: 100%;
                      direction: ltr;
                      position: absolute;
                      top: 16px;
                      left: 0;
                      opacity: 0;
                      visibility: hidden;
                      transition: visibility 360ms ease, opacity 360ms ease;
                    
                      &.active {
                        opacity: 1;
                        visibility: visible;
                      }
                    
                      pre,
                      code {
                        margin: 0;
                        padding-top: 0;
                        padding-bottom: 0;
                        background-color: transparent;
                      }
                    }
                  </code></pre>
                </div>
                <div class="code-demo__content__tab" data-lang="js">
                  <pre class="line-numbers"><code class="language-js">
                    (function (root, factory) {
                      if (typeof define === "function" && define.amd) {
                          define(factory);
                      } else if (typeof exports === "object") {
                          module.exports = factory();
                      } else {
                          root.ResizeSensor = factory();
                      }
                  }(typeof window !== 'undefined' ? window : this, function () {
                  
                      // Make sure it does not throw in a SSR (Server Side Rendering) situation
                      if (typeof window === "undefined") {
                          return null;
                      }
                      // Only used for the dirty checking, so the event callback count is limited to max 1 call per fps per sensor.
                      // In combination with the event based resize sensor this saves cpu time, because the sensor is too fast and
                      // would generate too many unnecessary events.
                      var requestAnimationFrame = window.requestAnimationFrame ||
                          window.mozRequestAnimationFrame ||
                          window.webkitRequestAnimationFrame ||
                          function (fn) {
                              return window.setTimeout(fn, 20);
                          };
                  
                      /**
                        * Iterate over each of the provided element(s).
                        *
                        * @param {HTMLElement|HTMLElement[]} elements
                        * @param {Function}                  callback
                        */
                      function forEachElement(elements, callback){
                          var elementsType = Object.prototype.toString.call(elements);
                          var isCollectionTyped = ('[object Array]' === elementsType
                              || ('[object NodeList]' === elementsType)
                              || ('[object HTMLCollection]' === elementsType)
                              || ('[object Object]' === elementsType)
                              || ('undefined' !== typeof jQuery && elements instanceof jQuery) //jquery
                              || ('undefined' !== typeof Elements && elements instanceof Elements) //mootools
                          );
                          var i = 0, j = elements.length;
                          if (isCollectionTyped) {
                              for (; i &lt; j; i++) {
                                  callback(elements[i]);
                              }
                          } else {
                              callback(elements);
                          }
                      }
                  </code></pre>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.browser.min.js"></script>
    <script src="../assets/js/tab.js"></script>
    <script src="../assets/js/tooltip.js"></script>
    <script src="../assets/js/site-tools/prism.js"></script>
    <script src="../assets/js/site-tools/clipboard.min.js"></script>
    <script src="../assets/js/site-tools/code-demo.js"></script>
  </body>
</html>
