body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  overflow-x: hidden;
  overflow-y: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body.en {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  direction: ltr;
}
body.fa {
  font-family: IRANSans, Arial, Tahoma, Helvetica;
  direction: rtl;
}

a {
  text-decoration: none !important;
  color: inherit;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

*,
*:before,
*:after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  box-sizing: border-box;
}

.root {
  background-color: rgba(0, 0, 0, 0.1);
}

#main {
  max-width: 1440px;
  margin: 0 auto;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

/*
  Use on the element with overflow
  Also add minus-index for the image and a higher value for the parent,
  In case of image overflow-bug.
*/
.safari-transition-radius-overflow-combination-fix, .button .button__rippler {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

.h6,
h6,
.h5,
h5, .section-row__title,
.h4,
h4, .title-row__title,
.h3,
h3,
.h2,
h2,
.h1,
h1 {
  margin: 0;
  -webkit-margin-before: 0em;
  margin-block-start: 0em;
  -webkit-margin-after: 0em;
  margin-block-end: 0em;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  text-size-adjust: 100%;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: right;
  color: rgba(0, 0, 0, 0.87);
}
.en .h6,
.en h6,
.en .h5,
.en h5, .en .section-row__title,
.en .h4,
.en h4, .en .title-row__title,
.en .h3,
.en h3,
.en .h2,
.en h2,
.en .h1,
.en h1 {
  text-align: left;
}
.responsive-typography.h6,
h6.responsive-typography,
.responsive-typography.h5,
h5.responsive-typography, .responsive-typography.section-row__title,
.responsive-typography.h4,
h4.responsive-typography, .responsive-typography.title-row__title,
.responsive-typography.h3,
h3.responsive-typography,
.responsive-typography.h2,
h2.responsive-typography,
.responsive-typography.h1,
h1.responsive-typography {
  transition: font-size 200ms ease, line-height 200ms ease;
}

.text-tiny, .text-xxs, .text-xs, .text-sm, .text-md,
.title-row__title--pretitle, .text-lg,
.section-row__paragraph,
.title-row__title--subtitle, .text-xlg,
.section-row > .section-row__title ~ .section-row__title {
  line-height: 2;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-size-adjust: 100%;
  text-align: right;
  color: rgba(0, 0, 0, 0.87);
}
.en .text-tiny, .en .text-xxs, .en .text-xs, .en .text-sm, .en .text-md,
.en .title-row__title--pretitle, .en .text-lg,
.en .section-row__paragraph,
.en .title-row__title--subtitle, .en .text-xlg,
.en .section-row > .section-row__title ~ .section-row__title {
  text-align: left;
}
.responsive-typography.text-tiny, .responsive-typography.text-xxs, .responsive-typography.text-xs, .responsive-typography.text-sm, .responsive-typography.text-md,
.responsive-typography.title-row__title--pretitle, .responsive-typography.text-lg,
.responsive-typography.section-row__paragraph,
.responsive-typography.title-row__title--subtitle, .responsive-typography.text-xlg,
.section-row > .section-row__title ~ .responsive-typography.section-row__title {
  transition: font-size 200ms ease, line-height 200ms ease;
}

.text-justify {
  text-align: justify;
}

.h1,
h1 {
  font-size: 3rem !important;
  line-height: 1.5 !important;
  font-weight: 300 !important;
}

.h2,
h2 {
  font-size: 2rem !important;
  line-height: 1.5 !important;
  font-weight: normal !important;
}

.title-row__title,
.h3,
h3 {
  font-size: 1.5rem !important;
  line-height: 1.5 !important;
  font-weight: 500 !important;
}

.section-row__title,
.h4,
h4 {
  font-size: 1.25rem !important;
  line-height: 1.5 !important;
  font-weight: 500 !important;
}

.h5,
h5 {
  font-size: 1.125rem !important;
  line-height: 1.5 !important;
  font-weight: 500 !important;
}

.h6,
h6 {
  font-size: 1rem !important;
  line-height: 2 !important;
  font-weight: 500 !important;
}

p {
  margin: 0;
  -webkit-margin-before: 0em;
  margin-block-start: 0em;
  -webkit-margin-after: 0em;
  margin-block-end: 0em;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
}

.text-xlg,
.section-row > .section-row__title ~ .section-row__title {
  font-size: 1.125rem !important;
}

.text-lg,
.section-row__paragraph,
.title-row__title--subtitle {
  font-size: 1rem !important;
}

.text-lg-stable {
  font-size: 1rem !important;
  line-height: 2 !important;
  font-weight: normal !important;
}

.text-md,
.title-row__title--pretitle {
  font-size: 0.875rem !important;
  font-weight: 500 !important;
}

.text-sm {
  font-size: 0.875rem !important;
}

.text-xs {
  font-size: 0.75rem !important;
}

.text-xxs {
  font-size: 0.625rem !important;
}

.text-tiny {
  font-size: 0.5rem !important;
}

@media (max-width: 769px) {
  .h1,
h1 {
    font-size: 2rem !important;
    line-height: 1.5 !important;
    font-weight: 300 !important;
  }

  .h2,
h2 {
    font-size: 1.5rem !important;
    line-height: 1.5 !important;
    font-weight: normal !important;
  }

  .title-row__title,
.h3,
h3 {
    font-size: 1.25rem !important;
    line-height: 1.5 !important;
    font-weight: 500 !important;
  }

  .section-row__title,
.h4,
h4 {
    font-size: 1.125rem !important;
    line-height: 1.5 !important;
    font-weight: 500 !important;
  }

  .text-xlg,
.section-row > .section-row__title ~ .section-row__title {
    font-size: 1rem !important;
    line-height: 2 !important;
    font-weight: normal !important;
  }

  .text-lg,
.section-row__paragraph,
.title-row__title--subtitle {
    font-size: 0.875rem !important;
    line-height: 2 !important;
    font-weight: normal !important;
  }
}
.visible {
  visibility: visible !important;
}

.hidden {
  visibility: hidden !important;
}

.opacity-0 {
  opacity: 0 !important;
}

.opacity-1 {
  opacity: 1 !important;
}

@media (min-width: 320px) {
  .visible-xxs {
    visibility: visible !important;
  }

  .hidden-xxs {
    visibility: hidden !important;
  }

  .opacity-xxs-0 {
    opacity: 0 !important;
  }

  .opacity-xxs-1 {
    opacity: 1 !important;
  }
}
@media (min-width: 520px) {
  .visible-xs {
    visibility: visible !important;
  }

  .hidden-xs {
    visibility: hidden !important;
  }

  .opacity-xs-0 {
    opacity: 0 !important;
  }

  .opacity-xs-1 {
    opacity: 1 !important;
  }
}
@media (min-width: 770px) {
  .visible-sm {
    visibility: visible !important;
  }

  .hidden-sm {
    visibility: hidden !important;
  }

  .opacity-sm-0 {
    opacity: 0 !important;
  }

  .opacity-sm-1 {
    opacity: 1 !important;
  }
}
@media (min-width: 960px) {
  .visible-md {
    visibility: visible !important;
  }

  .hidden-md {
    visibility: hidden !important;
  }

  .opacity-md-0 {
    opacity: 0 !important;
  }

  .opacity-md-1 {
    opacity: 1 !important;
  }
}
@media (min-width: 1024px) {
  .visible-lg {
    visibility: visible !important;
  }

  .hidden-lg {
    visibility: hidden !important;
  }

  .opacity-lg-0 {
    opacity: 0 !important;
  }

  .opacity-lg-1 {
    opacity: 1 !important;
  }
}
@media (min-width: 1366px) {
  .visible-xlg {
    visibility: visible !important;
  }

  .hidden-xlg {
    visibility: hidden !important;
  }

  .opacity-xlg-0 {
    opacity: 0 !important;
  }

  .opacity-xlg-1 {
    opacity: 1 !important;
  }
}
.checkbox-control, .radio-control {
  display: inline-flex;
  align-items: center;
  box-sizing: content-box;
  vertical-align: middle;
  min-height: 2.5rem;
  height: auto;
}
.fa .checkbox-control, .fa .radio-control {
  margin-left: 2rem;
  margin-right: 0;
}
.fa .checkbox-control > * + *, .fa .radio-control > * + * {
  margin-right: 0.25rem;
}
.en .checkbox-control, .en .radio-control {
  margin-right: 2rem;
  margin-left: 0;
}
.en .checkbox-control > * + *, .en .radio-control > * + * {
  margin-left: 0.25rem;
}
.disabled.checkbox-control, .disabled.radio-control {
  cursor: not-allowed !important;
}
.disabled.checkbox-control .switch-toggle__label, .disabled.checkbox-control .checkbox-control__label, .disabled.checkbox-control .radio-control__label, .disabled.radio-control .switch-toggle__label, .disabled.radio-control .checkbox-control__label, .disabled.radio-control .radio-control__label {
  color: rgba(0, 0, 0, 0.32);
  pointer-events: none;
}
.disabled.checkbox-control .checkbox-control__cell, .disabled.checkbox-control .radio-control__cell, .disabled.radio-control .checkbox-control__cell, .disabled.radio-control .radio-control__cell,
.disabled.checkbox-control .checkbox-control__input,
.disabled.checkbox-control .radio-control__input,
.disabled.radio-control .checkbox-control__input,
.disabled.radio-control .radio-control__input,
.disabled.checkbox-control .checkbox-control__button,
.disabled.checkbox-control .radio-control__button,
.disabled.radio-control .checkbox-control__button,
.disabled.radio-control .radio-control__button {
  pointer-events: none !important;
}
.disabled.checkbox-control .checkbox-control__button, .disabled.checkbox-control .radio-control__button, .disabled.radio-control .checkbox-control__button, .disabled.radio-control .radio-control__button {
  border-color: rgba(0, 0, 0, 0.12);
}
.checked.checkbox-control .checkbox-control__cell:before, .checked.checkbox-control .radio-control__cell:before, .checked.radio-control .checkbox-control__cell:before, .checked.radio-control .radio-control__cell:before {
  background-color: rgba(166, 38, 38, 0.04);
}

.checkbox-control__cell, .radio-control__cell {
  width: 2.25rem;
  height: 2.25rem;
  min-width: 2.25rem;
  min-height: 2.25rem;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  z-index: 1;
}
.checkbox-control__cell:before, .radio-control__cell:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.04);
  transform: scale(0);
  opacity: 0;
  transform-origin: center;
  transition: transform 240ms ease, opacity 240ms ease, background-color 240ms ease;
}
.checkbox-control__cell:hover:before, .radio-control__cell:hover:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-control__input, .radio-control__input {
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: inherit;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

.switch-toggle__label, .checkbox-control__label, .radio-control__label {
  font-size: 1rem;
  line-height: 2;
  color: rgba(0, 0, 0, 0.87);
  transition: 360ms ease;
}

.checkbox-control__button, .radio-control__button {
  width: 1.125rem;
  height: 1.125rem;
  border: 1px solid rgba(0, 0, 0, 0.24);
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 360ms ease 0.05s, background-color 360ms ease 0.05s;
}

.switch-toggle__rippler, .checkbox-control__rippler, .radio-control__rippler {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch-toggle__ripple, .checkbox-control__ripple, .radio-control__ripple {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  transform: scale(0);
  transform-origin: center;
  pointer-events: none;
  user-select: none;
  background-color: rgba(166, 38, 38, 0.08);
  z-index: -1;
}

.switch-control__ripple-animation {
  animation: switch_ripple 0.4s linear;
}

@keyframes switch_ripple {
  100% {
    transform: scale(4);
    background-color: rgba(166, 38, 38, 0.04);
  }
}
.icon-48, .icon-32, .icon-24, .tab-list__tab__content .tab-list__tab-icon:only-child, .icon-20, .button .button__icon, .tab-list__tab__content .tab-list__tab-icon:not(:only-child), .icon-16, .button.small .button__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-16, .button.small .button__icon {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
}
.icon-16 > svg, .button.small .button__icon > svg {
  width: 100%;
  height: 100%;
}

.icon-20, .button .button__icon, .tab-list__tab__content .tab-list__tab-icon:not(:only-child) {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
}
.icon-20 > svg, .button .button__icon > svg, .tab-list__tab__content .tab-list__tab-icon:not(:only-child) > svg {
  width: 100%;
  height: 100%;
}

.icon-24, .tab-list__tab__content .tab-list__tab-icon:only-child {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
}
.icon-24 > svg, .tab-list__tab__content .tab-list__tab-icon:only-child > svg {
  width: 100%;
  height: 100%;
}

.icon-32 {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
}
.icon-32 > svg {
  width: 100%;
  height: 100%;
}

.icon-48 {
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
}
.icon-48 > svg {
  width: 100%;
  height: 100%;
}

.divider {
  position: relative;
  margin: 0;
  border: none;
  height: auto;
}
.divider:not(.vertical):not(.dotted):after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.12);
}
.divider:not(.vertical):not(.dotted).padded:after {
  width: auto;
  left: 1rem;
  right: 1rem;
}
.divider:not(.vertical):not(.dotted).spaced {
  margin: 0.5rem 0;
}
.divider.dotted {
  box-sizing: content-box;
  height: 0;
  text-align: center;
  font-size: 1.75rem;
  line-height: 1.14285714;
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.divider.dotted:after {
  content: "...";
  display: inline-block;
  margin-left: 0.6em;
  position: relative;
  color: rgba(0, 0, 0, 0.87);
  top: -1.5rem;
  letter-spacing: 0.6em;
  --x-height-multiplier: 0.342;
  --baseline-multiplier: 0.22;
}
.divider.vertical:after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.12);
}
.divider.vertical.padded:after {
  height: auto;
  top: 1rem;
  bottom: 1rem;
}
.divider.vertical.spaced {
  margin: 0 0.5rem;
}

.zebra-divider > *:nth-child(even) {
  background-color: #fafafa;
}

.radio-control.disabled .radio-control__button:after {
  background-color: rgba(0, 0, 0, 0.12);
}
.radio-control.checked:not(.disabled) .radio-control__button {
  border-color: rgba(166, 38, 38, 0.32);
}
.radio-control.checked:not(.disabled) .radio-control__button:after {
  opacity: 1;
  transform: scale(1);
}

.radio-control__input:checked + .radio-control__button:after {
  opacity: 1;
  transform: scale(1);
}
.radio-control:not(.disabled) .radio-control__input:checked + .radio-control__button {
  border-color: rgba(166, 38, 38, 0.32);
}

.radio-control__button {
  border-radius: 50%;
}
.radio-control__button:after {
  content: "";
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: #a62626;
  opacity: 0;
  transform: scale(0);
  transform-origin: center;
  transition: background-color 240ms ease, opacity 240ms ease, transform 240ms ease;
}

.checkbox-control.checked.disabled .checkbox-control__button {
  border-color: transparent;
  pointer-events: none !important;
}
.checkbox-control.checked.disabled .checkbox-control__input:checked + .checkbox-control__button {
  background-color: rgba(0, 0, 0, 0.12);
  transition: border-color 360ms ease, background-color 360ms ease;
}

.checkbox-control__input:checked + .checkbox-control__button {
  border-color: #a62626;
  background-color: #a62626;
  transition: border-color 360ms ease, background-color 360ms ease;
}
.checkbox-control__input:checked ~ .checkbox-control__check-icon polyline {
  opacity: 1;
  animation: check 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.1s forwards;
}

.checkbox-control__button {
  border-radius: 0.125rem;
  overflow: hidden;
}

.checkbox-control__check-icon {
  width: 1.125rem;
  height: 1.125rem;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}
.checkbox-control__check-icon > svg {
  width: 12px;
  height: 8px;
}
.checkbox-control__check-icon > svg > polyline {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: white;
  stroke-width: 2;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: uncheck 0.2s ease-out forwards;
}

@keyframes check {
  from {
    stroke-dashoffset: 48;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes uncheck {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 48;
  }
}
.switch-toggle {
  min-width: 18rem;
  height: 3rem;
  padding-left: 0.625rem;
  padding-right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.en .switch-toggle {
  flex-direction: row-reverse;
  padding-right: 0.625rem;
  padding-left: 0;
}
.switch-toggle.disabled {
  cursor: not-allowed !important;
}
.switch-toggle.disabled .switch-toggle__label {
  color: rgba(0, 0, 0, 0.32);
  pointer-events: none;
}
.switch-toggle.disabled .switch-toggle__cell,
.switch-toggle.disabled .switch-toggle__input,
.switch-toggle.disabled .switch-toggle__track {
  pointer-events: none !important;
}
.switch-toggle.disabled .switch-toggle__track {
  background-color: rgba(0, 0, 0, 0.08);
}
.switch-toggle.disabled .switch-toggle__input:checked + .switch-toggle__track {
  pointer-events: none !important;
}
.switch-toggle.disabled .switch-toggle__input:checked + .switch-toggle__track .switch-toggle__indicator:after {
  background-color: rgba(0, 0, 0, 0.12);
  pointer-events: none !important;
}
.switch-toggle.disabled .switch-toggle__handle {
  box-shadow: none;
}

.switch-toggle__cell {
  height: 2.25rem;
  width: 2.5rem;
  min-height: 2.25rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.switch-toggle__cell:hover .switch-toggle__button:before {
  transform: scale(1);
  opacity: 1;
}

.switch-toggle__input {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: inherit;
  z-index: 1;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
.switch-toggle__input:checked + .switch-toggle__track .switch-toggle__indicator:after {
  opacity: 1;
  transform: scale(1.25);
}
.switch-toggle__input:checked + .switch-toggle__track .switch-toggle__button {
  transform: translateX(-18px);
}
.switch-toggle__input:checked + .switch-toggle__track .switch-toggle__button:before {
  background-color: rgba(166, 38, 38, 0.04);
}

.switch-toggle__track {
  width: 2.625rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  position: absolute;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0.125rem;
  box-sizing: border-box;
  transition: 240ms ease;
  background-color: rgba(0, 0, 0, 0.24);
  pointer-events: none;
}

.switch-toggle__button {
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50%;
  position: absolute;
  right: -9px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 120ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  z-index: 2;
}
.switch-toggle__button:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.04);
  transform: scale(0);
  opacity: 0;
  z-index: -1;
  transform-origin: center;
  transition: 240ms ease;
}

.switch-toggle__handle {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
  display: flex;
  align-items: center;
  z-index: 2;
  justify-content: center;
  pointer-events: none;
}

.switch-toggle__indicator {
  width: 2.625rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  top: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  z-index: 1;
}
.switch-toggle__indicator:after {
  content: "";
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #a62626;
  position: absolute;
  right: -0.75rem;
  opacity: 0;
  transform: scale(0);
  transform-origin: center;
  transition: transform 360ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms ease;
  pointer-events: none;
  user-select: none;
  z-index: -1;
}

.title-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.title-row.standalone-thumbnail {
  flex-direction: column;
}
.title-row.standalone-thumbnail .title-row__thumbnail {
  margin-left: 0;
  margin-bottom: 1rem;
}
.en .title-row.standalone-thumbnail .title-row__thumbnail {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.title-row.side-thumbnail {
  flex-direction: row;
}
.title-row.side-thumbnail .title-row__thumbnail {
  margin-left: 1rem;
  margin-bottom: 0;
}
.en .title-row.side-thumbnail .title-row__thumbnail {
  margin-right: 1rem !important;
  margin-left: 0 !important;
}
.title-row.spaced-thumbnail {
  flex-direction: row;
}
.title-row.spaced-thumbnail .title-row__thumbnail {
  margin-left: 1rem;
  margin-bottom: 0;
  margin-top: 2rem;
}
.en .title-row.spaced-thumbnail .title-row__thumbnail {
  margin-right: 1rem !important;
  margin-left: 0 !important;
}
.title-row.margined {
  margin-bottom: 2rem;
}

.title-row__thumbnail {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 1rem;
  margin-left: 1rem;
  background-color: rgba(0, 0, 0, 0.12);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-row__thumbnail > img {
  max-height: 100%;
}
.en .title-row__thumbnail {
  margin-right: 1rem !important;
  margin-left: 0 !important;
}
@media (max-width: 769px) {
  .title-row__thumbnail {
    width: 4rem;
    height: 4rem;
    border-radius: 0.875rem;
  }
}

.title-row__headings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.title-row__headings > *:only-child {
  margin: 0;
}

.title-row__title {
  margin-top: 0.25rem;
}
.en .title-row__title {
  font-weight: bold !important;
  text-align: left !important;
}
.title-row__title--pretitle {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
}
.title-row__title--subtitle {
  color: rgba(0, 0, 0, 0.56);
  margin-top: 0.5rem;
}

.title-row__tags {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 0.5rem;
}

.title-row__tag {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.875rem;
  font-size: 0.875rem;
  margin-left: 0.5rem;
  padding: 0rem 0.5rem;
  border-radius: 0.125rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.56);
}
.en .title-row__tag {
  margin-right: 0.5rem !important;
  margin-left: 0 !important;
}

.section-row > .section-row__title ~ .section-row__title {
  line-height: 1.5;
  margin-top: 1rem;
  color: black;
}
.section-row > .section-row__title ~ .section-row__title + .section-row__paragraph {
  margin-top: 0;
  margin-bottom: 0;
}

.primary.section-row__paragraph, .primary.section-row__title, .section-row > .section-row__title ~ .primary.section-row__title {
  color: rgba(0, 0, 0, 0.87);
}
.secondary.section-row__paragraph, .secondary.section-row__title, .section-row > .section-row__title ~ .secondary.section-row__title {
  color: rgba(0, 0, 0, 0.56);
}
.hint.section-row__paragraph, .hint.section-row__title, .section-row > .section-row__title ~ .hint.section-row__title {
  color: rgba(0, 0, 0, 0.32);
}
.success.section-row__paragraph, .success.section-row__title, .section-row > .section-row__title ~ .success.section-row__title {
  color: #2f7f33;
}
.danger.section-row__paragraph, .danger.section-row__title, .section-row > .section-row__title ~ .danger.section-row__title {
  color: red;
}
.en .section-row__paragraph, .en .section-row__title, .en .section-row > .section-row__title ~ .section-row__title {
  text-align: left !important;
}

.section-row__title {
  margin-top: 2rem;
}

.section-row__paragraph {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.section-row__paragraph.no-space {
  margin-top: 0;
  margin-bottom: 0;
}

.tab-row {
  position: relative;
  height: 3rem;
  overflow-x: auto;
  overflow-y: hidden;
}
.tab-row.stable .tab-list__tab {
  position: relative;
  width: 100%;
  max-width: 100%;
  flex-basis: 0;
  flex-grow: 1;
  min-width: initial;
}
@media (max-width: 374px) {
  .tab-row.stable .tab-list {
    padding: 0;
  }
}
.tab-row.iconed .tab-list__tab {
  padding: 0rem 1rem;
}
.tab-row:not(.stable):after, .tab-row:not(.stable):before {
  content: "";
  width: 2rem;
  min-width: 2rem;
  height: 100%;
  position: absolute;
  z-index: 2;
  pointer-events: none;
  top: 0rem;
  flex-shrink: 0;
}
.tab-row:not(.stable):after {
  left: 0;
  background: white;
  background: linear-gradient(90deg, white 50%, rgba(255, 255, 255, 0) 100%);
}
.tab-row:not(.stable):before {
  right: 0rem;
  background: white;
  background: linear-gradient(270deg, white 50%, rgba(255, 255, 255, 0) 100%);
}
.tab-row:not(.stable) > .tab-list:after {
  content: "";
  width: 2rem;
  height: 3rem;
  flex-shrink: 0;
}

.tab-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  overflow-x: auto;
  overflow-y: visible;
  position: relative;
  width: 100%;
  min-height: 4rem;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
  padding: 0rem 2rem;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.tab-list::-webkit-scrollbar-track, .tab-list::-webkit-scrollbar, .tab-list::-webkit-scrollbar-thumb, .tab-list::-webkit-scrollbar-thumb:hover {
  display: none;
  background-color: transparent;
}

.tab-list__tab {
  min-width: 7rem;
  display: flex;
  min-height: 3rem;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0rem 1.5rem;
  -webkit-appearance: none;
  text-align: center;
  cursor: pointer;
  transition: 160ms ease;
  white-space: nowrap;
  flex-shrink: 0;
}
.tab-list__tab.active .tab-list__tab-text {
  color: #a62626;
}
.tab-list__tab.active .tab-list__tab-icon .fill {
  fill: #a62626;
}
.tab-list__tab.active .tab-list__tab__indicator-fill {
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 0s;
}
.tab-list__tab:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.tab-list__tab__content {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.tab-list__tab__content > * + * {
  margin-right: 0.5rem;
}
.en .tab-list__tab__content > * + * {
  margin-left: 0.5rem;
}

.tab-list__tab-text {
  font-size: 1rem;
  line-height: 2;
  transition: color 360ms ease;
  color: rgba(0, 0, 0, 0.56);
  white-space: nowrap;
}

.tab-list__tab-icon .fill {
  fill: rgba(0, 0, 0, 0.56);
  transition: fill 360ms ease;
}

.tab-list__tab__indicator {
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.tab-list__tab__indicator-fill {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #a62626;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform-origin: 0% 0%;
  transition: transform 0s, opacity 100ms;
}

.button.icon-button {
  padding: 0;
  height: 2.5rem;
  width: 2.5rem;
  min-width: auto;
  border-radius: 50%;
}
.button.icon-button > .button__icon {
  margin: 0 !important;
}
.button.icon-button > .button__icon + *:not(.rippler) {
  display: none;
}
.button.icon-button .button__rippler {
  border-radius: 50%;
}
.small.button.icon-button {
  height: 2rem;
  width: 2rem;
  min-width: auto;
}
.button {
  height: 2.5rem;
  min-width: 6rem;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0rem 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0.5rem;
  background-color: rgba(0, 0, 0, 0.56);
  color: white;
  border: 1px solid transparent;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  vertical-align: middle;
  line-height: 2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color 360ms ease, background-color 360ms ease, transform 360ms ease, border-radius 360ms ease, box-shadow 400ms ease, border-color 360ms ease;
}
.button > *:not(.button__icon) {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.button .fill {
  fill: white;
  transition: fill 360ms ease;
}
.button.small {
  height: 2rem;
  min-width: 4rem;
  padding: 0rem 0.75rem;
  font-size: 0.875rem;
}
.button:hover, .button:focus {
  background-color: rgba(31, 31, 31, 0.56);
}
.button:active {
  background-color: rgba(0, 0, 0, 0.6);
}
.button.rounded {
  border-radius: 1.5rem;
}
.button.rounded .button__rippler {
  border-radius: 1.5rem;
}
.fa .button > .button__icon {
  margin-right: -0.25rem;
  margin-left: 0.5rem;
}
.en .button > .button__icon {
  margin-left: -0.25rem;
  margin-right: 0.5rem;
}
.fa .button.small > .button__icon {
  margin-left: 0.25rem;
}
.en .button.small > .button__icon {
  margin-right: 0.25rem;
}
.button.inlined {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.56);
}
.button.inlined .fill {
  fill: rgba(0, 0, 0, 0.56);
}
.button.inlined:hover, .button.inlined:focus {
  background-color: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.87);
}
.button.inlined:hover .fill, .button.inlined:focus .fill {
  fill: rgba(0, 0, 0, 0.87);
}
.button.inlined:active {
  background-color: rgba(0, 0, 0, 0.12);
}
.button.inlined .button__rippler__ripple {
  background-color: rgba(0, 0, 0, 0.12);
}
.button.inlined.disabled, .button.inlined[disabled] {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.32);
}
.button.inlined.disabled .fill, .button.inlined[disabled] .fill {
  fill: rgba(0, 0, 0, 0.32);
}
.button.raised {
  box-shadow: 0 8px 12px -6px rgba(0, 0, 0, 0.16), 0 12px 16px 0 rgba(0, 0, 0, 0.12), 0 1px 32px 0 rgba(0, 0, 0, 0.08);
}
.button.raised:hover, .button.raised:focus {
  box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.24), 0 4px 10px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.08);
  transform: translateY(0.125rem);
}
.button.outlined {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.48);
  color: rgba(0, 0, 0, 0.87);
}
.button.outlined .fill {
  fill: rgba(0, 0, 0, 0.87);
}
.button.outlined:hover, .button.outlined:focus {
  background-color: rgba(0, 0, 0, 0.04);
}
.button.outlined:active {
  background-color: rgba(0, 0, 0, 0.12);
}
.button.outlined .button__rippler__ripple {
  background-color: rgba(0, 0, 0, 0.12);
}
.button.outlined.disabled,
.button.outlined [disabled] {
  background-color: transparent !important;
  border-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.32);
}
.button.outlined.disabled .fill,
.button.outlined [disabled] .fill {
  fill: rgba(0, 0, 0, 0.32);
}
.button.button-primary {
  background-color: #a62626;
}
.button.button-primary.raised {
  box-shadow: 0 14px 20px -12px rgba(166, 38, 38, 0.32), 0 16px 24px 2px rgba(166, 38, 38, 0.14), 0 12px 30px -8px rgba(166, 38, 38, 0.12);
}
.button.button-primary.raised:hover, .button.button-primary.raised:focus {
  box-shadow: 0 0px 6px -2px rgba(166, 38, 38, 0.56), 0 4px 16px 0px rgba(166, 38, 38, 0.14), 0 2px 10px 0 rgba(166, 38, 38, 0.12);
  transform: translateY(0.125rem);
}
.button.button-primary.raised.small {
  box-shadow: 0 8px 9px -4px rgba(166, 38, 38, 0.24), 0 14px 16px 2px rgba(166, 38, 38, 0.14), 0 5px 20px 4px rgba(166, 38, 38, 0.12);
}
.button.button-primary.raised.small:hover, .button.button-primary.raised.small:focus {
  box-shadow: 0 0px 4px -2px rgba(166, 38, 38, 0.56), 0 4px 8px 0 rgba(166, 38, 38, 0.14), 0 0px 8px 2px rgba(166, 38, 38, 0.12);
}
.button.button-primary.outlined {
  background-color: transparent;
  border-color: rgba(166, 38, 38, 0.56);
  color: #a62626;
}
.button.button-primary.outlined .fill {
  fill: #a62626;
}
.button.button-primary.outlined:hover, .button.button-primary.outlined:focus {
  background-color: rgba(166, 38, 38, 0.04);
  border-color: #a62626;
}
.button.button-primary.outlined:active {
  background-color: rgba(166, 38, 38, 0.12);
  border-color: #a62626;
}
.button.button-primary.outlined .button__rippler__ripple {
  background-color: rgba(166, 38, 38, 0.12);
}
.button.button-primary.outlined.disabled,
.button.button-primary.outlined [disabled] {
  background-color: transparent;
  border-color: rgba(166, 38, 38, 0.12);
  color: rgba(166, 38, 38, 0.32);
}
.button.button-primary.outlined.disabled .fill,
.button.button-primary.outlined [disabled] .fill {
  fill: rgba(166, 38, 38, 0.32);
}
.button.button-primary.inlined {
  background-color: transparent;
  color: #a62626;
}
.button.button-primary.inlined .fill {
  fill: #a62626;
}
.button.button-primary.inlined:hover, .button.button-primary.inlined:focus {
  background-color: rgba(166, 38, 38, 0.04);
}
.button.button-primary.inlined:active {
  background-color: rgba(166, 38, 38, 0.12);
}
.button.button-primary.inlined .button__rippler__ripple {
  background-color: rgba(166, 38, 38, 0.12);
}
.button.button-primary.inlined.disabled,
.button.button-primary.inlined [disabled] {
  background-color: transparent;
  color: rgba(166, 38, 38, 0.32);
}
.button.button-primary.inlined.disabled .fill,
.button.button-primary.inlined [disabled] .fill {
  fill: rgba(166, 38, 38, 0.32);
}
.button.button-primary.inlined.disabled:hover, .button.button-primary.inlined.disabled:focus,
.button.button-primary.inlined [disabled]:hover,
.button.button-primary.inlined [disabled]:focus {
  background-color: transparent;
}
.button.button-primary:hover, .button.button-primary:focus {
  background-color: #be3737;
}
.button.button-primary:active {
  background-color: #9d1b1b;
}
.button.button-primary.disabled:hover, .button.button-primary.disabled:focus, .button.button-primary[disabled]:hover, .button.button-primary[disabled]:focus {
  background-color: whitesmoke;
}
.button.disabled, .button[disabled] {
  background-color: whitesmoke;
  color: rgba(0, 0, 0, 0.32);
  cursor: not-allowed;
  box-shadow: none !important;
}
.button.disabled .fill, .button[disabled] .fill {
  fill: rgba(0, 0, 0, 0.32);
}
.button.disabled:hover, .button[disabled]:hover {
  box-shadow: none !important;
  transform: none !important;
}
.button .button__rippler {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  border-radius: 0.25rem;
  display: block;
}
.button .button__rippler__ripple {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  transform: scale(0);
  transform-origin: center;
  pointer-events: none;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.12);
}
.button .button__ripple-animation {
  animation: button_ripple 0.4s linear;
}
@keyframes button_ripple {
  100% {
    transform: scale(4);
    opacity: 0.04;
  }
}

/*# sourceMappingURL=sonnat.elements.css.map */
