<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="assets/css/font.css" />
    <link rel="stylesheet" href="assets/css/sonnat.reset.css" />
    <link rel="stylesheet" href="assets/css/sonnat.elements.css" />
    <title>Accordion</title>
  </head>
  <body dir="rtl">
    <div class="root">
      <div id="main-wrapper" class="base-wrapper">
        <header id="header"></header>
        <main id="main" class="normal-view">
          <div class="accordion iconed">
            <p class="accordion__heading">دسته‌بندی‌ها</p>
            <ul class="accordion__list">
              <li class="accordion__list__item">
                <a href="">
                  <div class="accordion__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path
                        class="fill"
                        d="M19.1,17.69l-2.77-2.78a6.42,6.42,0,0,0,1.26-3.83,6.52,6.52,0,1,0-2.68,5.25l2.78,2.78a1,1,0,0,0,.71.29,1,1,0,0,0,.7-.29A1,1,0,0,0,19.1,17.69ZM6.59,11.08a4.5,4.5,0,1,1,4.5,4.5A4.5,4.5,0,0,1,6.59,11.08Z"
                      />
                    </svg>
                  </div>
                  املاک
                </a>
              </li>
              <li class="accordion__list__item">
                <a href="">
                  <div class="accordion__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path
                        class="fill"
                        d="M19.1,17.69l-2.77-2.78a6.42,6.42,0,0,0,1.26-3.83,6.52,6.52,0,1,0-2.68,5.25l2.78,2.78a1,1,0,0,0,.71.29,1,1,0,0,0,.7-.29A1,1,0,0,0,19.1,17.69ZM6.59,11.08a4.5,4.5,0,1,1,4.5,4.5A4.5,4.5,0,0,1,6.59,11.08Z"
                      />
                    </svg>
                  </div>
                  وسایل نقلیه
                </a>
              </li>
              <li class="accordion__list__item">
                <a
                  href=""
                  class="collapsable"
                  data-toggle="collapse"
                  data-target="#cl1"
                  data-animation="slide-horizontal"
                >
                  <div class="accordion__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path
                        class="fill"
                        d="M19.1,17.69l-2.77-2.78a6.42,6.42,0,0,0,1.26-3.83,6.52,6.52,0,1,0-2.68,5.25l2.78,2.78a1,1,0,0,0,.71.29,1,1,0,0,0,.7-.29A1,1,0,0,0,19.1,17.69ZM6.59,11.08a4.5,4.5,0,1,1,4.5,4.5A4.5,4.5,0,0,1,6.59,11.08Z"
                      />
                    </svg>
                  </div>
                  لوازم الکترونیکی
                </a>
                <ul class="accordion__list__sub-list collapse" id="cl1">
                  <li class="accordion__list__sub-list__item">
                    <a
                      href=""
                      class="collapsable"
                      data-toggle="collapse"
                      data-target="#cl2"
                      >موبایل و تبلت</a
                    >
                    <ul class="accordion__list__sub-list collapse" id="cl2">
                      <li class="accordion__list__sub-list__item">
                        <a href="" class="active">موبایل و تبلت</a>
                      </li>
                      <li class="accordion__list__sub-list__item">
                        <a href="">رایانه</a>
                      </li>
                      <li class="accordion__list__sub-list__item">
                        <a href="">کنسول، بازی‌ ویدئویی و آنلاین</a>
                      </li>
                    </ul>
                  </li>
                  <li class="accordion__list__sub-list__item">
                    <a href="">رایانه</a>
                  </li>
                  <li class="accordion__list__sub-list__item">
                    <a href="">کنسول، بازی‌ ویدئویی و آنلاین</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <hr class="divider spaced" />
          <ul class="unordered-list">
            <li><a href="">سلام</a></li>
          </ul>
        </main>
      </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/collapsable.js"></script>
  </body>
</html>
