<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="assets/css/font.css" />
    <link rel="stylesheet" href="assets/css/sonnat.reset.css" />
    <link rel="stylesheet" href="assets/css/sonnat.elements.css" />
    <title>Accordion</title>
  </head>
  <body dir="rtl">
    <div class="root">
      <div id="main-wrapper" class="base-wrapper">
        <main id="main" class="normal-view">
          <div class="accordion iconed">
            <p class="accordion__heading">دسته‌بندی‌ها</p>
            <ul class="accordion__list">
              <li class="accordion__list__item">
                <a class="back-to-root" href=""
                  ><div class="accordion__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path
                        class="fill"
                        d="M17.92,12.38a1,1,0,0,0,0-.76,1,1,0,0,0-.21-.33L13.14,6.73a1,1,0,0,0-1.41,1.41L14.59,11H7a1,1,0,0,0,0,2h7.59l-2.86,2.86a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l4.57-4.56A1,1,0,0,0,17.92,12.38Z"
                      />
                    </svg>
                  </div>
                  همه آگهی‌ها</a
                >
              </li>
              <li class="accordion__list__item">
                <a href="">
                  <div class="accordion__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path
                        class="fill"
                        d="M19.1,17.69l-2.77-2.78a6.42,6.42,0,0,0,1.26-3.83,6.52,6.52,0,1,0-2.68,5.25l2.78,2.78a1,1,0,0,0,.71.29,1,1,0,0,0,.7-.29A1,1,0,0,0,19.1,17.69ZM6.59,11.08a4.5,4.5,0,1,1,4.5,4.5A4.5,4.5,0,0,1,6.59,11.08Z"
                      />
                    </svg>
                  </div>
                  املاک
                </a>
              </li>
              <li class="accordion__list__item">
                <a href="">
                  <div class="accordion__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path
                        class="fill"
                        d="M19.1,17.69l-2.77-2.78a6.42,6.42,0,0,0,1.26-3.83,6.52,6.52,0,1,0-2.68,5.25l2.78,2.78a1,1,0,0,0,.71.29,1,1,0,0,0,.7-.29A1,1,0,0,0,19.1,17.69ZM6.59,11.08a4.5,4.5,0,1,1,4.5,4.5A4.5,4.5,0,0,1,6.59,11.08Z"
                      />
                    </svg>
                  </div>
                  وسایل نقلیه
                </a>
              </li>
              <li class="accordion__list__item has-caret">
                <a
                  href=""
                  class="collapsable"
                  data-toggle="collapse"
                  data-target="#cl1"
                >
                  <div class="accordion__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path
                        class="fill"
                        d="M19.1,17.69l-2.77-2.78a6.42,6.42,0,0,0,1.26-3.83,6.52,6.52,0,1,0-2.68,5.25l2.78,2.78a1,1,0,0,0,.71.29,1,1,0,0,0,.7-.29A1,1,0,0,0,19.1,17.69ZM6.59,11.08a4.5,4.5,0,1,1,4.5,4.5A4.5,4.5,0,0,1,6.59,11.08Z"
                      />
                    </svg>
                  </div>
                  لوازم الکترونیکی
                </a>
                <ul class="accordion__list__sub-list collapse" id="cl1">
                  <li class="accordion__list__sub-list__item">
                    <a
                      href=""
                      class="collapsable"
                      data-toggle="collapse"
                      data-target="#cl2"
                      >موبایل و تبلت</a
                    >
                    <ul class="accordion__list__sub-list collapse" id="cl2">
                      <li class="accordion__list__sub-list__item">
                        <a href="" class="active">موبایل و تبلت</a>
                      </li>
                      <li class="accordion__list__sub-list__item">
                        <a href="">رایانه</a>
                      </li>
                      <li class="accordion__list__sub-list__item">
                        <a href="">کنسول، بازی‌ ویدئویی و آنلاین</a>
                      </li>
                    </ul>
                    <div class="caret"></div>
                  </li>
                  <li class="accordion__list__sub-list__item">
                    <a href="">رایانه</a>
                  </li>
                  <li class="accordion__list__sub-list__item">
                    <a href="">کنسول، بازی‌ ویدئویی و آنلاین</a>
                  </li>
                </ul>
                <div class="caret"></div>
              </li>
            </ul>
          </div>
          <div style="max-width: 224px; margin: 32px auto">
            <hr class="divider" />
            <div class="toolbox">
              <div class="toolbox__head">
                <div
                  class="toolbox__head__title collapsable"
                  data-toggle="collapse"
                  data-target="#cl3"
                >
                  <div class="toolbox__head__title__caret"></div>
                  <strong class="toolbox__head__title__text">عنوان</strong>
                </div>
                <div class="indicator toolbox__head__indicator"></div>
              </div>
              <div class="toolbox__content collapse" id="cl3">
                <div class="toolbox__content__container">
                  <div class="checkbox-control small">
                    <div class="checkbox-control__cell">
                      <input
                        class="checkbox-control__input"
                        id="checkbox_control_1"
                        type="checkbox"
                        name="r"
                        value="x"
                      />
                      <div class="checkbox-control__button"></div>
                      <div class="checkbox-control__check-icon">
                        <svg>
                          <polyline
                            id="Path"
                            transform="translate(5.974874, 2.353553) rotate(-45.000000) translate(-5.974874, -2.353553) "
                            points="2 0.292893219 2 4.29289322 9.94974747 4.41421356"
                          ></polyline>
                        </svg>
                      </div>
                      <div class="checkbox-control__rippler rippler">
                        <div class="checkbox-control__ripple ripple"></div>
                      </div>
                    </div>
                    <label
                      class="checkbox-control__label"
                      for="checkbox_control_1"
                      >عنوان</label
                    >
                  </div>
                  <div class="checkbox-control small">
                    <div class="checkbox-control__cell">
                      <input
                        class="checkbox-control__input"
                        id="checkbox_control_2"
                        type="checkbox"
                        name="rr"
                        value="x"
                      />
                      <div class="checkbox-control__button"></div>
                      <div class="checkbox-control__check-icon">
                        <svg>
                          <polyline
                            id="Path"
                            transform="translate(5.974874, 2.353553) rotate(-45.000000) translate(-5.974874, -2.353553) "
                            points="2 0.292893219 2 4.29289322 9.94974747 4.41421356"
                          ></polyline>
                        </svg>
                      </div>
                      <div class="checkbox-control__rippler rippler">
                        <div class="checkbox-control__ripple ripple"></div>
                      </div>
                    </div>
                    <label
                      class="checkbox-control__label"
                      for="checkbox_control_2"
                      >عنوان</label
                    >
                  </div>
                  <div class="checkbox-control small">
                    <div class="checkbox-control__cell">
                      <input
                        class="checkbox-control__input"
                        id="checkbox_control_3"
                        type="checkbox"
                        name="rrr"
                        value="x"
                      />
                      <div class="checkbox-control__button"></div>
                      <div class="checkbox-control__check-icon">
                        <svg>
                          <polyline
                            id="Path"
                            transform="translate(5.974874, 2.353553) rotate(-45.000000) translate(-5.974874, -2.353553) "
                            points="2 0.292893219 2 4.29289322 9.94974747 4.41421356"
                          ></polyline>
                        </svg>
                      </div>
                      <div class="checkbox-control__rippler rippler">
                        <div class="checkbox-control__ripple ripple"></div>
                      </div>
                    </div>
                    <label
                      class="checkbox-control__label"
                      for="checkbox_control_3"
                      >عنوان</label
                    >
                  </div>
                  <div id="cl4" class="toolbox__view-more__content collapse">
                    <div class="toolbox__view-more__content__container">
                      <div class="checkbox-control small">
                        <div class="checkbox-control__cell">
                          <input
                            class="checkbox-control__input"
                            id="checkbox_control_3"
                            type="checkbox"
                            name="rrr"
                            value="x"
                          />
                          <div class="checkbox-control__button"></div>
                          <div class="checkbox-control__check-icon">
                            <svg>
                              <polyline
                                id="Path"
                                transform="translate(5.974874, 2.353553) rotate(-45.000000) translate(-5.974874, -2.353553) "
                                points="2 0.292893219 2 4.29289322 9.94974747 4.41421356"
                              ></polyline>
                            </svg>
                          </div>
                          <div class="checkbox-control__rippler rippler">
                            <div class="checkbox-control__ripple ripple"></div>
                          </div>
                        </div>
                        <label
                          class="checkbox-control__label"
                          for="checkbox_control_3"
                          >عنوان</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="toolbox__view-more collapsable"
                  data-toggle="collapse"
                  data-target="#cl4"
                >
                  <div class="toolbox__view-more__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path
                        class="fill"
                        d="M17.29,9.3a1,1,0,0,0-1.42,0L12,13.17,8.13,9.3a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.42l4.58,4.58a1,1,0,0,0,1.42,0l4.58-4.58A1,1,0,0,0,17.29,9.3Z"
                      />
                    </svg>
                  </div>
                  <span
                    class="toolbox__view-more__text"
                    data-more="بیشتر"
                    data-less="کمتر"
                    >مشاهده موارد</span
                  >
                </div>
              </div>
            </div>
            <hr class="divider" />
          </div>
        </main>
      </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/collapsable.js"></script>
  </body>
</html>
