<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="assets/css/font.css" />
    <link rel="stylesheet" href="assets/css/sonnat.reset.css" />
    <link rel="stylesheet" href="assets/css/sonnat.elements.css" />
    <title>Badge</title>
  </head>
  <body dir="rtl">
    <div class="root">
      <div
        style="display: flex; align-items: center; justify-content: center; margin: 32px auto"
      >
        <div class="badge">۳</div>
        <hr class="divider vertical spaced" />
        <div class="badge outlined">۳</div>
        <hr class="divider vertical spaced" />
        <div class="badge filled outlined">۳</div>
      </div>
    </div>
  </body>
</html>
