<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="assets/css/font.css" />
    <link rel="stylesheet" href="assets/css/sonnat.grid.css" />
    <link rel="stylesheet" href="assets/css/sonnat.elements.css" />
    <title>Breadcrumb</title>
  </head>
  <body dir="rtl">
    <div class="root">
      <main class="normal-view">
        <div class="container">
          <nav class="breadcrumb-row">
            <ol class="breadcrumb" data-responsive-behavior="multiple-step">
              <li class="breadcrumb__item"><a href="">همه آگهی‌ها</a></li>
              <li class="breadcrumb__item"><a href="">وسایل نقلیه</a></li>
              <li class="breadcrumb__item"><a href="">خودرو</a></li>
              <li class="breadcrumb__item">
                <a href="">سواریسواریسواریسواریسواریسواری</a>
              </li>
              <li class="breadcrumb__item"><a href="">سواری</a></li>
              <li class="breadcrumb__item"><a href="">سواری</a></li>
              <li class="breadcrumb__item"><a href="">سواری</a></li>
              <li class="breadcrumb__item"><a href="">سواری</a></li>
              <li class="breadcrumb__item"><a href="">سواری</a></li>
              <li class="breadcrumb__item"><a href="">پژو ۲۰۶ سفید</a></li>
            </ol>
          </nav>
          <hr class="divider spaced" />
          <nav class="breadcrumb-row">
            <ol class="breadcrumb" data-responsive-behavior="single-step">
              <li class="breadcrumb__item"><a href="">همه آگهی‌ها</a></li>
              <li class="breadcrumb__item"><a href="">وسایل نقلیه</a></li>
              <li class="breadcrumb__item"><a href="">خودرو</a></li>
              <li class="breadcrumb__item">
                <a href="">سواریسواریسواریسواریسواریسواری</a>
              </li>
              <li class="breadcrumb__item"><a href="">سواری</a></li>
              <li class="breadcrumb__item"><a href="">سواری</a></li>
              <li class="breadcrumb__item"><a href="">سواری</a></li>
              <li class="breadcrumb__item"><a href="">سواری</a></li>
              <li class="breadcrumb__item"><a href="">سواری</a></li>
              <li class="breadcrumb__item"><a href="">پژو ۲۰۶ سفید</a></li>
            </ol>
          </nav>
        </div>
      </main>
    </div>
  </body>
</html>
