<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="assets/css/font.css" />
    <link rel="stylesheet" href="assets/css/sonnat.reset.css" />
    <link rel="stylesheet" href="assets/css/sonnat.elements.css" />
    <title>Button</title>
    <style>
      #x {
        background-color: transparent;
      }
    </style>
  </head>
  <body class="fa">
    <div id="x" class="root">
      <div id="main-wrapper" class="base-wrapper">
        <header id="header"></header>
        <main id="main">
          <div class="display-flex">
            <button class="button">دکمه</button>
            <button class="button raised">دکمه</button>
            <button class="button button-primary">دکمه</button>
            <button class="raised button button-primary">دکمه</button>
            <button class="iconed button">
              <div class="button__icon icon-20">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path
                    class="fill"
                    d="M7.14,10.69a.67.67,0,0,1-.47-.2L4.74,8.56a.68.68,0,0,1,0-1,.66.66,0,0,1,.94,0L7.14,9.08l3.37-3.37a.68.68,0,0,1,1,0,.66.66,0,0,1,0,.94L7.62,10.49A.69.69,0,0,1,7.14,10.69Z"
                  />
                  <path
                    class="fill"
                    d="M8,2A6,6,0,1,1,2,8,6,6,0,0,1,8,2M8,.64A7.34,7.34,0,1,0,15.33,8,7.34,7.34,0,0,0,8,.64Z"
                  />
                </svg>
              </div>
              <span>دکمه</span>
            </button>
            <button class="button button-primary outlined iconed button">
              <div class="button__icon icon-20">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path
                    class="fill"
                    d="M7.14,10.69a.67.67,0,0,1-.47-.2L4.74,8.56a.68.68,0,0,1,0-1,.66.66,0,0,1,.94,0L7.14,9.08l3.37-3.37a.68.68,0,0,1,1,0,.66.66,0,0,1,0,.94L7.62,10.49A.69.69,0,0,1,7.14,10.69Z"
                  />
                  <path
                    class="fill"
                    d="M8,2A6,6,0,1,1,2,8,6,6,0,0,1,8,2M8,.64A7.34,7.34,0,1,0,15.33,8,7.34,7.34,0,0,0,8,.64Z"
                  />
                </svg>
              </div>
              <span>دکمه</span>
            </button>
            <button class="button button-primary outlined">دکمه</button>
            <button class="button-text iconed button">
              <div class="button__icon icon-20">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path
                    class="fill"
                    d="M7.14,10.69a.67.67,0,0,1-.47-.2L4.74,8.56a.68.68,0,0,1,0-1,.66.66,0,0,1,.94,0L7.14,9.08l3.37-3.37a.68.68,0,0,1,1,0,.66.66,0,0,1,0,.94L7.62,10.49A.69.69,0,0,1,7.14,10.69Z"
                  />
                  <path
                    class="fill"
                    d="M8,2A6,6,0,1,1,2,8,6,6,0,0,1,8,2M8,.64A7.34,7.34,0,1,0,15.33,8,7.34,7.34,0,0,0,8,.64Z"
                  />
                </svg>
              </div>
              <span>دکمه</span>
              <div class="button__icon icon-20">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path
                    class="fill"
                    d="M7.14,10.69a.67.67,0,0,1-.47-.2L4.74,8.56a.68.68,0,0,1,0-1,.66.66,0,0,1,.94,0L7.14,9.08l3.37-3.37a.68.68,0,0,1,1,0,.66.66,0,0,1,0,.94L7.62,10.49A.69.69,0,0,1,7.14,10.69Z"
                  />
                  <path
                    class="fill"
                    d="M8,2A6,6,0,1,1,2,8,6,6,0,0,1,8,2M8,.64A7.34,7.34,0,1,0,15.33,8,7.34,7.34,0,0,0,8,.64Z"
                  />
                </svg>
              </div>
            </button>
            <button class="button-text iconed button">
              <div class="button__icon icon-20">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path
                    class="fill"
                    d="M7.14,10.69a.67.67,0,0,1-.47-.2L4.74,8.56a.68.68,0,0,1,0-1,.66.66,0,0,1,.94,0L7.14,9.08l3.37-3.37a.68.68,0,0,1,1,0,.66.66,0,0,1,0,.94L7.62,10.49A.69.69,0,0,1,7.14,10.69Z"
                  />
                  <path
                    class="fill"
                    d="M8,2A6,6,0,1,1,2,8,6,6,0,0,1,8,2M8,.64A7.34,7.34,0,1,0,15.33,8,7.34,7.34,0,0,0,8,.64Z"
                  />
                </svg>
              </div>
              <span>دکمه</span>
            </button>
            <button class="button-text iconed button">
              <span>دکمه</span>
              <div class="button__icon icon-20">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path
                    class="fill"
                    d="M7.14,10.69a.67.67,0,0,1-.47-.2L4.74,8.56a.68.68,0,0,1,0-1,.66.66,0,0,1,.94,0L7.14,9.08l3.37-3.37a.68.68,0,0,1,1,0,.66.66,0,0,1,0,.94L7.62,10.49A.69.69,0,0,1,7.14,10.69Z"
                  />
                  <path
                    class="fill"
                    d="M8,2A6,6,0,1,1,2,8,6,6,0,0,1,8,2M8,.64A7.34,7.34,0,1,0,15.33,8,7.34,7.34,0,0,0,8,.64Z"
                  />
                </svg>
              </div>
            </button>
            <button class="button-text outlined iconed button">
              <span>دکمه</span>
              <div class="button__icon icon-20">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path
                    class="fill"
                    d="M7.14,10.69a.67.67,0,0,1-.47-.2L4.74,8.56a.68.68,0,0,1,0-1,.66.66,0,0,1,.94,0L7.14,9.08l3.37-3.37a.68.68,0,0,1,1,0,.66.66,0,0,1,0,.94L7.62,10.49A.69.69,0,0,1,7.14,10.69Z"
                  />
                  <path
                    class="fill"
                    d="M8,2A6,6,0,1,1,2,8,6,6,0,0,1,8,2M8,.64A7.34,7.34,0,1,0,15.33,8,7.34,7.34,0,0,0,8,.64Z"
                  />
                </svg>
              </div>
            </button>
            <button class="button-text outlined iconed button">
              <div class="button__icon icon-20">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path
                    class="fill"
                    d="M7.14,10.69a.67.67,0,0,1-.47-.2L4.74,8.56a.68.68,0,0,1,0-1,.66.66,0,0,1,.94,0L7.14,9.08l3.37-3.37a.68.68,0,0,1,1,0,.66.66,0,0,1,0,.94L7.62,10.49A.69.69,0,0,1,7.14,10.69Z"
                  />
                  <path
                    class="fill"
                    d="M8,2A6,6,0,1,1,2,8,6,6,0,0,1,8,2M8,.64A7.34,7.34,0,1,0,15.33,8,7.34,7.34,0,0,0,8,.64Z"
                  />
                </svg>
              </div>
              <span>دکمه</span>
              <div class="button__icon icon-20">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path
                    class="fill"
                    d="M7.14,10.69a.67.67,0,0,1-.47-.2L4.74,8.56a.68.68,0,0,1,0-1,.66.66,0,0,1,.94,0L7.14,9.08l3.37-3.37a.68.68,0,0,1,1,0,.66.66,0,0,1,0,.94L7.62,10.49A.69.69,0,0,1,7.14,10.69Z"
                  />
                  <path
                    class="fill"
                    d="M8,2A6,6,0,1,1,2,8,6,6,0,0,1,8,2M8,.64A7.34,7.34,0,1,0,15.33,8,7.34,7.34,0,0,0,8,.64Z"
                  />
                </svg>
              </div>
            </button>
            <button class="button-text button">دکمه</button>
            <button class="outlined button">دکمه</button>
            <button class="button rounded">دکمه</button>
            <button class="button disabled">دکمه</button>
            <button class="button button-primary ripple-element">دکمه</button>
            <button class="button button-text ripple-element">دکمه</button>
            <button class="button outlined ripple-element">دکمه</button>
            <button class="button button-primary outlined ripple-element">
              دکمه
            </button>
          </div>
        </main>
      </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/button.js"></script>
  </body>
</html>
