<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="assets/css/font.css" />
    <link rel="stylesheet" href="assets/css/sonnat.font-icon.css" />
    <link rel="stylesheet" href="assets/css/sonnat.reset.css" />
    <link rel="stylesheet" href="assets/css/sonnat.elements.css" />
    <title>Card Post (Divar)</title>
  </head>
  <body dir="rtl">
    <div class="root">
      <div
        style="display: flex; align-items: center; justify-content: center; margin: 32px auto; max-width: 420px;"
      >
        <article class="card-post">
          <div class="card-post__content">
            <strong class="card-post__content__title">کیا سورنتو ۲۰۱۷</strong>
            <p class="card-post__content__descriptor">۱۰۰,۰۰۰,۰۰۰ تومان</p>
            <p class="card-post__content__descriptor">۱۰۰,۰۰۰,۰۰۰ تومان</p>
            <div class="card-post__content__footer">
              <div class="card-post__content__footer__tags">
                <span>نمایشگاه</span><span>فوری</span><span>در نظام‌آباد</span>
              </div>
              <div
                class="card-post__content__footer__chat sonnat-icon sonnat-icon-dialog-o"
              ></div>
            </div>
          </div>
          <div class="card-post__image responsive-imagery">
            <img
              class="w-responsive-image"
              src="assets/media/pic.png"
              alt="Card Post Image"
            />
          </div>
        </article>
      </div>
    </div>
  </body>
</html>
