<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="assets/css/font.css" />
    <link rel="stylesheet" href="assets/css/sonnat.font-icon.css" />
    <link rel="stylesheet" href="assets/css/sonnat.reset.css" />
    <link rel="stylesheet" href="assets/css/sonnat.elements.css" />
    <title>Clearfield</title>
  </head>
  <body dir="rtl">
    <div class="root">
      <div
        style="display: flex; align-items: center; justify-content: center; flex-direction: column; margin: 16px 0;"
      >
        <div class="clear-field sonnat-icon sonnat-icon-remove-o large"></div>
        <div class="clear-field sonnat-icon sonnat-icon-remove-o"></div>
        <div class="clear-field sonnat-icon sonnat-icon-remove-o small"></div>
      </div>
      <hr class="divider spaced" />
      <div
        style="display: flex; align-items: center; justify-content: center; flex-direction: column; margin: 16px 0;"
      >
        <div
          class="clear-field sonnat-icon sonnat-icon-remove-o primary large"
        ></div>
        <div class="clear-field sonnat-icon sonnat-icon-remove-o primary"></div>
        <div
          class="clear-field sonnat-icon sonnat-icon-remove-o primary small"
        ></div>
      </div>
      <hr class="divider spaced" />
      <div
        style="display: flex; align-items: center; justify-content: center; flex-direction: column; margin: 16px 0;"
      >
        <div
          class="clear-field sonnat-icon sonnat-icon-remove-o white large"
        ></div>
        <div class="clear-field sonnat-icon sonnat-icon-remove-o white"></div>
        <div
          class="clear-field sonnat-icon sonnat-icon-remove-o white small"
        ></div>
      </div>
      <div style="display: flex;justify-content: center">
        <div class="clear-field clear-field--button">
          <div class="clear-field--button__wrapper">
            <span
              class="clear-field--button__icon sonnat-icon sonnat-icon-remove-o"
            ></span>
            <span class="clear-field--button__text">حذف</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
