<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="assets/css/font.css" />
    <link rel="stylesheet" href="assets/css/sonnat.font-icon.css" />
    <link rel="stylesheet" href="assets/css/sonnat.reset.css" />
    <link rel="stylesheet" href="assets/css/sonnat.elements.css" />
    <title>Dropdown</title>
  </head>
  <body dir="rtl">
    <div class="root">
      <div
        style="display: flex; align-items: center; justify-content: center; margin: 32px auto"
      >
        <div class="dropdown">
          <button class="dropdown__toggle has-caret" data-toggle="dropdown">
            دراپ داون
          </button>
          <div class="dropdown__content">
            <ul class="dropdown__menu">
              <li class="dropdown__menu__item"><a href="">اول</a></li>
              <li class="dropdown__menu__item"><a href="">دوم</a></li>
              <li class="dropdown__menu__item"><a href="">سوم</a></li>
              <li><hr class="divider" /></li>
              <li class="dropdown__menu__item"><a href="">چهارم</a></li>
              <li class="dropdown__menu__item"><a href="">پنجم</a></li>
            </ul>
          </div>
        </div>
        <hr class="divider vertical spaced" />
        <div class="dropdown primary">
          <button class="dropdown__toggle" data-toggle="dropdown">
            دراپ داون
          </button>
          <div class="dropdown__content">
            <ul class="dropdown__menu">
              <li class="dropdown__menu__item"><a href="">اول</a></li>
              <li class="dropdown__menu__item"><a href="">دوم</a></li>
              <li class="dropdown__menu__item"><a href="">سوم</a></li>
              <li class="dropdown__menu__item"><a href="">چهارم</a></li>
              <li class="dropdown__menu__item"><a href="">پنجم</a></li>
            </ul>
          </div>
        </div>
        <hr class="divider vertical spaced" />
        <div class="dropdown outlined">
          <button class="dropdown__toggle" data-toggle="dropdown">
            دراپ داون
          </button>
          <div class="dropdown__content">
            <ul class="dropdown__menu">
              <li class="dropdown__menu__item"><a href="">اول</a></li>
              <li class="dropdown__menu__item"><a href="">دوم</a></li>
              <li class="dropdown__menu__item"><a href="">سوم</a></li>
              <li><hr class="divider" /></li>
              <li class="dropdown__menu__item"><a href="">چهارم</a></li>
              <li class="dropdown__menu__item"><a href="">پنجم</a></li>
            </ul>
          </div>
        </div>
        <hr class="divider vertical spaced" />
        <div class="dropdown primary outlined">
          <button class="dropdown__toggle" data-toggle="dropdown">
            دراپ داون
          </button>
          <div class="dropdown__content">
            <ul class="dropdown__menu">
              <li class="dropdown__menu__item"><a href="">اول</a></li>
              <li class="dropdown__menu__item"><a href="">دوم</a></li>
              <li class="dropdown__menu__item"><a href="">سوم</a></li>
              <li><hr class="divider" /></li>
              <li class="dropdown__menu__item"><a href="">چهارم</a></li>
              <li class="dropdown__menu__item"><a href="">پنجم</a></li>
            </ul>
          </div>
        </div>
        <hr class="divider vertical spaced" />
        <div class="dropdown iconed">
          <button class="dropdown__toggle" data-toggle="dropdown">
            <div
              class="dropdown__toggle__icon sonnat-icon sonnat-icon-favourite"
            ></div>
            <span class="dropdown__toggle__text">دراپ داون</span>
          </button>
          <div class="dropdown__content">
            <ul class="dropdown__menu">
              <li class="dropdown__menu__item"><a href="">اول</a></li>
              <li class="dropdown__menu__item"><a href="">دوم</a></li>
              <li class="dropdown__menu__item"><a href="">سوم</a></li>
              <li><hr class="divider" /></li>
              <li class="dropdown__menu__item"><a href="">چهارم</a></li>
              <li class="dropdown__menu__item"><a href="">پنجم</a></li>
            </ul>
          </div>
        </div>
        <hr class="divider vertical spaced" />
        <div class="dropdown primary iconed">
          <button class="dropdown__toggle" data-toggle="dropdown">
            <div
              class="dropdown__toggle__icon sonnat-icon sonnat-icon-favourite"
            ></div>
            <span class="dropdown__toggle__text">دراپ داون</span>
          </button>
          <div class="dropdown__content">
            <ul class="dropdown__menu">
              <li class="dropdown__menu__item"><a href="">اول</a></li>
              <li class="dropdown__menu__item"><a href="">دوم</a></li>
              <li class="dropdown__menu__item"><a href="">سوم</a></li>
              <li><hr class="divider" /></li>
              <li class="dropdown__menu__item"><a href="">چهارم</a></li>
              <li class="dropdown__menu__item"><a href="">پنجم</a></li>
            </ul>
          </div>
        </div>
        <hr class="divider vertical spaced" />
        <div class="dropdown outlined iconed">
          <button class="dropdown__toggle has-caret" data-toggle="dropdown">
            <div
              class="dropdown__toggle__icon sonnat-icon sonnat-icon-favourite"
            ></div>
            <span class="dropdown__toggle__text">دراپ داون</span>
          </button>
          <div class="dropdown__content">
            <ul class="dropdown__menu">
              <li class="dropdown__menu__item"><a href="">اول</a></li>
              <li class="dropdown__menu__item"><a href="">دوم</a></li>
              <li class="dropdown__menu__item"><a href="">سوم</a></li>
              <li><hr class="divider" /></li>
              <li class="dropdown__menu__item"><a href="">چهارم</a></li>
              <li class="dropdown__menu__item"><a href="">پنجم</a></li>
            </ul>
          </div>
        </div>
        <hr class="divider vertical spaced" />
        <div class="dropdown primary outlined iconed">
          <button class="dropdown__toggle has-caret" data-toggle="dropdown">
            <div
              class="dropdown__toggle__icon sonnat-icon sonnat-icon-favourite"
            ></div>
            <span class="dropdown__toggle__text">دراپ داون</span>
          </button>
          <div class="dropdown__content">
            <ul class="dropdown__menu">
              <li class="dropdown__menu__item"><a href="">اول</a></li>
              <li class="dropdown__menu__item"><a href="">دوم</a></li>
              <li class="dropdown__menu__item"><a href="">سوم</a></li>
              <li><hr class="divider" /></li>
              <li class="dropdown__menu__item"><a href="">چهارم</a></li>
              <li class="dropdown__menu__item"><a href="">پنجم</a></li>
            </ul>
          </div>
        </div>
        <hr class="divider vertical spaced" />
        <div class="dropdown inlined iconed">
          <button class="dropdown__toggle has-caret" data-toggle="dropdown">
            <div
              class="dropdown__toggle__icon sonnat-icon sonnat-icon-favourite"
            ></div>
            <span class="dropdown__toggle__text">دراپ داون</span>
          </button>
          <div class="dropdown__content">
            <ul class="dropdown__menu">
              <li class="dropdown__menu__item"><a href="">اول</a></li>
              <li class="dropdown__menu__item"><a href="">دوم</a></li>
              <li class="dropdown__menu__item"><a href="">سوم</a></li>
              <li><hr class="divider" /></li>
              <li class="dropdown__menu__item"><a href="">چهارم</a></li>
              <li class="dropdown__menu__item"><a href="">پنجم</a></li>
            </ul>
          </div>
        </div>
        <hr class="divider vertical spaced" />
        <div class="dropdown primary inlined iconed">
          <button class="dropdown__toggle has-caret" data-toggle="dropdown">
            <div
              class="dropdown__toggle__icon sonnat-icon sonnat-icon-favourite"
            ></div>
            <span class="dropdown__toggle__text">دراپ داون</span>
          </button>
          <div class="dropdown__content">
            <ul class="dropdown__menu">
              <li class="dropdown__menu__item"><a href="">اول</a></li>
              <li class="dropdown__menu__item"><a href="">دوم</a></li>
              <li class="dropdown__menu__item"><a href="">سوم</a></li>
              <li><hr class="divider" /></li>
              <li class="dropdown__menu__item"><a href="">چهارم</a></li>
              <li class="dropdown__menu__item"><a href="">پنجم</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/dropdown.js"></script>
  </body>
</html>
