<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="assets/css/font.css" />
    <link rel="stylesheet" href="assets/css/sonnat.font-icon.css" />
    <link rel="stylesheet" href="assets/css/sonnat.reset.css" />
    <link rel="stylesheet" href="assets/css/sonnat.elements.css" />
    <title>Floating Action Button</title>
  </head>
  <body dir="rtl">
    <div class="root">
      <div id="main-wrapper" class="base-wrapper">
        <header id="header"></header>
        <main id="main">
          <div class="display-flex">
            <button class="fab labeled ripple-element">
              <div class="fab__icon sonnat-icon sonnat-icon-favourite"></div>
              <span class="fab__label">عنوان</span>
              <div class="fab__rippler rippler">
                <div
                  class="fab__rippler__ripple ripple fab__ripple-animation"
                ></div>
              </div>
            </button>
          </div>
        </main>
      </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/fab.js"></script>
  </body>
</html>
