<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="assets/css/font.css" />
    <link rel="stylesheet" href="assets/css/sonnat.font-icon.css" />
    <link rel="stylesheet" href="assets/css/sonnat.reset.css" />
    <link rel="stylesheet" href="assets/css/sonnat.elements.css" />
    <title>Form Field</title>
  </head>
  <body dir="rtl">
    <div class="root">
      <div id="main-wrapper" class="base-wrapper">
        <header id="header"></header>
        <main id="main" class="normal-view">
          <div class="form-field">
            <label for="text-input-0" class="form-field__label">عنوان</label>
            <p class="form-field__description">
              به‌منظور تأیید شمارهٔ موبایل، کدی برای شما پیامک خواهد شد. لطفاً
              کد دریافت‌شده را وارد کنید:
            </p>
            <div
              class="form-field__control text-field iconed iconed--leading iconed--trailing"
            >
              <input
                id="text-input-0"
                class="text-field__input"
                type="text"
                placeholder="متن جایگزین"
                name="text_input"
                maxlength="20"
              />
              <div class="text-field__icons">
                <div class="text-field__icons__leading">
                  <div
                    class="text-field__icon sonnat-icon sonnat-icon-favourite"
                  ></div>
                </div>
                <div class="text-field__icons__trailing">
                  <div
                    class="text-field__icon sonnat-icon sonnat-icon-favourite"
                  ></div>
                </div>
              </div>
              <div class="text-field__wrapper"></div>
            </div>
            <div class="form-field__hints">
              <div class="form-field__hints__hint-text">متن راهنما</div>
              <div class="form-field__hints__input-length-limit">
                <span class="current">0</span>/<span class="length">40</span>
              </div>
            </div>
          </div>
          <div class="form-field">
            <label for="text-input-1" class="form-field__label">عنوان</label>
            <p class="form-field__description">
              به‌منظور تأیید شمارهٔ موبایل، کدی برای شما پیامک خواهد شد. لطفاً
              کد دریافت‌شده را وارد کنید:
            </p>
            <div
              class="form-field__control text-field iconed iconed--leading iconed--trailing"
            >
              <input
                id="text-input-1"
                class="text-field__input"
                type="text"
                placeholder="متن جایگزین"
                name="text_input"
                maxlength="20"
              />
              <div class="text-field__icons">
                <div class="text-field__icons__leading">
                  <div
                    class="text-field__icon sonnat-icon sonnat-icon-favourite"
                  ></div>
                </div>
                <div class="text-field__icons__trailing">
                  <div
                    class="text-field__icon sonnat-icon sonnat-icon-favourite"
                  ></div>
                </div>
              </div>
              <div class="text-field__wrapper"></div>
            </div>
            <div class="form-field__hints">
              <div class="form-field__hints__hint-text">متن راهنما</div>
              <div class="form-field__hints__input-length-limit">
                <span class="current">0</span>/<span class="length">40</span>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/text-field.js"></script>
  </body>
</html>
