<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="assets/css/font.css" />
    <link rel="stylesheet" href="assets/css/sonnat.css" />
    <title>List</title>
  </head>
  <body dir="rtl">
    <div class="root">
      <div id="main-wrapper" class="base-wrapper">
        <header id="header"></header>
        <main id="main" class="normal-view">
          <div class="container">
            <div class="section-row">
              <div class="section-row__title">عنوان</div>
              <div class="section-row__paragraph">
                می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و
                شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی
                دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی
                اساسا مورد استفاده قرار گیرد.می توان امید داشت که تمام و دشواری
                موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد
                نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل
                دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
              </div>
            </div>
            <ul class="unordered-list">
              <li>آیتم شماره ۱</li>
              <li>آیتم شماره ۲</li>
              <li>آیتم شماره ۳</li>
            </ul>
            <hr class="divider spaced" />
            <ul class="unordered-list padded">
              <li>آیتم شماره ۱</li>
              <li>آیتم شماره ۲</li>
              <li>
                آیتم شماره ۳
                <ul class="unordered-list">
                  <li>آیتم درونی</li>
                  <li>آیتم درونی</li>
                  <li>
                    آیتم درونی
                    <ul class="unordered-list">
                      <li>شششسسط</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
            <hr class="divider spaced" />
            <ol class="ordered-list padded">
              <li>آیتم شماره ۱</li>
              <li>آیتم شماره ۲</li>
              <li>
                آیتم شماره ۳
                <ol class="ordered-list">
                  <li>آیتم درونی</li>
                  <li>آیتم درونی</li>
                  <li>
                    آیتم درونی
                    <ol class="ordered-list">
                      <li>شششسسط</li>
                    </ol>
                  </li>
                </ol>
              </li>
            </ol>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
