<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="assets/css/font.css" />
    <link rel="stylesheet" href="assets/css/sonnat.reset.css" />
    <link rel="stylesheet" href="assets/css/sonnat.elements.css" />
    <title>Radio Form Control</title>
  </head>
  <body class="fa">
    <div class="root">
      <div id="main-wrapper" class="base-wrapper">
        <header id="header"></header>
        <main id="main">
          <div class="radio-control">
            <div class="radio-control__cell">
              <input
                class="radio-control__input"
                id="radio_control_1"
                type="radio"
                name="r"
                value="x"
              />
              <div class="radio-control__button"></div>
              <div class="radio-control__rippler rippler">
                <div class="radio-control__ripple ripple"></div>
              </div>
            </div>
            <label class="radio-control__label" for="radio_control_1"
              >عنوان</label
            >
          </div>
        </main>
      </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/switch.js"></script>
  </body>
</html>
