<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="assets/css/font.css" />
    <link rel="stylesheet" href="assets/css/sonnat.font-icon.css" />
    <link rel="stylesheet" href="assets/css/sonnat.reset.css" />
    <link rel="stylesheet" href="assets/css/sonnat.elements.css" />
    <title>Range Picker</title>
  </head>
  <body dir="rtl">
    <div class="root">
      <div
        style="display: flex; align-items: center; justify-content: center; flex-direction: column; margin: 32px auto"
      >
        <div
          class="range-picker has-infimum"
          data-min="0"
          data-max="150000"
          data-step="10000"
        >
          <div class="range-picker__wrapper">
            <div class="range-picker__steps"></div>
            <div class="range-picker__interval">
              <div class="range-picker__sup-handle range-picker__handle">
                <button
                  class="range-picker__sup-handle__circle range-picker__handle__circle"
                >
                  <div
                    class="range-picker__handle__icon sonnat-icon sonnat-icon-arrow-left-o"
                  ></div>
                </button>
              </div>
              <div class="range-picker__track"></div>
              <div class="range-picker__inf-handle range-picker__handle">
                <button
                  class="range-picker__inf-handle__circle range-picker__handle__circle"
                >
                  <div
                    class="range-picker__handle__icon sonnat-icon sonnat-icon-arrow-right-o"
                  ></div>
                </button>
              </div>
            </div>
          </div>
        </div>
        <hr class="divider spaced" />
        <div class="range-picker">
          <input
            max="224"
            min="0"
            value="100"
            step="22.4"
            type="range"
            class="range-picker__input"
          />
          <div class="range-picker__wrapper">
            <div class="range-picker__steps"></div>
            <div class="range-picker__interval">
              <div class="range-picker__sup-handle range-picker__handle">
                <button
                  class="range-picker__sup-handle__circle range-picker__handle__circle"
                >
                  <div
                    class="range-picker__handle__icon sonnat-icon sonnat-icon-arrow-left-o"
                  ></div>
                </button>
              </div>
              <div class="range-picker__track"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/range-picker.js"></script>
  </body>
</html>
