<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="assets/css/font.css" />
    <link rel="stylesheet" href="assets/css/sonnat.font-icon.css" />
    <link rel="stylesheet" href="assets/css/sonnat.reset.css" />
    <link rel="stylesheet" href="assets/css/sonnat.elements.css" />
    <title>Rows</title>
  </head>
  <body dir="rtl">
    <div class="root">
      <div
        style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin: 32px auto; max-width: 730px"
      >
        <div class="row-element">
          <div class="row-element__lead-segment">
            <div
              class="row-element__lead-segment__icon sonnat-icon sonnat-icon-favourite"
            ></div>
            <div class="row-element__lead-segment__title">عنوان</div>
            <div class="row-element__lead-segment__subtitle">ریزعنوان</div>
          </div>
          <div class="row-element__mid-segment">
            <div class="row-element__mid-segment__title">وسط‌عنوان</div>
          </div>
          <div class="row-element__trail-segment">
            <div class="row-element__trail-segment__title">ته‌عنوان</div>
            <div class="row-element__trail-segment__score">
              <div class="scorebar">
                <div class="scorebar__base">
                  <div class="scorebar__fill"></div>
                  <div class="scorebar__dividers">
                    <div class="scorebar__divider"></div>
                    <div class="scorebar__divider"></div>
                    <div class="scorebar__divider"></div>
                    <div class="scorebar__divider"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-element__trail-segment__indicator">
              <div class="indicator"></div>
            </div>
            <div
              class="row-element__trail-segment__icon sonnat-icon sonnat-icon-arrow-left-o"
            ></div>
          </div>
        </div>
        <div class="row-element row-feature">
          <div class="row-element__lead-segment">
            <div
              class="row-element__lead-segment__icon sonnat-icon sonnat-icon-favourite"
            ></div>
            <div class="row-element__lead-segment__title">
              عنوان عنوان عنوان عنوانعنوان عنوان عنوان عنوانعنوان عنوان عنوان
              عنوانعنوان عنوان عنوان عنوانعنوان عنوان عنوان عنوان
            </div>
          </div>
        </div>
        <div class="row-element row-expandable">
          <div
            class="row-element__collapsable collapsable"
            data-toggle="collapse"
            data-target="#cl"
          >
            <div class="row-element__lead-segment">
              <div
                class="row-element__lead-segment__icon sonnat-icon sonnat-icon-favourite"
              ></div>
              <div class="row-element__lead-segment__title">عنوان</div>
              <div class="row-element__lead-segment__subtitle">ریزعنوان</div>
            </div>
            <div class="row-element__trail-segment">
              <div class="row-element__trail-segment__title">ته‌عنوان</div>
              <div class="row-element__trail-segment__caret">
                <div class="caret"></div>
              </div>
            </div>
          </div>
          <div class="row-element__collapsed-content collapse" id="cl">
            <div class="row-element__collapsed-content__container">
              <p class="row-element__collapsed-content__container__description">
                رنگ سفید، دنده اتوماتیک، لاستیک نو، دزدگیر، سنسور دنده عقب،
                سیستم صوتی
              </p>
            </div>
          </div>
        </div>
        <div class="row-element">
          <div class="row-element__lead-segment">
            <div class="row-element__lead-segment__title">
              پژو 206 تیپ 5 فول آپشنال مدل 98 خاکستری متالیک
            </div>
          </div>
          <div class="row-element__mid-segment">
            <div class="row-element__mid-segment__title">وسط‌عنوان</div>
          </div>
          <div class="row-element__trail-segment">
            <div class="row-element__trail-segment__title">ته‌عنوان</div>
            <div
              class="row-element__trail-segment__icon sonnat-icon sonnat-icon-arrow-left-o"
            ></div>
          </div>
        </div>
        <div class="row-element">
          <div class="row-element__lead-segment">
            <div class="row-element__lead-segment__title">
              عنوان عنوان عنوان
            </div>
          </div>
          <div class="row-element__mid-segment">
            <div class="row-element__mid-segment__title">وسط‌عنوان</div>
          </div>
          <div class="row-element__trail-segment">
            <div class="row-element__trail-segment__title">ته‌عنوان</div>
            <div
              class="row-element__trail-segment__icon sonnat-icon sonnat-icon-arrow-left-o"
            ></div>
          </div>
        </div>
        <div class="row-element">
          <div class="row-element__lead-segment">
            <div class="row-element__lead-segment__title">عنوان</div>
          </div>
          <div class="row-element__mid-segment">
            <div class="row-element__mid-segment__title">وسط‌عنوان</div>
          </div>
          <div class="row-element__trail-segment">
            <div class="row-element__trail-segment__title">ته‌عنوان</div>
            <div
              class="row-element__trail-segment__icon sonnat-icon sonnat-icon-arrow-left-o"
            ></div>
          </div>
        </div>
        <div class="row-element">
          <div class="row-element__lead-segment">
            <div
              class="row-element__lead-segment__icon sonnat-icon sonnat-icon-favourite"
            ></div>
            <div class="row-element__lead-segment__title">عنوان</div>
          </div>
          <div class="row-element__trail-segment">
            <div class="row-element__trail-segment__control">
              <div class="switch-toggle">
                <div class="switch-toggle__cell">
                  <input
                    class="switch-toggle__input"
                    type="checkbox"
                    name="sw"
                  />
                  <div class="switch-toggle__track">
                    <div class="switch-toggle__button">
                      <div class="switch-toggle__handle"></div>
                      <div class="switch-toggle__rippler rippler">
                        <div class="switch-toggle__ripple ripple"></div>
                      </div>
                    </div>
                    <div class="switch-toggle__indicator"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row-element">
          <div class="row-element__lead-segment">
            <div
              class="row-element__lead-segment__icon sonnat-icon sonnat-icon-favourite"
            ></div>
            <div class="row-element__lead-segment__title">عنوان</div>
          </div>
          <div class="row-element__trail-segment">
            <div class="row-element__trail-segment__control">
              <div class="checkbox-control">
                <div class="checkbox-control__cell">
                  <input
                    class="checkbox-control__input"
                    type="checkbox"
                    name="r"
                    value="x"
                  />
                  <div class="checkbox-control__button"></div>
                  <div class="checkbox-control__check-icon">
                    <svg>
                      <polyline
                        id="Path"
                        transform="translate(5.974874, 2.353553) rotate(-45.000000) translate(-5.974874, -2.353553) "
                        points="2 0.292893219 2 4.29289322 9.94974747 4.41421356"
                      ></polyline>
                    </svg>
                  </div>
                  <div class="checkbox-control__rippler rippler">
                    <div class="checkbox-control__ripple ripple"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row-element">
          <div class="row-element__lead-segment">
            <div class="row-element__lead-segment__control">
              <div class="radio-control">
                <div class="radio-control__cell">
                  <input
                    class="radio-control__input"
                    type="radio"
                    name="r"
                    value="x"
                  />
                  <div class="radio-control__button"></div>
                  <div class="radio-control__rippler rippler">
                    <div class="radio-control__ripple ripple"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-element__lead-segment__title">عنوان</div>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/collapsable.js"></script>
  </body>
</html>
