<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="assets/css/font.css" />
    <link rel="stylesheet" href="assets/css/sonnat.font-icon.css" />
    <link rel="stylesheet" href="assets/css/sonnat.reset.css" />
    <link rel="stylesheet" href="assets/css/sonnat.elements.css" />
    <title>Rows</title>
  </head>
  <body dir="rtl">
    <div class="root">
      <div
        style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin: 32px auto; width: 730px"
      >
        <div class="row-element">
          <div class="row-element__lead-segment">
            <div
              class="row-element__lead-segment__icon sonnat-icon sonnat-icon-favourite"
            ></div>
            <div class="row-element__lead-segment__title">عنوان</div>
            <div class="row-element__lead-segment__subtitle">ریزعنوان</div>
          </div>
          <div class="row-element__mid-segment">
            <div class="row-element__mid-segment__title">وسط‌عنوان</div>
          </div>
          <div class="row-element__trail-segment">
            <div class="row-element__trail-segment__title">ته‌عنوان</div>
            <div class="row-element__trail-segment__score">
              <div class="scorebar">
                <div class="scorebar__base">
                  <div class="scorebar__fill"></div>
                  <div class="scorebar__dividers">
                    <div class="scorebar__divider"></div>
                    <div class="scorebar__divider"></div>
                    <div class="scorebar__divider"></div>
                    <div class="scorebar__divider"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-element__trail-segment__indicator">
              <div class="indicator"></div>
            </div>
            <div
              class="row-element__trail-segment__icon sonnat-icon sonnat-icon-arrow-left-o"
            ></div>
          </div>
        </div>
        <div class="row-element row-feature">
          <div class="row-element__lead-segment">
            <div
              class="row-element__lead-segment__icon sonnat-icon sonnat-icon-favourite"
            ></div>
            <div class="row-element__lead-segment__title">
              عنوان عنوان عنوان عنوانعنوان عنوان عنوان عنوانعنوان عنوان عنوان
              عنوانعنوان عنوان عنوان عنوانعنوان عنوان عنوان عنوان
            </div>
          </div>
        </div>
        <div class="row-element row-expandable">
          <div
            class="row-element__collapsable collapsable"
            data-toggle="collapse"
            data-target="#cl"
          >
            <div class="row-element__lead-segment">
              <div
                class="row-element__lead-segment__icon sonnat-icon sonnat-icon-favourite"
              >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path
                    class="fill"
                    d="M7.14,10.69a.67.67,0,0,1-.47-.2L4.74,8.56a.68.68,0,0,1,0-1,.66.66,0,0,1,.94,0L7.14,9.08l3.37-3.37a.68.68,0,0,1,1,0,.66.66,0,0,1,0,.94L7.62,10.49A.69.69,0,0,1,7.14,10.69Z"
                  ></path>
                  <path
                    class="fill"
                    d="M8,2A6,6,0,1,1,2,8,6,6,0,0,1,8,2M8,.64A7.34,7.34,0,1,0,15.33,8,7.34,7.34,0,0,0,8,.64Z"
                  ></path>
                </svg>
              </div>
              <div class="row-element__lead-segment__title">عنوان</div>
              <div class="row-element__lead-segment__subtitle">ریزعنوان</div>
            </div>
            <div class="row-element__trail-segment">
              <div class="row-element__trail-segment__title">ته‌عنوان</div>
              <div class="row-element__trail-segment__caret">
                <div class="caret"></div>
              </div>
            </div>
          </div>
          <div class="row-element__collapsed-content collapse" id="cl">
            <div class="row-element__collapsed-content__container">
              <p>
                رنگ سفید، دنده اتوماتیک، لاستیک نو، دزدگیر، سنسور دنده عقب،
                سیستم صوتی
              </p>
            </div>
          </div>
        </div>
        <div class="row-element">
          <div class="row-element__lead-segment">
            <div class="row-element__lead-segment__title">
              پژو 206 تیپ 5 فول آپشنال مدل 98 خاکستری متالیک
            </div>
          </div>
          <div class="row-element__mid-segment">
            <div class="row-element__mid-segment__title">وسط‌عنوان</div>
          </div>
          <div class="row-element__trail-segment">
            <div class="row-element__trail-segment__title">ته‌عنوان</div>
            <div
              class="row-element__trail-segment__icon sonnat-icon sonnat-icon-arrow-left-o"
            ></div>
          </div>
        </div>
        <div class="row-element">
          <div class="row-element__lead-segment">
            <div class="row-element__lead-segment__title">
              عنوان عنوان عنوان
            </div>
          </div>
          <div class="row-element__mid-segment">
            <div class="row-element__mid-segment__title">وسط‌عنوان</div>
          </div>
          <div class="row-element__trail-segment">
            <div class="row-element__trail-segment__title">ته‌عنوان</div>
            <div
              class="row-element__trail-segment__icon sonnat-icon sonnat-icon-arrow-left-o"
            ></div>
          </div>
        </div>
        <div class="row-element">
          <div class="row-element__lead-segment">
            <div class="row-element__lead-segment__title">عنوان</div>
          </div>
          <div class="row-element__mid-segment">
            <div class="row-element__mid-segment__title">وسط‌عنوان</div>
          </div>
          <div class="row-element__trail-segment">
            <div class="row-element__trail-segment__title">ته‌عنوان</div>
            <div
              class="row-element__trail-segment__icon sonnat-icon sonnat-icon-arrow-left-o"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/collapsable.js"></script>
  </body>
</html>
