<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="assets/css/font.css" />
    <link rel="stylesheet" href="assets/css/sonnat.font-icon.css" />
    <link rel="stylesheet" href="assets/css/sonnat.reset.css" />
    <link rel="stylesheet" href="assets/css/sonnat.elements.css" />
    <title>Select</title>
  </head>
  <body dir="rtl">
    <div class="root">
      <div
        style="display: flex; align-items: center; justify-content: center; flex-direction: column; margin: 32px auto; width: 360px;"
      >
        <div
          class="select searchable"
          data-placeholder="یک مورد را انتخاب کنید"
          data-unit="تومان"
        >
          <select class="select__input" name="n">
            <option></option>
            <option value="1" selected>انتخاب ۱</option>
            <option value="2" selected>انتخاب ۲</option>
            <option value="3" selected>انتخاب ۳</option>
            <option value="4">انتخاب ۴</option>
            <optgroup label="گروه اول">
              <option value="5">انتخاب ۵</option>
              <option value="6">انتخاب ۶</option>
              <option value="7" disabled>انتخاب ۷</option>
            </optgroup>
          </select>
          <div class="select__choose-field">
            <div class="select__choose-field__clear">
              <div class="select__choose-field__clear__icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path
                    class="fill"
                    d="M9,8l1.93-1.93a.68.68,0,1,0-1-1L8,7,6.07,5.11a.68.68,0,1,0-1,1L7,8,5.11,9.93a.67.67,0,0,0,0,1,.68.68,0,0,0,1,0L8,9l1.93,1.93a.68.68,0,0,0,1,0,.67.67,0,0,0,0-1Z"
                    style="fill-rule:evenodd"
                  />
                </svg>
              </div>
            </div>
            <span class="select__choose-field__text"></span>
          </div>
        </div>
        <hr class="divider spaced" />
        <div
          class="select searchable multiple"
          data-placeholder="یک مورد را انتخاب کنید"
        >
          <select class="select__input" name="n[]" multiple>
            <option></option>
            <option value="1" selected>انتخاب ۱</option>
            <option value="2" selected>انتخاب ۲</option>
            <option value="3" selected>انتخاب ۳</option>
            <option value="4">انتخاب ۴</option>
            <optgroup label="گروه اول">
              <option value="5">انتخاب ۵</option>
              <option value="6">انتخاب ۶</option>
              <option value="7" disabled>انتخاب ۷</option>
              <option value="8" disabled>انتخاب ۷</option>
              <option value="9" disabled>انتخاب ۷</option>
              <option value="10" disabled>انتخاب ۷</option>
            </optgroup>
          </select>
          <div class="select__choose-field">
            <span class="select__choose-field__text"
              >یک مورد را انتخاب کنید</span
            >
            <div class="select__choose-field__chips hide"></div>
          </div>
        </div>
        <hr class="divider spaced" />
        <div
          class="select searchable multiple disabled"
          data-placeholder="یک مورد را انتخاب کنید"
        >
          <select class="select__input" name="n[]" multiple>
            <option></option>
            <option value="1" selected>انتخاب ۱</option>
            <option value="2" selected>انتخاب ۲</option>
            <option value="3" selected>انتخاب ۳</option>
            <option value="4">انتخاب ۴</option>
            <optgroup label="گروه اول">
              <option value="5">انتخاب ۵</option>
              <option value="6">انتخاب ۶</option>
              <option value="7">انتخاب ۷</option>
            </optgroup>
          </select>
          <div class="select__choose-field">
            <span class="select__choose-field__text"
              >یک مورد را انتخاب کنید</span
            >
            <div class="select__choose-field__chips hide"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/select.js"></script>
    <script>
      $(".select").each(function() {
        var s = select($(this), {
          onchange: function(evt) {
            console.log(s.getValue());
          }
        });
      });
    </script>
  </body>
</html>
