<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="assets/css/font.css" />
    <link rel="stylesheet" href="assets/css/sonnat.font-icon.css" />
    <link rel="stylesheet" href="assets/css/sonnat.reset.css" />
    <link rel="stylesheet" href="assets/css/sonnat.elements.css" />
    <title>Tag</title>
  </head>
  <body dir="rtl">
    <div class="root">
      <div
        style="display: flex; align-items: center; justify-content: center; margin: 32px auto"
      >
        <div class="tag">کارشناسی شده</div>
        <hr class="divider vertical spaced" />
        <div class="tag iconed">
          <div class="tag__icon sonnat-icon sonnat-icon-favourite"></div>
          <span class="tag__text">کارشناسی شده</span>
        </div>
        <hr class="divider vertical spaced" />
        <div class="tag outlined">کارشناسی شده</div>
        <hr class="divider vertical spaced" />
        <div class="tag outlined iconed">
          <div class="tag__icon sonnat-icon sonnat-icon-favourite"></div>
          <span class="tag__text">کارشناسی شده</span>
        </div>
      </div>
    </div>
  </body>
</html>
