<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="assets/css/font.css" />
    <link rel="stylesheet" href="assets/css/sonnat.font-icon.css" />
    <link rel="stylesheet" href="assets/css/sonnat.reset.css" />
    <link rel="stylesheet" href="assets/css/sonnat.elements.css" />
    <title>Text Field</title>
  </head>
  <body dir="rtl">
    <div class="root">
      <div id="main-wrapper" class="base-wrapper">
        <header id="header"></header>
        <main id="main" class="normal-view">
          <div class="text-field minimal iconed iconed--leading">
            <input
              class="text-field__input"
              type="text"
              placeholder="Placeholder"
              name="text_input"
            />
            <div class="text-field__icons">
              <div class="text-field__icons__leading">
                <div
                  class="text-field__icon sonnat-icon sonnat-icon-search-o"
                ></div>
              </div>
            </div>
          </div>
          <hr class="divider spaced" />
          <div class="text-field minimal small iconed iconed--leading">
            <input
              class="text-field__input"
              type="text"
              placeholder="Placeholder"
              name="text_input"
            />
            <div class="text-field__icons">
              <div class="text-field__icons__leading">
                <div
                  class="text-field__icon sonnat-icon sonnat-icon-search-o"
                ></div>
              </div>
            </div>
          </div>
          <hr class="divider spaced" />
          <div class="text-field iconed iconed--leading iconed--trailing">
            <input
              id="text-input-0"
              class="text-field__input"
              type="text"
              placeholder="متن جایگزین"
              name="text_input"
              maxlength="20"
            />
            <div class="text-field__icons">
              <div class="text-field__icons__leading">
                <div
                  class="text-field__icon sonnat-icon sonnat-icon-favourite"
                ></div>
              </div>
              <div class="text-field__icons__trailing">
                <div
                  class="text-field__icon sonnat-icon sonnat-icon-favourite"
                ></div>
              </div>
            </div>
            <div class="text-field__wrapper"></div>
          </div>
          <hr class="divider padded spaced" />
          <div class="text-field small iconed iconed--leading iconed--trailing">
            <input
              id="text-input-0"
              class="text-field__input"
              type="text"
              placeholder="متن جایگزین"
              name="text_input"
              maxlength="20"
            />
            <div class="text-field__icons">
              <div class="text-field__icons__leading">
                <div
                  class="text-field__icon sonnat-icon sonnat-icon-favourite"
                ></div>
              </div>
              <div class="text-field__icons__trailing">
                <div
                  class="text-field__icon sonnat-icon sonnat-icon-favourite"
                ></div>
              </div>
            </div>
            <div class="text-field__wrapper"></div>
          </div>
          <hr class="divider padded spaced" />
          <div class="text-field rounded">
            <input
              id="text-input-0"
              class="text-field__input"
              type="text"
              placeholder="متن جایگزین"
              name="text_input"
              maxlength="20"
            />
            <div class="text-field__wrapper"></div>
          </div>
          <hr class="divider padded spaced" />
          <div class="text-field small rounded">
            <input
              id="text-input-0"
              class="text-field__input"
              type="text"
              placeholder="متن جایگزین"
              name="text_input"
              maxlength="20"
            />
            <div class="text-field__wrapper"></div>
          </div>
          <hr class="divider padded spaced" />
          <div class="text-field">
            <input
              id="text-input-2"
              class="text-field__input"
              type="text"
              placeholder="متن جایگزین"
              name="text_input"
              maxlength="20"
            />
            <div class="text-field__wrapper"></div>
          </div>
          <hr class="divider padded spaced" />
          <div class="text-field error">
            <input
              id="text-input-3"
              class="text-field__input"
              type="text"
              placeholder="متن جایگزین"
              name="text_input"
              maxlength="20"
            />
            <div class="text-field__wrapper"></div>
          </div>
          <hr class="divider spaced" />
          <div class="text-field legend-label">
            <input
              id="text-input-4"
              class="text-field__input"
              type="text"
              placeholder="متن جایگزین"
              name="text_input"
              maxlength="20"
            />
            <div class="text-field__wrapper">
              <label class="text-field__label" for="text-input-4">
                <span class="text-field__label-text">عنوان</span>
              </label>
            </div>
          </div>
          <hr class="divider spaced" />
          <div class="text-field legend-label">
            <input
              id="text-input-5"
              class="text-field__input"
              type="text"
              placeholder="متن جایگزین"
              name="text_input"
              maxlength="20"
            />
            <div class="text-field__wrapper">
              <label class="text-field__label" for="text-input-5">
                <span class="text-field__label-text">عنوان</span>
              </label>
            </div>
          </div>
          <hr class="divider spaced" />
          <div
            class="text-field legend-label iconed iconed--leading iconed--trailing"
          >
            <input
              id="text-input-5"
              class="text-field__input"
              type="text"
              placeholder="متن جایگزین"
              name="text_input"
              maxlength="20"
            />
            <div class="text-field__icons">
              <div class="text-field__icons__leading">
                <div
                  class="text-field__icon sonnat-icon sonnat-icon-favourite"
                ></div>
              </div>
              <div class="text-field__icons__trailing">
                <div
                  class="text-field__icon sonnat-icon sonnat-icon-favourite"
                ></div>
              </div>
            </div>
            <div class="text-field__wrapper">
              <label class="text-field__label" for="text-input-5">
                <span class="text-field__label-text">عنوان</span>
              </label>
            </div>
          </div>
          <hr class="divider spaced" />
          <div
            class="text-field rounded legend-label iconed iconed--leading iconed--trailing"
          >
            <input
              id="text-input-5"
              class="text-field__input"
              type="text"
              placeholder="متن جایگزین"
              name="text_input"
              maxlength="20"
            />
            <div class="text-field__icons">
              <div class="text-field__icons__leading">
                <div
                  class="text-field__icon sonnat-icon sonnat-icon-favourite"
                ></div>
              </div>
              <div class="text-field__icons__trailing">
                <div
                  class="text-field__icon sonnat-icon sonnat-icon-favourite"
                ></div>
              </div>
            </div>
            <div class="text-field__wrapper">
              <label class="text-field__label" for="text-input-5">
                <span class="text-field__label-text">عنوان</span>
              </label>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/text-field.js"></script>
  </body>
</html>
