<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="assets/css/font.css" />
    <link rel="stylesheet" href="assets/css/sonnat.font-icon.css" />
    <link rel="stylesheet" href="assets/css/sonnat.reset.css" />
    <link rel="stylesheet" href="assets/css/sonnat.elements.css" />
    <title>Textarea</title>
  </head>
  <body dir="rtl">
    <div class="root">
      <div id="main-wrapper" class="base-wrapper">
        <header id="header"></header>
        <main id="main">
          <div class="textarea">
            <textarea
              name="textarea"
              placeholder="این یک متن آزمایشی می‌باشد"
            ></textarea>
            <div class="textarea__resize-grabber"></div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
