<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../assets/css/font.css" />
    <link rel="stylesheet" href="../assets/css/sonnat.font-icon.css" />
    <link rel="stylesheet" href="../assets/css/sonnat.grid.css" />
    <link
      rel="stylesheet"
      href="../assets/css/divar/sonnat.divar.elements.css"
    />
    <title>Navigation Dropdown</title>
  </head>
  <body dir="rtl">
    <div class="root">
      <button class="nav-dropdown">
        <span class="nav-dropdown__text">دسته‌بندی‌ها</span>
        <span
          class="nav-dropdown__caret sonnat-icon sonnat-icon-arrow-down-o"
        ></span>
      </button>
      <button class="nav-dropdown primary">
        <span class="nav-dropdown__text">دسته‌بندی‌ها</span>
        <span
          class="nav-dropdown__caret sonnat-icon sonnat-icon-arrow-down-o"
        ></span>
      </button>
    </div>
  </body>
</html>
