<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../assets/css/font.css" />
    <link rel="stylesheet" href="../assets/css/sonnat.font-icon.css" />
    <link rel="stylesheet" href="../assets/css/sonnat.grid.css" />
    <link
      rel="stylesheet"
      href="../assets/css/divar/sonnat.divar.elements.css"
    />
    <title>Navigation Menu</title>
  </head>
  <body dir="rtl">
    <div class="root">
      <div class="nav-menu small">
        <div class="nav-menu__item extended">
          <div class="nav-menu__item__container">
            <div class="nav-menu__item__inner__row">
              <span
                class="nav-menu__item__icon sonnat-icon sonnat-icon-person-o"
              ></span>
              <span class="nav-menu__item__title">مُصُفسکی شُموس‌الملک</span>
              <span
                class="nav-menu__item__verification-icon sonnat-icon sonnat-icon-favourite"
              ></span>
            </div>
            <div class="nav-menu__item__extendable">
              <span class="nav-menu__item__extendable__item">
                تلفن ۰۹۱۲۱۹۹۴۳۲۱
              </span>
            </div>
          </div>
        </div>
        <hr class="divider" />
        <div class="nav-menu__item">
          <span
            class="nav-menu__item__icon sonnat-icon sonnat-icon-favourite"
          ></span>
          <span class="nav-menu__item__title">عنوان</span>
        </div>
        <hr class="divider padded" />
        <div class="nav-menu__item">
          <span
            class="nav-menu__item__icon sonnat-icon sonnat-icon-favourite"
          ></span>
          <span class="nav-menu__item__title">عنوان</span>
        </div>
        <hr class="divider padded" />
        <div class="nav-menu__item">
          <span
            class="nav-menu__item__icon sonnat-icon sonnat-icon-favourite"
          ></span>
          <span class="nav-menu__item__title">عنوان</span>
        </div>
      </div>
      <div class="nav-menu nav-menu--mobile">
        <div class="nav-menu__item collapsable extended">
          <div class="nav-menu__item__container">
            <div class="nav-menu__item__inner__row">
              <span
                class="nav-menu__item__icon sonnat-icon sonnat-icon-person-o"
              ></span>
              <span class="nav-menu__item__title">مُصُفسکی شُموس‌الملک</span>
              <span
                class="nav-menu__item__verification-icon sonnat-icon sonnat-icon-favourite"
              ></span>
              <span
                class="nav-menu__item__caret sonnat-icon sonnat-icon-arrow-down-o"
              ></span>
            </div>
            <div class="nav-menu__item__extendable">
              <span class="nav-menu__item__extendable__item">
                تلفن ۰۹۱۲۱۹۹۴۳۲۱
              </span>
            </div>
          </div>
          <div class="nav-menu">
            <div class="nav-menu__item">
              <span
                class="nav-menu__item__icon sonnat-icon sonnat-icon-favourite"
              ></span>
              <span class="nav-menu__item__title">عنوان</span>
            </div>
            <div class="nav-menu__item">
              <span
                class="nav-menu__item__icon sonnat-icon sonnat-icon-favourite"
              ></span>
              <span class="nav-menu__item__title">عنوان</span>
            </div>
            <div class="nav-menu__item">
              <span
                class="nav-menu__item__icon sonnat-icon sonnat-icon-favourite"
              ></span>
              <span class="nav-menu__item__title">عنوان</span>
            </div>
            <div class="nav-menu__item">
              <span
                class="nav-menu__item__icon sonnat-icon sonnat-icon-favourite"
              ></span>
              <span class="nav-menu__item__title">عنوان</span>
            </div>
            <div class="nav-menu__item">
              <span
                class="nav-menu__item__icon sonnat-icon sonnat-icon-favourite"
              ></span>
              <span class="nav-menu__item__title">عنوان</span>
            </div>
            <div class="nav-menu__item">
              <span
                class="nav-menu__item__icon sonnat-icon sonnat-icon-favourite"
              ></span>
              <span class="nav-menu__item__title">عنوان</span>
            </div>
          </div>
        </div>
        <div class="nav-menu__item collapsable">
          <div class="nav-menu__item__container">
            <div class="nav-menu__item__inner__row">
              <span
                class="nav-menu__item__icon sonnat-icon sonnat-icon-favourite"
              ></span>
              <span class="nav-menu__item__title">عنوان</span>
              <span class="nav-menu__item__sub-title">زیر عنوان</span>
              <span
                class="nav-menu__item__caret sonnat-icon sonnat-icon-arrow-down-o"
              ></span>
            </div>
          </div>
          <div class="nav-menu">
            <div class="nav-menu__item">
              <span
                class="nav-menu__item__icon sonnat-icon sonnat-icon-favourite"
              ></span>
              <span class="nav-menu__item__title">عنوان</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
