<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../assets/css/font.css" />
    <link rel="stylesheet" href="../assets/css/sonnat.font-icon.css" />
    <link rel="stylesheet" href="../assets/css/sonnat.grid.css" />
    <link
      rel="stylesheet"
      href="../assets/css/divar/sonnat.divar.elements.css"
    />
    <title>Navigation Button</title>
  </head>
  <body dir="rtl">
    <div class="root">
      <button class="nav-button">
        <span class="nav-button__text">پشتیبانی</span>
      </button>
      <button class="nav-button">
        <div class="nav-button__icon sonnat-icon sonnat-icon-favourite"></div>
        <span class="nav-button__text">پشتیبانی</span>
      </button>
      <button class="nav-button primary">
        <div class="nav-button__icon sonnat-icon sonnat-icon-favourite"></div>
        <span class="nav-button__text">پشتیبانی</span>
      </button>
      <button class="nav-button primary">
        <span class="nav-button__text">پشتیبانی</span>
      </button>
      <button class="nav-button inlined">
        <span class="nav-button__text">پشتیبانی</span>
      </button>
      <button class="nav-button inlined">
        <div class="nav-button__icon sonnat-icon sonnat-icon-favourite"></div>
        <span class="nav-button__text">پشتیبانی</span>
      </button>
      <button class="nav-button primary inlined">
        <span class="nav-button__text">پشتیبانی</span>
      </button>
      <button class="nav-button primary inlined">
        <div class="nav-button__icon sonnat-icon sonnat-icon-favourite"></div>
        <span class="nav-button__text">پشتیبانی</span>
      </button>
      <button class="nav-button icon-button">
        <div class="nav-button__icon sonnat-icon sonnat-icon-favourite"></div>
      </button>
      <button class="nav-button icon-button primary">
        <div class="nav-button__icon sonnat-icon sonnat-icon-favourite"></div>
      </button>
      <button class="nav-button icon-button inlined">
        <div class="nav-button__icon sonnat-icon sonnat-icon-favourite"></div>
      </button>
      <button class="nav-button icon-button primary inlined">
        <div class="nav-button__icon sonnat-icon sonnat-icon-favourite"></div>
      </button>
    </div>
  </body>
</html>
