<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../assets/css/font.css" />
    <link rel="stylesheet" href="../assets/css/sonnat.font-icon.css" />
    <link rel="stylesheet" href="../assets/css/sonnat.grid.css" />
    <link
      rel="stylesheet"
      href="../assets/css/divar/sonnat.divar.elements.css"
    />
    <title>Navigation Bar</title>
  </head>
  <body dir="rtl">
    <div class="root">
      <header id="header" class="navbar">
        <nav class="navbar__nav">
          <div class="navbar__branding">
            <div class="navbar__branding__logo">
              <img src="../assets/media/divar.svg" alt="Divar" />
            </div>
          </div>
          <hr
            class="divider vertical display-none display-lg-block"
            style="margin-top: 1rem;margin-bottom: 1rem;margin-right: 1rem;margin-left: 0.5rem"
          />
          <div class="navbar__utilities">
            <button id="navbar__location" class="button inlined navbar__button">
              <div
                class="button__icon sonnat-icon sonnat-icon-pin-location-o"
              ></div>
              انتخاب شهر
            </button>
            <div class="navbar__search-tools">
              <div class="navbar__search-tools__category">
                <div class="dropdown inlined iconed small">
                  <button
                    class="dropdown__toggle has-caret"
                    data-toggle="dropdown"
                  >
                    <span class="dropdown__toggle__text">دسته‌بندی‌ها</span>
                  </button>
                  <div class="dropdown__content">
                    <ul class="dropdown__menu">
                      <li class="dropdown__menu__item"><a href="">اول</a></li>
                      <li class="dropdown__menu__item"><a href="">دوم</a></li>
                      <li class="dropdown__menu__item"><a href="">سوم</a></li>
                      <li><hr class="divider" /></li>
                      <li class="dropdown__menu__item">
                        <a href="">چهارم</a>
                      </li>
                      <li class="dropdown__menu__item">
                        <a href="">پنجم</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="navbar__search-tools__searchbox">
                <div class="navbar__search-tools__searchbox__search">
                  <div class="text-field minimal iconed iconed--leading">
                    <input
                      class="text-field__input"
                      type="text"
                      placeholder="جستجو در دیوار"
                      name="search"
                    />
                    <div class="text-field__icons">
                      <div class="text-field__icons__leading">
                        <div
                          class="text-field__icon sonnat-icon sonnat-icon-search-o"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="navbar__search-tools__searchbox__search-results">
                  <hr class="divider" />
                  <div
                    class="navbar__search-tools__searchbox__search-results__query"
                  >
                    <div
                      class="navbar__search-tools__searchbox__search-results__query__icon sonnat-icon sonnat-icon-search-o"
                    ></div>
                    <span
                      class="navbar__search-tools__searchbox__search-results__query__text"
                      >جستجوی <span>اِهِم</span></span
                    >
                  </div>
                  <div
                    class="navbar__search-tools__searchbox__search-results__query-results"
                  >
                    <div
                      class="navbar__search-tools__searchbox__search-results__query-result"
                    >
                      <div
                        class="navbar__search-tools__searchbox__search-results__query-result__icon sonnat-icon sonnat-icon-car-o"
                      ></div>
                      <span
                        class="navbar__search-tools__searchbox__search-results__query-result__title"
                        >پراید</span
                      >
                      <span
                        class="navbar__search-tools__searchbox__search-results__query-result__sub-title"
                        >در سواری</span
                      >
                    </div>
                    <div
                      class="navbar__search-tools__searchbox__search-results__query-result"
                    >
                      <div
                        class="navbar__search-tools__searchbox__search-results__query-result__icon sonnat-icon sonnat-icon-car-o"
                      ></div>
                      <span
                        class="navbar__search-tools__searchbox__search-results__query-result__title"
                        >پرشیا</span
                      >
                      <span
                        class="navbar__search-tools__searchbox__search-results__query-result__sub-title"
                        >در سواری</span
                      >
                    </div>
                    <div
                      class="navbar__search-tools__searchbox__search-results__query-result"
                    >
                      <div
                        class="navbar__search-tools__searchbox__search-results__query-result__icon sonnat-icon sonnat-icon-apartment-old-o"
                      ></div>
                      <span
                        class="navbar__search-tools__searchbox__search-results__query-result__title"
                        >پردیس</span
                      >
                      <span
                        class="navbar__search-tools__searchbox__search-results__query-result__sub-title"
                        >در فروش آپارتمان</span
                      >
                    </div>
                    <div
                      class="navbar__search-tools__searchbox__search-results__query-result"
                    >
                      <div
                        class="navbar__search-tools__searchbox__search-results__query-result__icon sonnat-icon sonnat-icon-lamp-o"
                      ></div>
                      <span
                        class="navbar__search-tools__searchbox__search-results__query-result__title"
                        >پریز</span
                      >
                      <span
                        class="navbar__search-tools__searchbox__search-results__query-result__sub-title"
                        >در مربوط به خانه</span
                      >
                    </div>
                  </div>
                  <hr class="divider" />
                  <div
                    class="navbar__search-tools__searchbox__search-results__histories"
                  >
                    <div
                      class="navbar__search-tools__searchbox__search-results__history"
                    >
                      <div
                        class="navbar__search-tools__searchbox__search-results__history__head"
                      >
                        <button
                          class="navbar__search-tools__searchbox__search-results__history__pin button icon-button inlined"
                        >
                          <div
                            class="button__icon sonnat-icon sonnat-icon-pin-o"
                          ></div>
                        </button>
                        <span
                          class="navbar__search-tools__searchbox__search-results__history__title"
                          >پراید</span
                        >
                        <span
                          class="navbar__search-tools__searchbox__search-results__history__sub-title"
                          >در سواری</span
                        >
                        <div
                          class="navbar__search-tools__searchbox__search-results__history__remove button icon-button inlined"
                        >
                          <div
                            class="button__icon sonnat-icon sonnat-icon-remove-o"
                          ></div>
                        </div>
                      </div>
                      <div
                        class="navbar__search-tools__searchbox__search-results__history__body"
                      >
                        <div
                          class="navbar__search-tools__searchbox__search-results__history__tags"
                        >
                          <div
                            class="navbar__search-tools__searchbox__search-results__history__tag tag"
                          >
                            از ۱۰۰,۰۰۰,۰۰۰ تا ۵۰۰,۰۰۰,۰۰۰ تومان
                          </div>
                          <div
                            class="navbar__search-tools__searchbox__search-results__history__tag tag"
                          >
                            فقط عکس‌دار
                          </div>
                          <div
                            class="navbar__search-tools__searchbox__search-results__history__tag tag"
                          >
                            کیا سورنتو ۲۰۱۷
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="navbar__search-tools__searchbox__search-results__suggestions"
                  >
                    <strong
                      class="navbar__search-tools__searchbox__search-results__suggestions__title"
                      >بیشترین جستجوهای دیوار</strong
                    >
                    <div
                      class="navbar__search-tools__searchbox__search-results__suggestions__container"
                    >
                      <div
                        class="navbar__search-tools__searchbox__search-results__suggestion chip outlined togglable rounded"
                      >
                        <span class="chip__text">خودرو سواری</span>
                      </div>
                      <div
                        class="navbar__search-tools__searchbox__search-results__suggestion chip outlined togglable rounded"
                      >
                        <span class="chip__text">فروش مسکونی</span>
                      </div>
                      <div
                        class="navbar__search-tools__searchbox__search-results__suggestion chip outlined togglable rounded"
                      >
                        <span class="chip__text">رهن</span>
                      </div>
                      <div
                        class="navbar__search-tools__searchbox__search-results__suggestion chip outlined togglable rounded"
                      >
                        <span class="chip__text">موبایل</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr
              class="divider vertical spaced display-block display-xlg-none"
              style="margin-top: 16px;margin-bottom: 16px"
            />
            <div class="navbar__actions">
              <button
                id="navbar__profile"
                class="button inlined navbar__button"
              >
                <div
                  class="button__icon sonnat-icon sonnat-icon-person-o"
                ></div>
                دیوار من
              </button>
              <button id="navbar__chat" class="button inlined navbar__button">
                <div
                  class="button__icon sonnat-icon sonnat-icon-chat-bubble-o"
                ></div>
                چت
              </button>
              <button
                id="navbar__support"
                class="button inlined navbar__button"
              >
                پشتیبانی
              </button>
              <button id="navbar__submit" class="button primary">
                ثبت رایگان آگهی
              </button>
            </div>
            <div id="navbar__categories__dropdown">
              <div class="navbar__categories__dropdown__menu">
                <div class="navbar__categories__dropdown__menu__item--all">
                  <div
                    class="navbar__categories__dropdown__menu__item__icon sonnat-icon sonnat-icon-arrow-backward-o"
                  ></div>
                  <span class="navbar__categories__dropdown__menu__item__text">
                    همهٔ آگهی‌ها
                  </span>
                </div>
                <div class="navbar__categories__dropdown__menu__item">
                  <div
                    class="navbar__categories__dropdown__menu__item__icon sonnat-icon sonnat-icon-apartment-old-o"
                  ></div>
                  <span class="navbar__categories__dropdown__menu__item__text">
                    املاک
                  </span>
                  <div
                    class="navbar__categories__dropdown__menu__item__arrow sonnat-icon sonnat-icon-arrow-left-o"
                  ></div>
                </div>
                <div class="navbar__categories__dropdown__menu__item">
                  <div
                    class="navbar__categories__dropdown__menu__item__icon sonnat-icon sonnat-icon-car-o"
                  ></div>
                  <span class="navbar__categories__dropdown__menu__item__text">
                    وسایل نقلیه
                  </span>
                  <div
                    class="navbar__categories__dropdown__menu__item__arrow sonnat-icon sonnat-icon-arrow-left-o"
                  ></div>
                </div>
                <div class="navbar__categories__dropdown__menu__item">
                  <div
                    class="navbar__categories__dropdown__menu__item__icon sonnat-icon sonnat-icon-mobile-o"
                  ></div>
                  <span class="navbar__categories__dropdown__menu__item__text">
                    لوازم الکترونیکی
                  </span>
                  <div
                    class="navbar__categories__dropdown__menu__item__arrow sonnat-icon sonnat-icon-arrow-left-o"
                  ></div>
                </div>
                <div class="navbar__categories__dropdown__menu__item">
                  <div
                    class="navbar__categories__dropdown__menu__item__icon sonnat-icon sonnat-icon-lamp-o"
                  ></div>
                  <span class="navbar__categories__dropdown__menu__item__text">
                    مربوط به خانه
                  </span>
                  <div
                    class="navbar__categories__dropdown__menu__item__arrow sonnat-icon sonnat-icon-arrow-left-o"
                  ></div>
                </div>
                <div class="navbar__categories__dropdown__menu__item">
                  <div
                    class="navbar__categories__dropdown__menu__item__icon sonnat-icon sonnat-icon-role-brush-o"
                  ></div>
                  <span class="navbar__categories__dropdown__menu__item__text">
                    خدمات
                  </span>
                  <div
                    class="navbar__categories__dropdown__menu__item__arrow sonnat-icon sonnat-icon-arrow-left-o"
                  ></div>
                </div>
                <div class="navbar__categories__dropdown__menu__item">
                  <div
                    class="navbar__categories__dropdown__menu__item__icon sonnat-icon sonnat-icon-wrest-watch-o"
                  ></div>
                  <span class="navbar__categories__dropdown__menu__item__text">
                    وسایل شخصی
                  </span>
                  <div
                    class="navbar__categories__dropdown__menu__item__arrow sonnat-icon sonnat-icon-arrow-left-o"
                  ></div>
                </div>
                <div class="navbar__categories__dropdown__menu__item">
                  <div
                    class="navbar__categories__dropdown__menu__item__icon sonnat-icon sonnat-icon-dice-o"
                  ></div>
                  <span class="navbar__categories__dropdown__menu__item__text">
                    سرگرمی و فراغت
                  </span>
                  <div
                    class="navbar__categories__dropdown__menu__item__arrow sonnat-icon sonnat-icon-arrow-left-o"
                  ></div>
                </div>
                <div class="navbar__categories__dropdown__menu__item">
                  <div
                    class="navbar__categories__dropdown__menu__item__icon sonnat-icon sonnat-icon-community-o"
                  ></div>
                  <span class="navbar__categories__dropdown__menu__item__text">
                    اجتماعی
                  </span>
                  <div
                    class="navbar__categories__dropdown__menu__item__arrow sonnat-icon sonnat-icon-arrow-left-o"
                  ></div>
                </div>
                <div class="navbar__categories__dropdown__menu__item">
                  <div
                    class="navbar__categories__dropdown__menu__item__icon sonnat-icon sonnat-icon-community-o"
                  ></div>
                  <span class="navbar__categories__dropdown__menu__item__text">
                    برای کسب و کار
                  </span>
                  <div
                    class="navbar__categories__dropdown__menu__item__arrow sonnat-icon sonnat-icon-arrow-left-o"
                  ></div>
                </div>
                <div class="navbar__categories__dropdown__menu__item">
                  <div
                    class="navbar__categories__dropdown__menu__item__icon sonnat-icon sonnat-icon-suitcase-o"
                  ></div>
                  <span class="navbar__categories__dropdown__menu__item__text">
                    استخدام و کاریابی
                  </span>
                  <div
                    class="navbar__categories__dropdown__menu__item__arrow sonnat-icon sonnat-icon-arrow-left-o"
                  ></div>
                </div>
              </div>
              <div class="navbar__categories__dropdown__menu__content">
                <div class="navbar__categories__dropdown__sub-menu">
                  <strong class="navbar__categories__dropdown__sub-menu__title"
                    >فروش مسکونی (آپارتمان، خانه، زمین)</strong
                  >
                  <a
                    class="navbar__categories__dropdown__sub-menu__sub-title"
                    href=""
                    >آپارتمان</a
                  >
                  <a
                    class="navbar__categories__dropdown__sub-menu__sub-title"
                    href=""
                    >خانه و ویلا</a
                  >
                  <a
                    class="navbar__categories__dropdown__sub-menu__sub-title"
                    href=""
                    >زمین و کلنگی</a
                  >
                </div>
                <div class="navbar__categories__dropdown__sub-menu">
                  <strong class="navbar__categories__dropdown__sub-menu__title"
                    >اجاره مسکونی (آپارتمان، خانه، زمین)</strong
                  >
                  <a
                    class="navbar__categories__dropdown__sub-menu__sub-title"
                    href=""
                    >آپارتمان</a
                  >
                  <a
                    class="navbar__categories__dropdown__sub-menu__sub-title"
                    href=""
                    >خانه و ویلا</a
                  >
                </div>
                <div class="navbar__categories__dropdown__sub-menu">
                  <strong class="navbar__categories__dropdown__sub-menu__title"
                    >فروش اداری و تجاری (مغازه، دفترکار، صنعتی)</strong
                  >
                  <a
                    class="navbar__categories__dropdown__sub-menu__sub-title"
                    href=""
                    >دفتر کار، اتاق اداری و مطب</a
                  >
                  <a
                    class="navbar__categories__dropdown__sub-menu__sub-title"
                    href=""
                    >مغازه و غرفه</a
                  >
                  <a
                    class="navbar__categories__dropdown__sub-menu__sub-title"
                    href=""
                    >صنعتی، کشاورزی و تجاری</a
                  >
                </div>
                <div class="navbar__categories__dropdown__sub-menu">
                  <strong class="navbar__categories__dropdown__sub-menu__title"
                    >فروش مسکونی (آپارتمان، خانه، زمین)</strong
                  >
                  <a
                    class="navbar__categories__dropdown__sub-menu__sub-title"
                    href=""
                    >آپارتمان</a
                  >
                  <a
                    class="navbar__categories__dropdown__sub-menu__sub-title"
                    href=""
                    >خانه و ویلا</a
                  >
                  <a
                    class="navbar__categories__dropdown__sub-menu__sub-title"
                    href=""
                    >زمین و کلنگی</a
                  >
                </div>
                <div class="navbar__categories__dropdown__sub-menu">
                  <strong class="navbar__categories__dropdown__sub-menu__title"
                    >اجاره مسکونی (آپارتمان، خانه، زمین)</strong
                  >
                  <a
                    class="navbar__categories__dropdown__sub-menu__sub-title"
                    href=""
                    >آپارتمان</a
                  >
                  <a
                    class="navbar__categories__dropdown__sub-menu__sub-title"
                    href=""
                    >خانه و ویلا</a
                  >
                </div>
                <div class="navbar__categories__dropdown__sub-menu">
                  <strong class="navbar__categories__dropdown__sub-menu__title"
                    >فروش اداری و تجاری (مغازه، دفترکار، صنعتی)</strong
                  >
                  <a
                    class="navbar__categories__dropdown__sub-menu__sub-title"
                    href=""
                    >دفتر کار، اتاق اداری و مطب</a
                  >
                  <a
                    class="navbar__categories__dropdown__sub-menu__sub-title"
                    href=""
                    >مغازه و غرفه</a
                  >
                  <a
                    class="navbar__categories__dropdown__sub-menu__sub-title"
                    href=""
                    >صنعتی، کشاورزی و تجاری</a
                  >
                </div>
                <div class="navbar__categories__dropdown__sub-menu">
                  <strong class="navbar__categories__dropdown__sub-menu__title"
                    >فروش مسکونی (آپارتمان، خانه، زمین)</strong
                  >
                  <a
                    class="navbar__categories__dropdown__sub-menu__sub-title"
                    href=""
                    >آپارتمان</a
                  >
                  <a
                    class="navbar__categories__dropdown__sub-menu__sub-title"
                    href=""
                    >خانه و ویلا</a
                  >
                  <a
                    class="navbar__categories__dropdown__sub-menu__sub-title"
                    href=""
                    >زمین و کلنگی</a
                  >
                </div>
                <div class="navbar__categories__dropdown__sub-menu">
                  <strong class="navbar__categories__dropdown__sub-menu__title"
                    >اجاره مسکونی (آپارتمان، خانه، زمین)</strong
                  >
                  <a
                    class="navbar__categories__dropdown__sub-menu__sub-title"
                    href=""
                    >آپارتمان</a
                  >
                  <a
                    class="navbar__categories__dropdown__sub-menu__sub-title"
                    href=""
                    >خانه و ویلا</a
                  >
                </div>
                <div class="navbar__categories__dropdown__sub-menu">
                  <strong class="navbar__categories__dropdown__sub-menu__title"
                    >فروش اداری و تجاری (مغازه، دفترکار، صنعتی)</strong
                  >
                  <a
                    class="navbar__categories__dropdown__sub-menu__sub-title"
                    href=""
                    >دفتر کار، اتاق اداری و مطب</a
                  >
                  <a
                    class="navbar__categories__dropdown__sub-menu__sub-title"
                    href=""
                    >مغازه و غرفه</a
                  >
                  <a
                    class="navbar__categories__dropdown__sub-menu__sub-title"
                    href=""
                    >صنعتی، کشاورزی و تجاری</a
                  >
                </div>
              </div>
              <button class="navbar__categories__dropdown__sub-menu--all">
                همهٔ آگهی‌ها
              </button>
            </div>
          </div>
          <div class="navbar__mobile-utilities">
            <div class="navbar__mobile-actions">
              <button
                id="navbar__mobile-search"
                class="button inlined icon-button"
              >
                <div
                  class="button__icon sonnat-icon sonnat-icon-search-o"
                ></div>
              </button>
              <button
                id="navbar__mobile-profile"
                class="button inlined icon-button"
              >
                <div
                  class="button__icon sonnat-icon sonnat-icon-person-o"
                ></div>
              </button>
              <button
                id="navbar__mobile-chat"
                class="button inlined icon-button"
              >
                <div
                  class="button__icon sonnat-icon sonnat-icon-dialog-o"
                ></div>
              </button>
              <button
                id="navbar__mobile-burger"
                class="button inlined icon-button"
              >
                <div
                  class="button__icon sonnat-icon sonnat-icon-burger-menu-o"
                ></div>
              </button>
            </div>
          </div>
        </nav>
        <div class="navbar__extensions action-container small-text">
          <div id="navbar__extensions__categories" class="action-element">
            <div
              class="action-element__icon sonnat-icon sonnat-icon-category-o"
            ></div>
            <span class="action-element__text">دسته‌بندی‌ها</span>
          </div>
          <hr class="divider vertical padded" />
          <div id="navbar__extensions__filters" class="action-element">
            <div
              class="action-element__icon sonnat-icon sonnat-icon-filter-o"
            ></div>
            <span class="action-element__text">فیلترها</span>
            <div class="badge">۳</div>
          </div>
        </div>
      </header>
    </div>
  </body>
</html>
