<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../assets/css/font.css" />
    <link rel="stylesheet" href="../assets/css/sonnat.font-icon.css" />
    <link rel="stylesheet" href="../assets/css/sonnat.grid.css" />
    <link
      rel="stylesheet"
      href="../assets/css/divar/sonnat.divar.elements.css"
    />
    <title>Navigation Search</title>
  </head>
  <body dir="rtl">
    <div class="root">
      <div
        class="navbar__search-tools__searchbox has-query"
        style="margin: 32px auto 0 auto"
      >
        <div class="navbar__search-tools__searchbox__search">
          <div class="text-field minimal iconed iconed--leading">
            <input
              class="text-field__input"
              type="text"
              placeholder="جستجو در دیوار"
              name="search"
            />
            <div class="text-field__icons">
              <div class="text-field__icons__leading">
                <div
                  class="text-field__icon sonnat-icon sonnat-icon-search-o"
                ></div>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar__search-tools__searchbox__search-results">
          <hr class="divider" />
          <div class="navbar__search-tools__searchbox__search-results__query">
            <div
              class="navbar__search-tools__searchbox__search-results__query__icon sonnat-icon sonnat-icon-search-o"
            ></div>
            <span
              class="navbar__search-tools__searchbox__search-results__query__text"
              >جستجوی <span>اِهِم</span></span
            >
          </div>
          <div
            class="navbar__search-tools__searchbox__search-results__query-results"
          >
            <div
              class="navbar__search-tools__searchbox__search-results__query-result"
            >
              <div
                class="navbar__search-tools__searchbox__search-results__query-result__icon sonnat-icon sonnat-icon-car-o"
              ></div>
              <span
                class="navbar__search-tools__searchbox__search-results__query-result__title"
                >پراید</span
              >
              <span
                class="navbar__search-tools__searchbox__search-results__query-result__sub-title"
                >در سواری</span
              >
            </div>
            <div
              class="navbar__search-tools__searchbox__search-results__query-result"
            >
              <div
                class="navbar__search-tools__searchbox__search-results__query-result__icon sonnat-icon sonnat-icon-car-o"
              ></div>
              <span
                class="navbar__search-tools__searchbox__search-results__query-result__title"
                >پرشیا</span
              >
              <span
                class="navbar__search-tools__searchbox__search-results__query-result__sub-title"
                >در سواری</span
              >
            </div>
            <div
              class="navbar__search-tools__searchbox__search-results__query-result"
            >
              <div
                class="navbar__search-tools__searchbox__search-results__query-result__icon sonnat-icon sonnat-icon-apartment-old-o"
              ></div>
              <span
                class="navbar__search-tools__searchbox__search-results__query-result__title"
                >پردیس</span
              >
              <span
                class="navbar__search-tools__searchbox__search-results__query-result__sub-title"
                >در فروش آپارتمان</span
              >
            </div>
            <div
              class="navbar__search-tools__searchbox__search-results__query-result"
            >
              <div
                class="navbar__search-tools__searchbox__search-results__query-result__icon sonnat-icon sonnat-icon-lamp-o"
              ></div>
              <span
                class="navbar__search-tools__searchbox__search-results__query-result__title"
                >پریز</span
              >
              <span
                class="navbar__search-tools__searchbox__search-results__query-result__sub-title"
                >در مربوط به خانه</span
              >
            </div>
          </div>
          <hr class="divider" />
          <div
            class="navbar__search-tools__searchbox__search-results__histories"
          >
            <div
              class="navbar__search-tools__searchbox__search-results__history"
            >
              <div
                class="navbar__search-tools__searchbox__search-results__history__head"
              >
                <button
                  class="navbar__search-tools__searchbox__search-results__history__pin button icon-button inlined"
                >
                  <div class="button__icon sonnat-icon sonnat-icon-pin-o"></div>
                </button>
                <span
                  class="navbar__search-tools__searchbox__search-results__history__title"
                  >پراید</span
                >
                <span
                  class="navbar__search-tools__searchbox__search-results__history__sub-title"
                  >در سواری</span
                >
                <div
                  class="navbar__search-tools__searchbox__search-results__history__remove button icon-button inlined"
                >
                  <div
                    class="button__icon sonnat-icon sonnat-icon-remove-o"
                  ></div>
                </div>
              </div>
              <div
                class="navbar__search-tools__searchbox__search-results__history__body"
              >
                <div
                  class="navbar__search-tools__searchbox__search-results__history__tags"
                >
                  <div
                    class="navbar__search-tools__searchbox__search-results__history__tag tag"
                  >
                    از ۱۰۰,۰۰۰,۰۰۰ تا ۵۰۰,۰۰۰,۰۰۰ تومان
                  </div>
                  <div
                    class="navbar__search-tools__searchbox__search-results__history__tag tag"
                  >
                    فقط عکس‌دار
                  </div>
                  <div
                    class="navbar__search-tools__searchbox__search-results__history__tag tag"
                  >
                    کیا سورنتو ۲۰۱۷
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="navbar__search-tools__searchbox__search-results__suggestions"
          >
            <strong
              class="navbar__search-tools__searchbox__search-results__suggestions__title"
              >بیشترین جستجوهای دیوار</strong
            >
            <div
              class="navbar__search-tools__searchbox__search-results__suggestions__container"
            >
              <div
                class="navbar__search-tools__searchbox__search-results__suggestion chip outlined togglable rounded"
              >
                <span class="chip__text">خودرو سواری</span>
              </div>
              <div
                class="navbar__search-tools__searchbox__search-results__suggestion chip outlined togglable rounded"
              >
                <span class="chip__text">فروش مسکونی</span>
              </div>
              <div
                class="navbar__search-tools__searchbox__search-results__suggestion chip outlined togglable rounded"
              >
                <span class="chip__text">رهن</span>
              </div>
              <div
                class="navbar__search-tools__searchbox__search-results__suggestion chip outlined togglable rounded"
              >
                <span class="chip__text">موبایل</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
