<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../assets/css/font.css" />
    <link rel="stylesheet" href="../assets/css/sonnat.font-icon.css" />
    <link rel="stylesheet" href="../assets/css/sonnat.grid.css" />
    <link
      rel="stylesheet"
      href="../assets/css/divar/sonnat.divar.elements.css"
    />
    <title>Navigation Explore Menu</title>
  </head>
  <body dir="rtl">
    <div class="root">
      <div id="navbar__categories__dropdown">
        <div class="navbar__categories__dropdown__menu">
          <div class="navbar__categories__dropdown__menu__item--all">
            <div
              class="navbar__categories__dropdown__menu__item__icon sonnat-icon sonnat-icon-arrow-backward-o"
            ></div>
            <span class="navbar__categories__dropdown__menu__item__text">
              همهٔ آگهی‌ها
            </span>
          </div>
          <div class="navbar__categories__dropdown__menu__item">
            <div
              class="navbar__categories__dropdown__menu__item__icon sonnat-icon sonnat-icon-apartment-old-o"
            ></div>
            <span class="navbar__categories__dropdown__menu__item__text">
              املاک
            </span>
            <div
              class="navbar__categories__dropdown__menu__item__arrow sonnat-icon sonnat-icon-arrow-left-o"
            ></div>
          </div>
          <div class="navbar__categories__dropdown__menu__item">
            <div
              class="navbar__categories__dropdown__menu__item__icon sonnat-icon sonnat-icon-car-o"
            ></div>
            <span class="navbar__categories__dropdown__menu__item__text">
              وسایل نقلیه
            </span>
            <div
              class="navbar__categories__dropdown__menu__item__arrow sonnat-icon sonnat-icon-arrow-left-o"
            ></div>
          </div>
          <div class="navbar__categories__dropdown__menu__item">
            <div
              class="navbar__categories__dropdown__menu__item__icon sonnat-icon sonnat-icon-mobile-o"
            ></div>
            <span class="navbar__categories__dropdown__menu__item__text">
              لوازم الکترونیکی
            </span>
            <div
              class="navbar__categories__dropdown__menu__item__arrow sonnat-icon sonnat-icon-arrow-left-o"
            ></div>
          </div>
          <div class="navbar__categories__dropdown__menu__item">
            <div
              class="navbar__categories__dropdown__menu__item__icon sonnat-icon sonnat-icon-lamp-o"
            ></div>
            <span class="navbar__categories__dropdown__menu__item__text">
              مربوط به خانه
            </span>
            <div
              class="navbar__categories__dropdown__menu__item__arrow sonnat-icon sonnat-icon-arrow-left-o"
            ></div>
          </div>
          <div class="navbar__categories__dropdown__menu__item">
            <div
              class="navbar__categories__dropdown__menu__item__icon sonnat-icon sonnat-icon-role-brush-o"
            ></div>
            <span class="navbar__categories__dropdown__menu__item__text">
              خدمات
            </span>
            <div
              class="navbar__categories__dropdown__menu__item__arrow sonnat-icon sonnat-icon-arrow-left-o"
            ></div>
          </div>
          <div class="navbar__categories__dropdown__menu__item">
            <div
              class="navbar__categories__dropdown__menu__item__icon sonnat-icon sonnat-icon-wrest-watch-o"
            ></div>
            <span class="navbar__categories__dropdown__menu__item__text">
              وسایل شخصی
            </span>
            <div
              class="navbar__categories__dropdown__menu__item__arrow sonnat-icon sonnat-icon-arrow-left-o"
            ></div>
          </div>
          <div class="navbar__categories__dropdown__menu__item">
            <div
              class="navbar__categories__dropdown__menu__item__icon sonnat-icon sonnat-icon-dice-o"
            ></div>
            <span class="navbar__categories__dropdown__menu__item__text">
              سرگرمی و فراغت
            </span>
            <div
              class="navbar__categories__dropdown__menu__item__arrow sonnat-icon sonnat-icon-arrow-left-o"
            ></div>
          </div>
          <div class="navbar__categories__dropdown__menu__item">
            <div
              class="navbar__categories__dropdown__menu__item__icon sonnat-icon sonnat-icon-community-o"
            ></div>
            <span class="navbar__categories__dropdown__menu__item__text">
              اجتماعی
            </span>
            <div
              class="navbar__categories__dropdown__menu__item__arrow sonnat-icon sonnat-icon-arrow-left-o"
            ></div>
          </div>
          <div class="navbar__categories__dropdown__menu__item">
            <div
              class="navbar__categories__dropdown__menu__item__icon sonnat-icon sonnat-icon-community-o"
            ></div>
            <span class="navbar__categories__dropdown__menu__item__text">
              برای کسب و کار
            </span>
            <div
              class="navbar__categories__dropdown__menu__item__arrow sonnat-icon sonnat-icon-arrow-left-o"
            ></div>
          </div>
          <div class="navbar__categories__dropdown__menu__item">
            <div
              class="navbar__categories__dropdown__menu__item__icon sonnat-icon sonnat-icon-suitcase-o"
            ></div>
            <span class="navbar__categories__dropdown__menu__item__text">
              استخدام و کاریابی
            </span>
            <div
              class="navbar__categories__dropdown__menu__item__arrow sonnat-icon sonnat-icon-arrow-left-o"
            ></div>
          </div>
        </div>
        <div class="navbar__categories__dropdown__menu__content">
          <div class="navbar__categories__dropdown__sub-menu">
            <strong class="navbar__categories__dropdown__sub-menu__title"
              >فروش مسکونی (آپارتمان، خانه، زمین)</strong
            >
            <a class="navbar__categories__dropdown__sub-menu__sub-title" href=""
              >آپارتمان</a
            >
            <a class="navbar__categories__dropdown__sub-menu__sub-title" href=""
              >خانه و ویلا</a
            >
            <a class="navbar__categories__dropdown__sub-menu__sub-title" href=""
              >زمین و کلنگی</a
            >
          </div>
          <div class="navbar__categories__dropdown__sub-menu">
            <strong class="navbar__categories__dropdown__sub-menu__title"
              >اجاره مسکونی (آپارتمان، خانه، زمین)</strong
            >
            <a class="navbar__categories__dropdown__sub-menu__sub-title" href=""
              >آپارتمان</a
            >
            <a class="navbar__categories__dropdown__sub-menu__sub-title" href=""
              >خانه و ویلا</a
            >
          </div>
          <div class="navbar__categories__dropdown__sub-menu">
            <strong class="navbar__categories__dropdown__sub-menu__title"
              >فروش اداری و تجاری (مغازه، دفترکار، صنعتی)</strong
            >
            <a class="navbar__categories__dropdown__sub-menu__sub-title" href=""
              >دفتر کار، اتاق اداری و مطب</a
            >
            <a class="navbar__categories__dropdown__sub-menu__sub-title" href=""
              >مغازه و غرفه</a
            >
            <a class="navbar__categories__dropdown__sub-menu__sub-title" href=""
              >صنعتی، کشاورزی و تجاری</a
            >
          </div>
          <div class="navbar__categories__dropdown__sub-menu">
            <strong class="navbar__categories__dropdown__sub-menu__title"
              >فروش مسکونی (آپارتمان، خانه، زمین)</strong
            >
            <a class="navbar__categories__dropdown__sub-menu__sub-title" href=""
              >آپارتمان</a
            >
            <a class="navbar__categories__dropdown__sub-menu__sub-title" href=""
              >خانه و ویلا</a
            >
            <a class="navbar__categories__dropdown__sub-menu__sub-title" href=""
              >زمین و کلنگی</a
            >
          </div>
          <div class="navbar__categories__dropdown__sub-menu">
            <strong class="navbar__categories__dropdown__sub-menu__title"
              >اجاره مسکونی (آپارتمان، خانه، زمین)</strong
            >
            <a class="navbar__categories__dropdown__sub-menu__sub-title" href=""
              >آپارتمان</a
            >
            <a class="navbar__categories__dropdown__sub-menu__sub-title" href=""
              >خانه و ویلا</a
            >
          </div>
          <div class="navbar__categories__dropdown__sub-menu">
            <strong class="navbar__categories__dropdown__sub-menu__title"
              >فروش اداری و تجاری (مغازه، دفترکار، صنعتی)</strong
            >
            <a class="navbar__categories__dropdown__sub-menu__sub-title" href=""
              >دفتر کار، اتاق اداری و مطب</a
            >
            <a class="navbar__categories__dropdown__sub-menu__sub-title" href=""
              >مغازه و غرفه</a
            >
            <a class="navbar__categories__dropdown__sub-menu__sub-title" href=""
              >صنعتی، کشاورزی و تجاری</a
            >
          </div>
          <div class="navbar__categories__dropdown__sub-menu">
            <strong class="navbar__categories__dropdown__sub-menu__title"
              >فروش مسکونی (آپارتمان، خانه، زمین)</strong
            >
            <a class="navbar__categories__dropdown__sub-menu__sub-title" href=""
              >آپارتمان</a
            >
            <a class="navbar__categories__dropdown__sub-menu__sub-title" href=""
              >خانه و ویلا</a
            >
            <a class="navbar__categories__dropdown__sub-menu__sub-title" href=""
              >زمین و کلنگی</a
            >
          </div>
          <div class="navbar__categories__dropdown__sub-menu">
            <strong class="navbar__categories__dropdown__sub-menu__title"
              >اجاره مسکونی (آپارتمان، خانه، زمین)</strong
            >
            <a class="navbar__categories__dropdown__sub-menu__sub-title" href=""
              >آپارتمان</a
            >
            <a class="navbar__categories__dropdown__sub-menu__sub-title" href=""
              >خانه و ویلا</a
            >
          </div>
          <div class="navbar__categories__dropdown__sub-menu">
            <strong class="navbar__categories__dropdown__sub-menu__title"
              >فروش اداری و تجاری (مغازه، دفترکار، صنعتی)</strong
            >
            <a class="navbar__categories__dropdown__sub-menu__sub-title" href=""
              >دفتر کار، اتاق اداری و مطب</a
            >
            <a class="navbar__categories__dropdown__sub-menu__sub-title" href=""
              >مغازه و غرفه</a
            >
            <a class="navbar__categories__dropdown__sub-menu__sub-title" href=""
              >صنعتی، کشاورزی و تجاری</a
            >
          </div>
        </div>
        <button class="navbar__categories__dropdown__sub-menu--all">
          همهٔ آگهی‌ها
        </button>
      </div>
    </div>
  </body>
</html>
