.code-demo {
  width: 100%;
  margin-top: 1rem;
  position: relative;

  &.dark-theme {
    .code-demo__content {
      background-color: hsla(222, 11%, 18%, 1);
    }
  }
}

.code-demo__head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.code-demo__head__tabs {
  z-index: 1;
  transition: width 360ms ease;
}

.code-demo__head__utils {
  position: relative;
  z-index: 2;
  padding: 0 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: width 360ms ease;

  & > .switch-toggle {
    min-width: auto;

    & > .switch-toggle__cell {
      margin-left: 2rem;
    }

    & > .switch-toggle__label {
      color: $black-secondary;
    }
  }
}

.code-demo__content {
  display: flex;
  overflow: auto;
  align-items: center;
  height: 360px;
  position: relative;
  background-color: $black-2;
  z-index: 3;
  transition: background-color 360ms ease;
}

.code-demo__content__tab {
  width: 100%;
  direction: ltr;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  margin: 1rem 0;
  visibility: hidden;
  display: none;

  &.active {
    opacity: 1;
    visibility: visible;
    display: block;
  }

  pre,
  code {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
  }
}

@media (max-width: map-get($breakpoints, "sm")-1) {
  .code-demo__head__utils {
    display: none;
  }
}
