<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../assets/css/sonnat.grid.css" />
    <link rel="stylesheet" href="../assets/css/examples/sidebar.view.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="root">
      <div id="main-wrapper" class="base-wrapper">
        <header id="header"></header>
        <main id="main">
          <div class="display-flex sidebar-view">
            <aside id="sidebar" class="sidebar-view__sidebar"></aside>
            <section id="content" class="sidebar-view__content">
              <div class="container">
                <div class="row">
                  <div class="column-sm-6 column-xlg-4"><div></div></div>
                  <div class="column-sm-6 column-xlg-4"><div></div></div>
                  <div class="column-sm-6 column-xlg-4"><div></div></div>
                  <div class="column-sm-6 column-xlg-4"><div></div></div>
                  <div class="column-sm-6 column-xlg-4"><div></div></div>
                  <div class="column-sm-6 column-xlg-4"><div></div></div>
                  <div class="column-sm-6 column-xlg-4"><div></div></div>
                  <div class="column-sm-6 column-xlg-4"><div></div></div>
                  <div class="column-sm-6 column-xlg-4"><div></div></div>
                  <div class="column-sm-6 column-xlg-4"><div></div></div>
                </div>
              </div>
            </section>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
