<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../assets/css/font.css" />
    <link rel="stylesheet" href="../assets/css/sonnat.grid.css" />
    <link rel="stylesheet" href="../assets/css/sonnat.elements.css" />
    <title>Tab Elements</title>
    <style>
      #x {
        background-color: transparent;
      }
    </style>
  </head>
  <body class="fa">
    <div id="x" class="root">
      <div id="main-wrapper" class="base-wrapper">
        <header id="header"></header>
        <main id="main">
          <section class="normal-view">
            <div class="container">
              <div class="tab-row stable">
                <ul class="tab-list">
                  <li class="tab-list__tab active">
                    <div class="tab-list__tab__content">
                      <div class="tab-list__tab-icon">
                        <div class="icon-24">
                          <svg>
                            <path
                              class="fill"
                              d="M12,21.2l-1.4-1.3C5.4,15.2,2,12.1,2,8.3c0-3.1,2.4-5.5,5.5-5.5c1.7,0,3.4,0.8,4.5,2.1c1.1-1.3,2.8-2.1,4.5-2.1
                                           c3.1,0,5.5,2.4,5.5,5.5c0,3.8-3.4,6.9-8.6,11.5L12,21.2z"
                            ></path>
                          </svg>
                        </div>
                      </div>
                      <span class="tab-list__tab-text">دیوار من</span>
                    </div>
                    <div class="tab-list__tab__indicator">
                      <div class="tab-list__tab__indicator-fill"></div>
                    </div>
                  </li>
                  <li class="tab-list__tab">
                    <div class="tab-list__tab__content">
                      <span class="tab-list__tab-text">آگهی‌های من</span>
                    </div>
                    <div class="tab-list__tab__indicator">
                      <div class="tab-list__tab__indicator-fill"></div>
                    </div>
                  </li>
                  <li class="tab-list__tab">
                    <div class="tab-list__tab__content">
                      <span class="tab-list__tab-text">مدیریت نمایشگاه</span>
                    </div>
                    <div class="tab-list__tab__indicator">
                      <div class="tab-list__tab__indicator-fill"></div>
                    </div>
                  </li>
                </ul>
              </div>
              <hr />
              <div class="tab-row stable iconed">
                <ul class="tab-list">
                  <li class="tab-list__tab active">
                    <div class="tab-list__tab__content">
                      <div class="tab-list__tab-icon">
                        <div class="icon-24">
                          <svg>
                            <path
                              class="fill"
                              d="M12,21.2l-1.4-1.3C5.4,15.2,2,12.1,2,8.3c0-3.1,2.4-5.5,5.5-5.5c1.7,0,3.4,0.8,4.5,2.1c1.1-1.3,2.8-2.1,4.5-2.1
                                             c3.1,0,5.5,2.4,5.5,5.5c0,3.8-3.4,6.9-8.6,11.5L12,21.2z"
                            ></path>
                          </svg>
                        </div>
                      </div>
                      <span class="tab-list__tab-text">دیوار من</span>
                    </div>
                    <div class="tab-list__tab__indicator">
                      <div class="tab-list__tab__indicator-fill"></div>
                    </div>
                  </li>
                  <li class="tab-list__tab">
                    <div class="tab-list__tab__content">
                      <div class="tab-list__tab-icon">
                        <div class="icon-24">
                          <svg>
                            <path
                              class="fill"
                              d="M12,21.2l-1.4-1.3C5.4,15.2,2,12.1,2,8.3c0-3.1,2.4-5.5,5.5-5.5c1.7,0,3.4,0.8,4.5,2.1c1.1-1.3,2.8-2.1,4.5-2.1
                                                 c3.1,0,5.5,2.4,5.5,5.5c0,3.8-3.4,6.9-8.6,11.5L12,21.2z"
                            ></path>
                          </svg>
                        </div>
                      </div>
                      <span class="tab-list__tab-text">آگهی‌های من</span>
                    </div>
                    <div class="tab-list__tab__indicator">
                      <div class="tab-list__tab__indicator-fill"></div>
                    </div>
                  </li>
                  <li class="tab-list__tab">
                    <div class="tab-list__tab__content">
                      <div class="tab-list__tab-icon">
                        <div class="icon-24">
                          <svg>
                            <path
                              class="fill"
                              d="M12,21.2l-1.4-1.3C5.4,15.2,2,12.1,2,8.3c0-3.1,2.4-5.5,5.5-5.5c1.7,0,3.4,0.8,4.5,2.1c1.1-1.3,2.8-2.1,4.5-2.1
                                                 c3.1,0,5.5,2.4,5.5,5.5c0,3.8-3.4,6.9-8.6,11.5L12,21.2z"
                            ></path>
                          </svg>
                        </div>
                      </div>
                      <span class="tab-list__tab-text">مدیریت نمایشگاه</span>
                    </div>
                    <div class="tab-list__tab__indicator">
                      <div class="tab-list__tab__indicator-fill"></div>
                    </div>
                  </li>
                </ul>
              </div>
              <hr />
              <div class="tab-row stable">
                <ul class="tab-list">
                  <li class="tab-list__tab">
                    <div class="tab-list__tab__content">
                      <span class="tab-list__tab-text">دیوار من</span>
                    </div>
                    <div class="tab-list__tab__indicator">
                      <div class="tab-list__tab__indicator-fill"></div>
                    </div>
                  </li>
                  <li class="tab-list__tab active">
                    <div class="tab-list__tab__content">
                      <span class="tab-list__tab-text">مدیریت نمایشگاه</span>
                    </div>
                    <div class="tab-list__tab__indicator">
                      <div class="tab-list__tab__indicator-fill"></div>
                    </div>
                  </li>
                </ul>
              </div>
              <hr />
              <div class="tab-row">
                <ul class="tab-list">
                  <li class="tab-list__tab active">
                    <div class="tab-list__tab__content">
                      <div class="tab-list__tab-icon">
                        <div class="icon-24">
                          <svg>
                            <path
                              class="fill"
                              d="M12,21.2l-1.4-1.3C5.4,15.2,2,12.1,2,8.3c0-3.1,2.4-5.5,5.5-5.5c1.7,0,3.4,0.8,4.5,2.1c1.1-1.3,2.8-2.1,4.5-2.1
                                               c3.1,0,5.5,2.4,5.5,5.5c0,3.8-3.4,6.9-8.6,11.5L12,21.2z"
                            ></path>
                          </svg>
                        </div>
                      </div>
                      <span class="tab-list__tab-text">دیوار من</span>
                    </div>
                    <div class="tab-list__tab__indicator">
                      <div class="tab-list__tab__indicator-fill"></div>
                    </div>
                  </li>
                  <li class="tab-list__tab">
                    <div class="tab-list__tab__content">
                      <div class="tab-list__tab-icon">
                        <div class="icon-24">
                          <svg>
                            <path
                              class="fill"
                              d="M12,21.2l-1.4-1.3C5.4,15.2,2,12.1,2,8.3c0-3.1,2.4-5.5,5.5-5.5c1.7,0,3.4,0.8,4.5,2.1c1.1-1.3,2.8-2.1,4.5-2.1
                                                   c3.1,0,5.5,2.4,5.5,5.5c0,3.8-3.4,6.9-8.6,11.5L12,21.2z"
                            ></path>
                          </svg>
                        </div>
                      </div>
                      <span class="tab-list__tab-text">مدیریت نمایشگاه</span>
                    </div>
                    <div class="tab-list__tab__indicator">
                      <div class="tab-list__tab__indicator-fill"></div>
                    </div>
                  </li>
                  <li class="tab-list__tab">
                    <div class="tab-list__tab__content">
                      <div class="tab-list__tab-icon">
                        <div class="icon-24">
                          <svg>
                            <path
                              class="fill"
                              d="M12,21.2l-1.4-1.3C5.4,15.2,2,12.1,2,8.3c0-3.1,2.4-5.5,5.5-5.5c1.7,0,3.4,0.8,4.5,2.1c1.1-1.3,2.8-2.1,4.5-2.1
                                                   c3.1,0,5.5,2.4,5.5,5.5c0,3.8-3.4,6.9-8.6,11.5L12,21.2z"
                            ></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <div class="tab-list__tab__indicator">
                      <div class="tab-list__tab__indicator-fill"></div>
                    </div>
                  </li>
                  <li class="tab-list__tab">
                    <div class="tab-list__tab__content">
                      <div class="tab-list__tab-icon">
                        <div class="icon-24">
                          <svg>
                            <path
                              class="fill"
                              d="M12,21.2l-1.4-1.3C5.4,15.2,2,12.1,2,8.3c0-3.1,2.4-5.5,5.5-5.5c1.7,0,3.4,0.8,4.5,2.1c1.1-1.3,2.8-2.1,4.5-2.1
                                                       c3.1,0,5.5,2.4,5.5,5.5c0,3.8-3.4,6.9-8.6,11.5L12,21.2z"
                            ></path>
                          </svg>
                        </div>
                      </div>
                      <span class="tab-list__tab-text">مدیریت نمایشگاه</span>
                      <div class="tab-list__tab-icon">
                        <div class="icon-24">
                          <svg>
                            <path
                              class="fill"
                              d="M12,21.2l-1.4-1.3C5.4,15.2,2,12.1,2,8.3c0-3.1,2.4-5.5,5.5-5.5c1.7,0,3.4,0.8,4.5,2.1c1.1-1.3,2.8-2.1,4.5-2.1
                                                     c3.1,0,5.5,2.4,5.5,5.5c0,3.8-3.4,6.9-8.6,11.5L12,21.2z"
                            ></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <div class="tab-list__tab__indicator">
                      <div class="tab-list__tab__indicator-fill"></div>
                    </div>
                  </li>
                  <li class="tab-list__tab">
                    <div class="tab-list__tab__content">
                      <span class="tab-list__tab-text">مدیریت نمایشگاه</span>
                    </div>
                    <div class="tab-list__tab__indicator">
                      <div class="tab-list__tab__indicator-fill"></div>
                    </div>
                  </li>
                  <li class="tab-list__tab">
                    <div class="tab-list__tab__content">
                      <span class="tab-list__tab-text">مدیریت نمایشگاه</span>
                    </div>
                    <div class="tab-list__tab__indicator">
                      <div class="tab-list__tab__indicator-fill"></div>
                    </div>
                  </li>
                  <li class="tab-list__tab">
                    <div class="tab-list__tab__content">
                      <span class="tab-list__tab-text">مدیریت نمایشگاه</span>
                    </div>
                    <div class="tab-list__tab__indicator">
                      <div class="tab-list__tab__indicator-fill"></div>
                    </div>
                  </li>
                  <li class="tab-list__tab">
                    <div class="tab-list__tab__content">
                      <span class="tab-list__tab-text">مدیریت نمایشگاه</span>
                    </div>
                    <div class="tab-list__tab__indicator">
                      <div class="tab-list__tab__indicator-fill"></div>
                    </div>
                  </li>
                  <li class="tab-list__tab">
                    <div class="tab-list__tab__content">
                      <span class="tab-list__tab-text">مدیریت نمایشگاه</span>
                    </div>
                    <div class="tab-list__tab__indicator">
                      <div class="tab-list__tab__indicator-fill"></div>
                    </div>
                  </li>
                  <li class="tab-list__tab">
                    <div class="tab-list__tab__content">
                      <span class="tab-list__tab-text">مدیریت نمایشگاه</span>
                    </div>
                    <div class="tab-list__tab__indicator">
                      <div class="tab-list__tab__indicator-fill"></div>
                    </div>
                  </li>
                  <li class="tab-list__tab">
                    <div class="tab-list__tab__content">
                      <span class="tab-list__tab-text">مدیریت نمایشگاه</span>
                    </div>
                    <div class="tab-list__tab__indicator">
                      <div class="tab-list__tab__indicator-fill"></div>
                    </div>
                  </li>
                  <li class="tab-list__tab">
                    <div class="tab-list__tab__content">
                      <span class="tab-list__tab-text">مدیریت نمایشگاه</span>
                    </div>
                    <div class="tab-list__tab__indicator">
                      <div class="tab-list__tab__indicator-fill"></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </main>
      </div>
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/tab.js"></script>
  </body>
</html>
