<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../assets/css/font.css" />
    <link rel="stylesheet" href="../assets/css/sonnat.reset.css" />
    <link rel="stylesheet" href="../assets/css/sonnat.elements.css" />
    <title>TitleRows - EN</title>
  </head>
  <body>
    <div class="root">
      <div id="main-wrapper" class="base-wrapper">
        <header id="header"></header>
        <main id="main">
          <div class="display-flex flex-column">
            <div class="title-row">
              <div class="title-row__headings">
                <small class="title-row__title--pretitle"
                  >Design System Pretitle</small
                >
                <strong class="title-row__title typography-transition"
                  >Design System Title</strong
                >
                <span class="title-row__title--subtitle typography-transition"
                  >Design System Subtitle</span
                >
              </div>
            </div>
            <hr />
            <div class="title-row side-thumbnail">
              <div class="title-row__thumbnail">
                <!-- <img src="" alt="Thumbnail" /> -->
              </div>
              <div class="title-row__headings">
                <small class="title-row__title--pretitle"
                  >Design System Pretitle</small
                >
                <strong class="title-row__title">Design System Title</strong>
                <span class="title-row__title--subtitle"
                  >Design System Subtitle</span
                >
              </div>
            </div>
            <hr />
            <div class="title-row standalone-thumbnail">
              <div class="title-row__thumbnail">
                <!-- <img src="" alt="Thumbnail" /> -->
              </div>
              <div class="title-row__headings">
                <small class="title-row__title--pretitle"
                  >Design System Pretitle</small
                >
                <strong class="title-row__title">Design System Title</strong>
                <span class="title-row__title--subtitle"
                  >Design System Subtitle</span
                >
              </div>
            </div>
            <hr />
            <div class="title-row spaced-thumbnail">
              <div class="title-row__thumbnail">
                <!-- <img src="" alt="Thumbnail" /> -->
              </div>
              <div class="title-row__headings">
                <small class="title-row__title--pretitle"
                  >Design System Pretitle</small
                >
                <strong class="title-row__title">Design System Title</strong>
                <span class="title-row__title--subtitle"
                  >Design System Subtitle</span
                >
              </div>
            </div>
            <hr />
            <div class="title-row spaced-thumbnail margined">
              <div class="title-row__thumbnail">
                <!-- <img src="" alt="Thumbnail" /> -->
              </div>
              <div class="title-row__headings">
                <small class="title-row__title--pretitle"
                  >Design System Pretitle</small
                >
                <strong class="title-row__title">Design System Title</strong>
                <span class="title-row__title--subtitle"
                  >Design System Subtitle</span
                >
              </div>
            </div>
            <hr />
            <div class="title-row">
              <div class="title-row__thumbnail">
                <!-- <img src="" alt="Thumbnail" /> -->
              </div>
              <div class="title-row__headings">
                <small class="title-row__title--pretitle"
                  >Design System Pretitle</small
                >
                <strong class="title-row__title">Design System Title</strong>
                <span class="title-row__title--subtitle"
                  >Design System Subtitle</span
                >
                <div class="title-row__tags">
                  <div class="tag">1st Tag</div>
                  <div class="tag">2nd Tag</div>
                  <div class="tag">3rd Tag</div>
                </div>
              </div>
            </div>
            <hr />
            <div class="title-row spaced-thumbnail">
              <div class="title-row__thumbnail">
                <!-- <img src="" alt="Thumbnail" /> -->
              </div>
              <div class="title-row__headings">
                <small class="title-row__title--pretitle"
                  >Design System Pretitle</small
                >
                <strong class="title-row__title">Design System Title</strong>
                <span class="title-row__title--subtitle"
                  >Design System Subtitle</span
                >
                <div class="title-row__tags">
                  <div class="tag">1st Tag</div>
                  <div class="tag">2nd Tag</div>
                  <div class="tag">3rd Tag</div>
                </div>
              </div>
            </div>
            <hr />
            <div class="title-row spaced-thumbnail">
              <div class="title-row__thumbnail">
                <!-- <img src="" alt="Thumbnail" /> -->
              </div>
              <div class="title-row__headings">
                <small class="title-row__title--pretitle"
                  >Design System Pretitle</small
                >
                <strong class="title-row__title">Design System Title</strong>
                <div class="title-row__tags">
                  <div class="tag">1st Tag</div>
                  <div class="tag">2nd Tag</div>
                  <div class="tag">3rd Tag</div>
                </div>
              </div>
            </div>
            <hr />
            <div class="title-row">
              <div class="title-row__thumbnail">
                <!-- <img src="" alt="Thumbnail" /> -->
              </div>
              <div class="title-row__headings">
                <strong class="title-row__title">Design System Title</strong>
                <div class="title-row__tags">
                  <div class="tag">1st Tag</div>
                  <div class="tag">2nd Tag</div>
                  <div class="tag">3rd Tag</div>
                </div>
              </div>
            </div>
            <hr />
            <div class="title-row">
              <div class="title-row__headings">
                <strong class="title-row__title">Design System Title</strong>
                <div class="title-row__tags">
                  <div class="tag">1st Tag</div>
                  <div class="tag">2nd Tag</div>
                  <div class="tag">3rd Tag</div>
                </div>
              </div>
            </div>
            <hr />
            <div class="title-row">
              <div class="title-row__headings">
                <strong class="title-row__title">Design System Title</strong>
              </div>
            </div>
            <hr />
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
