.interactive-demo {
  &.sidebar-opened {
    .interactive-demo__head__config {
      width: 240px;

      &:before {
        transform: scaleY(1);
        opacity: 1;
      }
    }

    .interactive-demo__head__tabs {
      max-width: calc(100% - 240px);
    }

    .interactive-demo__content__main {
      width: calc(100% - 240px);
    }

    .config-button {
      pointer-events: none;
    }

    .cancel-button {
      visibility: visible;
      opacity: 1;
      display: inline-flex;
    }
  }
}

.interactive-demo__head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.interactive-demo__head__tabs {
  max-width: calc(100% - 180px);
  z-index: 1;
  transition: width 360ms ease;
}

.interactive-demo__head__config {
  width: 180px;
  position: relative;
  z-index: 2;
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: width 360ms ease;

  & > * {
    flex-shrink: 0;
  }

  &:before {
    content: "";
    position: absolute;
    width: 1px;
    left: 0;
    transform: scaleY(0);
    opacity: 0;
    height: 90%;
    height: calc(100% - 1.5rem);
    z-index: 3;
    background-color: $black-12;
    transition: transform 360ms ease, opacity 360ms ease;
  }
}

.cancel-button {
  visibility: hidden;
  opacity: 0;
}

.interactive-demo__content {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: center;
  background-color: $black-2;
  min-height: 300px;
  position: relative;
  z-index: 3;
}

.interactive-demo__content__main {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  transition: width 360ms ease;
}

.interactive-demo__content__configuration {
  flex-shrink: 0;
  width: 240px;
  padding: 1rem !important;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  transition: width 360ms ease;

  & > ul {
    width: 100%;
    height: 100%;
    overflow: auto;

    & > hr {
      border-top: none;
      border-color: $black-12;
    }
  }

  &:before {
    content: "";
    position: absolute;
    width: 1px;
    left: 0;
    height: 90%;
    height: calc(100% - 2rem);
    z-index: 3;
    background-color: $black-12;
  }
}

@media (max-width: map-get($breakpoints, "sm")-1) {
  .interactive-demo__head__config {
    display: none;
    transition: none;
  }

  .interactive-demo__content {
    flex-wrap: wrap;
  }

  .interactive-demo__content__configuration {
    width: 100%;

    &:before {
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
    }
  }

  .interactive-demo__head__tabs {
    max-width: 100%;
    transition: none;

    .interactive-demo.sidebar-opened & {
      max-width: 100%;
    }
  }

  .interactive-demo__content__main {
    padding: 4rem 1rem;

    .interactive-demo.sidebar-opened & {
      width: 100%;
    }
  }
}
