%base-header {
  margin: 0;
  -webkit-margin-before: 0em;
  margin-block-start: 0em;
  -webkit-margin-after: 0em;
  margin-block-end: 0em;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  text-size-adjust: 100%;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: right;
  color: $black-primary;

  .en & {
    text-align: left;
  }

  &.responsive-typography {
    transition: font-size 200ms ease, line-height 200ms ease;
  }
}

%base-text {
  line-height: 2;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-size-adjust: 100%;
  text-align: right;
  color: $black-primary;

  .en & {
    text-align: left;
  }

  &.responsive-typography {
    transition: font-size 200ms ease, line-height 200ms ease;
  }
}

%text-justify,
.text-justify {
  text-align: justify;
}

%h1,
.h1,
h1 {
  @extend %base-header;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 300;
}

%h2,
.h2,
h2 {
  @extend %base-header;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: normal;
}

%h3,
.h3,
h3 {
  @extend %base-header;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 500;
}

%h4,
.h4,
h4 {
  @extend %base-header;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 500;
}

%h5,
.h5,
h5 {
  @extend %base-header;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 500;
}

%h6,
.h6,
h6 {
  @extend %base-header;
  font-size: 1rem;
  line-height: 2;
  font-weight: 500;
}

p {
  margin: 0;
  -webkit-margin-before: 0em;
  margin-block-start: 0em;
  -webkit-margin-after: 0em;
  margin-block-end: 0em;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
}

.text-xlg,
%text-xlg {
  @extend %base-text;
  font-size: 1.125rem;
}

.text-lg,
%text-lg {
  @extend %base-text;
  font-size: 1rem;
}

.text-lg-stable,
%text-lg-stable {
  font-size: 1rem;
  line-height: 2;
  font-weight: normal;
}

.text-md,
%text-md {
  @extend %base-text;
  font-size: 0.875rem;
  font-weight: 500;
}

.text-sm,
%text-sm {
  @extend %base-text;
  font-size: 0.875rem;
}

.text-xs,
%text-xs {
  @extend %base-text;
  font-size: 0.75rem;
}

.text-xxs,
%text-xxs {
  @extend %base-text;
  font-size: 0.625rem;
}

.text-tiny,
%text-tiny {
  @extend %base-text;
  font-size: 0.5rem;
}

@media (max-width: 769px) {
  %h1,
  .h1,
  h1 {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 300;
  }

  %h2,
  .h2,
  h2 {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: normal;
  }

  %h3,
  .h3,
  h3 {
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 500;
  }

  %h4,
  .h4,
  h4 {
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 500;
  }

  .text-xlg,
  %text-xlg {
    font-size: 1rem;
    line-height: 2;
    font-weight: normal;
  }

  .text-lg,
  %text-lg {
    font-size: 0.875rem;
    line-height: 2;
    font-weight: normal;
  }
}
