%display-flex,
.display-flex {
  display: flex !important;
}

%display-inline-flex,
.display-inline-flex {
  display: inline-flex !important;
}

%display-block,
.display-block {
  display: block !important;
}

%display-inline-block,
.display-inline-block {
  display: inline-block !important;
}

%display-inline,
.display-inline {
  display: inline !important;
}

%display-none,
.display-none {
  display: none !important;
}

@each $key, $val in $breakpoints {
  @media (min-width: map-get($breakpoints, $key)) {
    %display-#{$key}-flex,
    .display-#{$key}-flex {
      display: flex !important;
    }

    %display-#{$key}-inline-flex,
    .display-#{$key}-inline-flex {
      display: inline-flex !important;
    }

    %display-#{$key}-block,
    .display-#{$key}-block {
      display: block !important;
    }

    %display-#{$key}-inline-block,
    .display-#{$key}-inline-block {
      display: inline-block !important;
    }

    %display-#{$key}-inline,
    .display-#{$key}-inline {
      display: inline !important;
    }

    %display-#{$key}-none,
    .display-#{$key}-none {
      display: none !important;
    }
  }
}
