%switch-control {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  margin-right: 2rem;
  margin-left: 0;
  box-sizing: content-box;

  .fa & {
    flex-direction: row-reverse;
    margin-left: 2rem;
    margin-right: 0;
  }

  & > * + * {
    margin-left: 0.25rem;
  }

  &.disabled {
    cursor: not-allowed !important;

    %switch-control__label {
      color: hsla(0, 0%, 0%, 0.32);
      pointer-events: none;
    }

    %switch-control__cell,
    %switch-control__input,
    %switch-control__button {
      pointer-events: none !important;
    }

    %switch-control__button {
      border-color: hsla(0, 0%, 0%, 0.12) !important;
    }
  }

  &.checked {
    %switch-control__cell {
      &:before {
        background-color: hsla(360, 63%, 40%, 0.04);
      }
    }
  }
}

%switch-control__cell {
  width: 2.25rem;
  height: 2.25rem;
  min-width: 2.25rem;
  min-height: 2.25rem;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  z-index: 1;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    background-color: hsla(0, 0%, 0%, 0.04);
    transform: scale(0);
    opacity: 0;
    transform-origin: center;
    transition: transform 240ms ease, opacity 240ms ease,
      background-color 240ms ease;
  }

  &:hover:before {
    transform: scale(1);
    opacity: 1;
  }
}

%switch-control__input {
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: inherit;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

%switch-control__label {
  font-size: 1rem;
  line-height: 2;
  color: hsla(0, 0%, 0%, 0.87);
  transition: 360ms ease;
}

%switch-control__button {
  width: 1.125rem;
  height: 1.125rem;
  border: 1px solid hsla(0, 0%, 0%, 0.24);
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 360ms ease 0.05s, background-color 360ms ease 0.05s;
}

%text-control__label {
}

%switch-control__rippler {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

%switch-control__ripple {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  transform: scale(0);
  transform-origin: center;
  pointer-events: none;
  user-select: none;
  background-color: hsla(360, 63%, 40%, 0.08);
  z-index: -1;
}

.ripple-animation {
  animation: ripple 0.4s linear;
}

@keyframes ripple {
  100% {
    transform: scale(4);
    background-color: hsla(360, 63%, 40%, 0.04);
  }
}
