%base-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-16,
%icon-16 {
  @extend %base-image-container;

  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  & > svg {
    width: 100%;
    height: 100%;
  }
}

.icon-20,
%icon-20 {
  @extend %base-image-container;

  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  & > svg {
    width: 100%;
    height: 100%;
  }
}

.icon-24,
%icon-24 {
  @extend %base-image-container;

  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  & > svg {
    width: 100%;
    height: 100%;
  }
}

.icon-32,
%icon-32 {
  @extend %base-image-container;

  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  & > svg {
    width: 100%;
    height: 100%;
  }
}

.icon-48,
%icon-48 {
  @extend %base-image-container;

  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
  & > svg {
    width: 100%;
    height: 100%;
  }
}

.responsive-imagery {
  text-align: center;

  & > img.w-responsive-image {
    max-width: 100%;
    height: auto;
  }

  & > img.h-responsive-image {
    max-height: 100%;
    width: auto;
  }
}
