%ltr,
.ltr {
  direction: ltr;
}

%rtl,
.rtl {
  direction: rtl;
}

%overflow-x-auto,
.overflow-x-auto {
  overflow-x: auto;
}

%overflow-y-auto,
.overflow-y-auto {
  overflow-y: auto;
}

%overflow-x-hidden,
.overflow-x-hidden {
  overflow-x: hidden;
}

%overflow-y-hidden,
.overflow-y-hidden {
  overflow-y: hidden;
}
