%ltr,
.ltr {
  direction: ltr;
}

%rtl,
.rtl {
  direction: rtl;
}

%overflow-x-auto,
.overflow-x-auto {
  overflow-x: auto;
}

%overflow-y-auto,
.overflow-y-auto {
  overflow-y: auto;
}

%overflow-x-hidden,
.overflow-x-hidden {
  overflow-x: hidden;
}

%overflow-y-hidden,
.overflow-y-hidden {
  overflow-y: hidden;
}

/*
  Use on the element with overflow
  Also add minus-index for the image and a higher value for the parent,
  In case of image overflow-bug.
*/
.safari-transition-radius-overflow-combination-fix {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
