$brand-color-56: hsla(360, 63%, 40%, 0.56) !default;
$brand-color-32: hsla(360, 63%, 40%, 0.32) !default;
$brand-color-24: hsla(360, 63%, 40%, 0.24) !default;
$brand-color-14: hsla(360, 63%, 40%, 0.14) !default;
$brand-color-12: hsla(360, 63%, 40%, 0.12) !default;
$brand-color-8: hsla(360, 63%, 40%, 0.08) !default;
$brand-color-4: hsla(360, 63%, 40%, 0.04) !default;
$brand-primary-color: hsla(360, 63%, 40%, 1) !default;
$brand-hover-color: hsla(360, 55%, 48%, 1) !default;
$brand-secondary-color: hsla(360, 63%, 40%, 0.56) !default;
$brand-press-color: hsla(360, 71%, 36%) !default;
$brand-hint-color: $brand-color-32 !default;
$brand-divider-color: $brand-color-12 !default;

$danger-color: hsla(360, 100%, 50%, 1) !default;
$success-color: hsla(123, 46%, 34%, 1) !default;

$black-60: hsla(0, 0%, 0%, 0.6) !default;
$black-56: hsla(0, 0%, 0%, 0.56) !default;
$black-48: hsla(0, 0, 0%, 0.48) !default;
$black-32: hsla(0, 0%, 0%, 0.32) !default;
$black-24: hsla(0, 0%, 0%, 0.24) !default;
$black-16: hsla(0, 0%, 0%, 0.16) !default;
$black-12: hsla(0, 0%, 0%, 0.12) !default;
$black-8: hsla(0, 0%, 0%, 0.08) !default;
$black-4: hsla(0, 0%, 0%, 0.04) !default;
$black: hsla(0, 0%, 0%, 1) !default;
$black-hover: hsla(0, 0%, 12%, 0.56) !default;
$black-primary: hsla(0, 0%, 0%, 0.87) !default;
$black-secondary: $black-56 !default;
$black-press: $black-60 !default;
$black-hint: $black-32 !default;
$black-divider: $black-12 !default;

$white-12: hsla(0, 0%, 100%, 0.12) !default;
$white: hsla(0, 0%, 100%, 1) !default;
$white-primary: $white !default;
$white-secondary: hsla(0, 0%, 100%, 0.7) !default;
$white-hint: hsla(0, 0%, 100%, 0.5) !default;
$white-divider: $white-12 !default;

$gray-900: hsla(0, 0%, 13%, 1) !default;
$gray-850: hsla(0, 0%, 19%, 1) !default;
$gray-800: hsla(0, 0%, 26%, 1) !default;
$gray-400: hsla(0, 0%, 74%, 1) !default;
$gray-200: hsla(0, 0%, 93%, 1) !default;
$gray-100: hsla(0, 0%, 96%, 1) !default;
$gray-50: hsla(0, 0%, 98%, 1) !default;
