$brand-primary-color: hsla(0, 63%, 40%, 1) !default;
$brand-secondary-color: hsla(0, 63%, 40%, 0.56) !default;
$brand-hint-color: hsla(0, 63%, 40%, 0.32) !default;
$brand-divider-color: hsla(0, 63%, 40%, 0.12) !default;

$danger-color: hsla(360, 100%, 50%, 1) !default;
$success-color: hsla(123, 46%, 34%, 1) !default;

$black: hsla(0, 0%, 0%, 1) !default;
$black-primary: hsla(0, 0%, 0%, 0.87) !default;
$black-secondary: hsla(0, 0%, 0%, 0.56) !default;
$black-hint: hsla(0, 0%, 0%, 0.32) !default;
$black-divider: hsla(0, 0%, 0%, 0.12) !default;

$white-primary: hsla(0, 0%, 100%, 1) !default;
$white-secondary: hsla(0, 0%, 100%, 0.7) !default;
$white-hint: hsla(0, 0%, 100%, 0.5) !default;
$white-divider: hsla(0, 0%, 100%, 0.12) !default;

$gray-50: hsla(0, 0%, 13%, 1) !default;
$gray-100: hsla(0, 0%, 19%, 1) !default;
$gray-200: hsla(0, 0%, 26%, 1) !default;
$gray-400: hsla(0, 0%, 74%, 1) !default;
$gray-800: hsla(0, 0%, 93%, 1) !default;
$gray-850: hsla(0, 0%, 96%, 1) !default;
$gray-900: hsla(0, 0%, 98%, 1) !default;
