$sonnat-icon-font-family: "sonnat-icon" !default;
$sonnat-icon-font-path: "../font/font-icon" !default;

$sonnat-icon-link-o: "\e9b8";
$sonnat-icon-share-2-o: "\e9b9";
$sonnat-icon-social-apple: "\e99e";
$sonnat-icon-social-cafebazaar-type: "\e99f";
$sonnat-icon-social-divar: "\e9a0";
$sonnat-icon-social-facebook: "\e9a1";
$sonnat-icon-social-gitlab: "\e9a2";
$sonnat-icon-social-instagram: "\e9a3";
$sonnat-icon-social-medium: "\e9a4";
$sonnat-icon-social-sonnat-medium: "\e9a5";
$sonnat-icon-social-sonnat-thick: "\e9a6";
$sonnat-icon-social-sonnat-thin: "\e9a7";
$sonnat-icon-social-twitter: "\e9a8";
$sonnat-icon-chair-office: "\e9a9";
$sonnat-icon-chat-bubble: "\e9aa";
$sonnat-icon-remove-tag: "\e9ab";
$sonnat-icon-arrow-backward-large-o: "\e9ac";
$sonnat-icon-arrow-downward-large-o: "\e9ad";
$sonnat-icon-arrow-forward-large-o: "\e9ae";
$sonnat-icon-arrow-upward-large-o: "\e9af";
$sonnat-icon-chair-office-o: "\e9b0";
$sonnat-icon-chart-bar-o: "\e9b1";
$sonnat-icon-chat-bubble-o: "\e9b2";
$sonnat-icon-gift-o: "\e9b3";
$sonnat-icon-log-in-o: "\e9b4";
$sonnat-icon-log-out-o: "\e9b5";
$sonnat-icon-paint-brush-o: "\e9b6";
$sonnat-icon-remove-tag-o: "\e9b7";
$sonnat-icon-add-person: "\e900";
$sonnat-icon-added: "\e901";
$sonnat-icon-block: "\e902";
$sonnat-icon-bookmark: "\e903";
$sonnat-icon-brush: "\e904";
$sonnat-icon-call-end: "\e905";
$sonnat-icon-car-inspected: "\e906";
$sonnat-icon-car-inspection: "\e907";
$sonnat-icon-car: "\e908";
$sonnat-icon-checked: "\e909";
$sonnat-icon-circle-add: "\e90a";
$sonnat-icon-circle-check: "\e90b";
$sonnat-icon-circle-error: "\e90c";
$sonnat-icon-circle-help: "\e90d";
$sonnat-icon-circle-history: "\e90e";
$sonnat-icon-circle-info: "\e90f";
$sonnat-icon-circle-night-mode: "\e910";
$sonnat-icon-circle-remove: "\e911";
$sonnat-icon-contact: "\e912";
$sonnat-icon-declined: "\e913";
$sonnat-icon-dialog: "\e914";
$sonnat-icon-edit: "\e915";
$sonnat-icon-favourite: "\e916";
$sonnat-icon-flag: "\e917";
$sonnat-icon-gavel: "\e918";
$sonnat-icon-history: "\e919";
$sonnat-icon-info: "\e91a";
$sonnat-icon-lock: "\e91b";
$sonnat-icon-mail: "\e91c";
$sonnat-icon-mic: "\e91d";
$sonnat-icon-night-mode: "\e91e";
$sonnat-icon-payment: "\e91f";
$sonnat-icon-person: "\e920";
$sonnat-icon-phone: "\e921";
$sonnat-icon-photo-library: "\e922";
$sonnat-icon-photo: "\e923";
$sonnat-icon-pin-location: "\e924";
$sonnat-icon-pin-tilt: "\e925";
$sonnat-icon-pin: "\e926";
$sonnat-icon-report: "\e927";
$sonnat-icon-sms: "\e928";
$sonnat-icon-star: "\e929";
$sonnat-icon-text-message: "\e92a";
$sonnat-icon-tooltip-image: "\e92b";
$sonnat-icon-tooltip-text: "\e92c";
$sonnat-icon-trash: "\e92d";
$sonnat-icon-verified: "\e92e";
$sonnat-icon-view: "\e92f";
$sonnat-icon-warning: "\e930";
$sonnat-icon-add-camera-o: "\e931";
$sonnat-icon-add-note-detailed-o: "\e932";
$sonnat-icon-add-note-o: "\e933";
$sonnat-icon-add-o: "\e934";
$sonnat-icon-add-person-o: "\e935";
$sonnat-icon-added-o: "\e936";
$sonnat-icon-advert-o: "\e937";
$sonnat-icon-apartment-modern-o: "\e938";
$sonnat-icon-apartment-old-o: "\e939";
$sonnat-icon-arrow-backward-o: "\e93a";
$sonnat-icon-arrow-down-o: "\e93b";
$sonnat-icon-arrow-downward-o: "\e93c";
$sonnat-icon-arrow-forward-o: "\e93d";
$sonnat-icon-arrow-left-o: "\e93e";
$sonnat-icon-arrow-right-o: "\e93f";
$sonnat-icon-arrow-up-o: "\e940";
$sonnat-icon-arrow-upward-o: "\e941";
$sonnat-icon-block-o: "\e942";
$sonnat-icon-bookmark-o: "\e943";
$sonnat-icon-brush-o: "\e944";
$sonnat-icon-burger-menu-o: "\e945";
$sonnat-icon-cached-o: "\e946";
$sonnat-icon-call-end-o: "\e947";
$sonnat-icon-camera-o: "\e948";
$sonnat-icon-car-o: "\e949";
$sonnat-icon-category-o: "\e94a";
$sonnat-icon-check-o: "\e94b";
$sonnat-icon-checked-o: "\e94c";
$sonnat-icon-circle-add-o: "\e94d";
$sonnat-icon-circle-check-o: "\e94e";
$sonnat-icon-circle-error-o: "\e94f";
$sonnat-icon-circle-help-o: "\e950";
$sonnat-icon-circle-history-o: "\e951";
$sonnat-icon-circle-info-o: "\e952";
$sonnat-icon-circle-night-mode-o: "\e953";
$sonnat-icon-circle-remove-o: "\e954";
$sonnat-icon-close-o: "\e955";
$sonnat-icon-community-o: "\e956";
$sonnat-icon-copy-o: "\e957";
$sonnat-icon-crop-4-3-o: "\e958";
$sonnat-icon-crop-o: "\e959";
$sonnat-icon-crop-square-o: "\e95a";
$sonnat-icon-declined-o: "\e95b";
$sonnat-icon-dejavu-o: "\e95c";
$sonnat-icon-dialog-o: "\e95d";
$sonnat-icon-dice-o: "\e95e";
$sonnat-icon-dollor-o: "\e95f";
$sonnat-icon-edit-o: "\e960";
$sonnat-icon-eraser-o: "\e961";
$sonnat-icon-favourite-o: "\e962";
$sonnat-icon-filter-o: "\e963";
$sonnat-icon-flag-o: "\e964";
$sonnat-icon-flag-wave-o: "\e965";
$sonnat-icon-full-screen-o: "\e966";
$sonnat-icon-funnel-o: "\e967";
$sonnat-icon-gavel-o: "\e968";
$sonnat-icon-history-o: "\e969";
$sonnat-icon-info-o: "\e96a";
$sonnat-icon-ladder-group-o: "\e96b";
$sonnat-icon-ladder-o: "\e96c";
$sonnat-icon-lamp-o: "\e96d";
$sonnat-icon-lock-o: "\e96e";
$sonnat-icon-mail-o: "\e96f";
$sonnat-icon-mic-o: "\e970";
$sonnat-icon-mobile-friendly-o: "\e971";
$sonnat-icon-mobile-o: "\e972";
$sonnat-icon-more-horizontal-o: "\e973";
$sonnat-icon-more-vertical-o: "\e974";
$sonnat-icon-my-location-o: "\e975";
$sonnat-icon-night-mode-o: "\e976";
$sonnat-icon-note-o: "\e977";
$sonnat-icon-paperclip-thick-o: "\e978";
$sonnat-icon-paperclip-thin-o: "\e979";
$sonnat-icon-payment-o: "\e97a";
$sonnat-icon-person-o: "\e97b";
$sonnat-icon-phone-o: "\e97c";
$sonnat-icon-photo-library-o: "\e97d";
$sonnat-icon-photo-o: "\e97e";
$sonnat-icon-pin-location-o: "\e97f";
$sonnat-icon-pin-o: "\e980";
$sonnat-icon-pin-tilt-o: "\e981";
$sonnat-icon-read-o: "\e982";
$sonnat-icon-refresh-o: "\e983";
$sonnat-icon-remove-o: "\e984";
$sonnat-icon-renew-o: "\e985";
$sonnat-icon-role-brush-o: "\e986";
$sonnat-icon-rotate-90-o: "\e987";
$sonnat-icon-rotate-left-o: "\e988";
$sonnat-icon-rotate-right-o: "\e989";
$sonnat-icon-search-large-o: "\e98a";
$sonnat-icon-search-o: "\e98b";
$sonnat-icon-setting-o: "\e98c";
$sonnat-icon-share-o: "\e98d";
$sonnat-icon-sms-o: "\e98e";
$sonnat-icon-star-half-left-o: "\e98f";
$sonnat-icon-star-half-right-o: "\e990";
$sonnat-icon-star-o: "\e991";
$sonnat-icon-suitcase-o: "\e992";
$sonnat-icon-tablet-o: "\e993";
$sonnat-icon-text-message-o: "\e994";
$sonnat-icon-timer-o: "\e995";
$sonnat-icon-tooltip-image-o: "\e996";
$sonnat-icon-tooltip-text-o: "\e997";
$sonnat-icon-trash-o: "\e998";
$sonnat-icon-trending-up-o: "\e999";
$sonnat-icon-verified-o: "\e99a";
$sonnat-icon-view-o: "\e99b";
$sonnat-icon-warning-o: "\e99c";
$sonnat-icon-wrest-watch-o: "\e99d";
