/* PrismJS 1.16.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+scss+jsx+regex&plugins=line-numbers+normalize-whitespace */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
.pre * {
  transition: color 360ms ease;
}

code[class*="language-"],
pre[class*="language-"] {
  color: hsla(0, 0%, 0%, 0.56);
  background: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */

pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: none;
}

/* Inline code */

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: hsla(0, 0%, 0%, 0.24);
}

.token.punctuation {
  color: hsla(0, 0%, 0%, 0.32);
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #e6408c;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #5079e5;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;
  background: hsla(0, 0%, 100%, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #d56f1a;
}

.token.function,
.token.class-name {
  color: #dd4a68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre[class*="language-"].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -4em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid hsla(0, 0%, 0%, 0.12);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #b3b3b4;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

.dark-theme code[class*="language-"],
.dark-theme pre[class*="language-"] {
  color: #fff;
}

.dark-theme pre code .token.comment,
.dark-theme pre code .token.prolog,
.dark-theme pre code .token.doctype,
.dark-theme pre code .token.cdata {
  color: slategray !important;
}

.dark-theme pre code .token.punctuation {
  color: #acb2be !important;
}

.dark-theme pre code .namespace {
  opacity: 0.7 !important;
}

.dark-theme pre code .token.property,
.dark-theme pre code .token.tag,
.dark-theme pre code .token.constant,
.dark-theme pre code .token.symbol,
.dark-theme pre code .token.deleted {
  color: #92eeee !important;
}

.dark-theme pre code .token.boolean,
.dark-theme pre code .token.number {
  color: #ae81ff !important;
}

.dark-theme pre code .token.selector,
.dark-theme pre code .token.attr-name,
.dark-theme pre code .token.string,
.dark-theme pre code .token.char,
.dark-theme pre code .token.builtin,
.dark-theme pre code .token.inserted {
  color: #6ea6ff !important;
}

.dark-theme pre code .token.operator,
.dark-theme pre code .token.entity,
.dark-theme pre code .token.url,
.dark-theme pre code .language-css .token.string,
.dark-theme pre code .style .token.string,
.dark-theme pre code .token.variable {
  color: #f8f8f2 !important;
  background-color: transparent !important;
}

.dark-theme pre code .token.atrule,
.dark-theme pre code .token.attr-value,
.dark-theme pre code .token.function,
.dark-theme pre code .token.class-name {
  color: #e6db74 !important;
}

.dark-theme pre code .token.keyword {
  color: #66d9ef !important;
}

.dark-theme pre code .token.regex,
.dark-theme pre code .token.important {
  color: #fd971f !important;
}

.dark-theme .line-numbers .line-numbers-rows {
  border-right: 1px solid hsla(0, 0%, 100%, 0.12);
}

.dark-theme .line-numbers-rows > span:before {
  color: #4a5160;
}
