.resizable-view-row {
  display: flex;
  direction: ltr;
  margin-bottom: 3rem;
}

.resizable-view {
  width: 100%;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.01);
  position: relative;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  border-radius: 4px;
  z-index: 1;
  background-color: blackColor(0.04);

  &.typography-sheet {
    background-color: #fdff7a;

    .resizable-view__content {
      flex-direction: column;
    }

    .resizable-view__draggable-handle {
      background-color: #fdff8f;
    }

    .resizable-typography-row {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      padding: 1rem 0rem 1rem 0rem;
      box-sizing: border-box;
      justify-content: stretch;
      direction: ltr;

      &:nth-child(odd) {
        background-color: rgba(0, 0, 0, 0.02);
      }

      &.response {
        .h1,
        h1 {
          font-size: 2rem !important;
          line-height: 1.5 !important;
          font-weight: 300 !important;
        }

        .h2,
        h2 {
          font-size: 1.5rem !important;
          line-height: 1.5 !important;
          font-weight: normal !important;
        }

        .h3,
        h3 {
          font-size: 1.25rem !important;
          line-height: 1.5 !important;
          font-weight: 500 !important;
        }

        .h4,
        h4 {
          font-size: 1.125rem !important;
          line-height: 1.5 !important;
          font-weight: 500 !important;
        }

        .body-body-text-md {
          font-size: 1rem !important;
          line-height: 2 !important;
          font-weight: normal !important;
        }

        .body-text-md {
          font-size: 0.875rem !important;
          line-height: 2 !important;
          font-weight: normal !important;
        }
      }
    }

    .resizable-typography-row__type-info {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 2rem;

      & > span {
        font-family: "Roboto", sans-serif;
        color: rgba(0, 0, 0, 0.54);
        font-size: 0.5rem;
        line-height: 1.5;
        letter-spacing: 0.025rem;
      }
    }

    .resizable-typography-row__divider {
      width: 1px;
      border-left: 1px dashed rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      display: flex;
      flex-basis: auto;
      align-self: stretch;
      margin-left: 2rem;
    }

    .resizable-typography-row__type {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      direction: rtl;
    }
  }
}

.resizable-view-row__breakpoints {
  position: absolute;
  left: 577px;
  top: -2px;
  height: 100%;
  z-index: 1000;
  box-sizing: border-box;
  pointer-events: none;
  user-select: none;

  &.response {
    left: auto;
    right: 0;
  }
}

.resizable-view-row__breakpoints__breakpoint {
  position: sticky;
  top: 0;
  width: 32px;

  & > svg {
    width: 100%;
    height: 100%;
  }
}

.resizable-view__draggable-handle {
  $dot-size: 3px;

  width: 1.5rem;
  right: 1px;
  top: 1px;
  bottom: 1px;
  box-sizing: border-box;
  position: absolute;
  cursor: ew-resize !important;
  z-index: 2000;
  touch-action: none;
  border-radius: 0 3px 3px 0;
  box-shadow: -2px 0 16px -2px rgba(0, 0, 0, 0.06);
  background-color: $white;
  transition: background-color 360ms ease, box-shadow 360ms ease;

  &:hover:after {
    background-color: blackColor(0.32);
    box-shadow: 0 2 * $dot-size 0 0 blackColor(0.32),
      0 -2 * $dot-size 0 0 blackColor(0.32);
  }

  &.active:after {
    background-color: $brand-primary-color;
    box-shadow: 0 2 * $dot-size 0 0 $brand-primary-color,
      0 -2 * $dot-size 0 0 $brand-primary-color;

    .resizable-view.typography-sheet & {
      background-color: #ffae00;
      box-shadow: 0 2 * $dot-size 0 0 #ffae00, 0 -2 * $dot-size 0 0 #ffae00;
    }
  }

  &:after {
    content: "";
    width: $dot-size;
    height: $dot-size;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: blackColor(0.24);
    box-shadow: 0 2 * $dot-size 0 0 blackColor(0.24),
      0 -2 * $dot-size 0 0 blackColor(0.24);
    transition: background-color 360ms ease, box-shadow 360ms ease;
  }
}

.resizable-view__content {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 10rem;
  padding: 1rem 2.5625rem 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  @include rtlStyle(
    (
      direction: rtl
    )
  );
  @include ltrStyle(
    (
      direction: ltr
    )
  );
}
