.accordion {
  &.iconed {
    .accordion__list {
      .accordion__list__item {
        & > .accordion__list__sub-list {
          @include rtlStyle(
            (
              margin-right: 3rem
            )
          );
          @include ltrStyle(
            (
              margin-left: 3rem
            )
          );
        }
      }
    }
  }

  &:not(.iconed) {
    .accordion__icon {
      display: none;
    }
  }

  &.dense {
    .accordion__heading,
    %base-item > a,
    .accordion__list
      .accordion__list__item
      > .accordion__list__sub-list
      .accordion__list__sub-list__item
      > .accordion__list__sub-list
      .accordion__list__sub-list__item {
      min-height: 2rem;
    }

    .accordion__list
      .accordion__list__item
      > .accordion__list__sub-list
      .accordion__list__sub-list__item
      > .accordion__list__sub-list.normalize
      .accordion__list__sub-list__item
      > a {
      font-size: 0.875rem !important;
    }

    %base-rail {
      top: #{2rem * 0.25};
      bottom: #{2rem * 0.25};
    }
  }
}

%base-rail {
  content: "";
  position: absolute;
  width: 1px;

  @include rtlStyle(
    (
      right: 0
    )
  );
  @include ltrStyle(
    (
      left: 0
    )
  );

  top: 0.5rem;
  bottom: 0.5rem;
  background-color: transparent;
}

%base-item {
  & > a {
    @extend %body-text-sm;

    display: flex;
    align-items: center;
    min-height: 2.5rem;
    color: $black-secondary;
    padding: 0.375rem 0;
    transition: color 360ms ease;

    &:hover {
      color: $black-primary;
    }

    &.active {
      color: $black-primary;
      font-weight: 500;

      .fill {
        fill: $black-primary;
      }
    }

    .fill {
      fill: $black-secondary;
    }
  }
}

.accordion__heading {
  @extend %body-text-md-stable;

  min-height: 2.5rem;
  display: flex;
  align-items: center;
}

.accordion__list {
  .accordion__list__item {
    @extend %base-item;

    & > .accordion__list__sub-list {
      position: relative;

      @include rtlStyle(
        (
          margin-right: 2rem
        )
      );
      @include ltrStyle(
        (
          margin-left: 2rem
        )
      );

      .accordion__list__sub-list__item {
        @extend %base-item;

        & > .accordion__list__sub-list {
          position: relative;

          @include rtlStyle(
            (
              margin-right: 1rem
            )
          );
          @include ltrStyle(
            (
              margin-left: 1rem
            )
          );

          &:before {
            @extend %base-rail;

            background-color: $black-divider;
          }

          .accordion__list__sub-list__item {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            min-height: 2.5rem;

            & > a {
              @extend %caption-text-lg;

              color: $black-secondary;
              width: 100%;
              position: relative;
              padding: 0.5rem 0;

              @include rtlStyle(
                (
                  padding-right: 0.5rem
                )
              );
              @include ltrStyle(
                (
                  padding-left: 0.5rem
                )
              );

              &:before {
                @extend %base-rail;
              }

              &.active {
                font-weight: 500;
                color: $brand-primary-color;

                &:before {
                  background-color: $brand-primary-color;
                }
              }
            }
          }
        }
      }
    }
  }
}

.accordion__icon {
  @extend %icon-20;
  @include rtlStyle(
    (
      margin-left: 0.5rem
    )
  );
  @include ltrStyle(
    (
      margin-right: 0.5rem
    )
  );
}
