%base-icon-button {
  padding: 0;
  height: 2.5rem;
  width: 2.5rem;
  min-width: auto;
  border-radius: 50%;

  & > .button__icon {
    @extend .icon-20;
    margin: 0 !important;
  }

  & > .button__icon + *:not(.rippler) {
    display: none;
  }

  .button__rippler {
    border-radius: 50%;
  }

  &.small {
    height: 2rem;
    width: 2rem;
    min-width: auto;

    & > .button__icon {
      @extend .icon-16;
    }
  }
}

.button {
  height: 2.5rem;
  min-width: 6rem;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0rem $space;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: $black-secondary;
  color: $white;
  border: 1px solid transparent;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  vertical-align: middle;
  line-height: 2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color 360ms ease, background-color 360ms ease,
    transform 360ms ease, border-radius 360ms ease, box-shadow 400ms ease,
    border-color 360ms ease;

  & > *:not(.button__icon) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .fill {
    fill: $white;
    transition: fill 360ms ease;
  }

  &.small {
    height: 2rem;
    min-width: 4rem;
    padding: 0rem 0.75rem;
    font-size: 0.875rem;
  }

  &:hover,
  &:focus {
    background-color: $black-hover;
  }

  &:active {
    background-color: $black-press;
  }

  &.icon-button {
    @extend %base-icon-button;
  }

  &.rounded {
    border-radius: 1.5rem;

    .button__rippler {
      border-radius: 1.5rem;
    }
  }

  & > .button__icon {
    @include rtlStyle(
      (
        "margin-right": "-0.25rem",
        "margin-left": '#{map-get($spaces, "x4")}'
      )
    );
    @include ltrStyle(
      (
        "margin-left": "-0.25rem",
        "margin-right": '#{map-get($spaces, "x4")}'
      )
    );
  }

  .button__icon {
    @extend .icon-20;
  }

  &.small {
    .button__icon {
      @extend .icon-16;
    }

    & > .button__icon {
      @include rtlStyle(
        (
          "margin-left": '#{map-get($spaces, "x2")}'
        )
      );
      @include ltrStyle(
        (
          "margin-right": '#{map-get($spaces, "x2")}'
        )
      );
    }
  }

  &.inlined {
    background-color: transparent;
    color: blackColor(0.56);

    .fill {
      fill: blackColor(0.56);
    }

    &:hover,
    &:focus {
      background-color: blackColor(0.04);
      color: $black-primary;

      .fill {
        fill: $black-primary;
      }
    }

    &:active {
      background-color: blackColor(0.12);
    }

    .button__rippler__ripple {
      background-color: blackColor(0.12);
    }

    &.disabled,
    &[disabled] {
      background-color: transparent;
      color: blackColor(0.32);

      .fill {
        fill: blackColor(0.32);
      }
    }
  }

  &.raised {
    box-shadow: 0 8px 12px -6px blackColor(0.16), 0 12px 16px 0 blackColor(0.12),
      0 1px 32px 0 blackColor(0.08);

    &:hover,
    &:focus {
      box-shadow: 0 2px 6px -1px blackColor(0.24), 0 4px 10px 0 blackColor(0.12),
        0 0 12px 0 blackColor(0.08);
      transform: translateY(0.125rem);
    }
  }

  &.outlined {
    background-color: transparent;
    border-color: blackColor(0.48);
    color: $black-primary;

    .fill {
      fill: $black-primary;
    }

    &:hover,
    &:focus {
      background-color: blackColor(0.04);
    }

    &:active {
      background-color: blackColor(0.12);
    }

    .button__rippler__ripple {
      background-color: blackColor(0.12);
    }

    &.disabled,
    [disabled] {
      background-color: transparent !important;
      border-color: blackColor(0.12);
      color: blackColor(0.32);

      .fill {
        fill: blackColor(0.32);
      }
    }
  }

  &.primary {
    background-color: $brand-primary-color;

    &.raised {
      box-shadow: 0 14px 20px -12px brandColor(0.32),
        0 16px 24px 2px brandColor(0.14), 0 12px 30px -8px brandColor(0.12);

      &:hover,
      &:focus {
        box-shadow: 0 0px 6px -2px brandColor(0.56),
          0 4px 16px 0px brandColor(0.14), 0 2px 10px 0 brandColor(0.12);
        transform: translateY(0.125rem);
      }

      &.small {
        box-shadow: 0 8px 9px -4px brandColor(0.24),
          0 14px 16px 2px brandColor(0.14), 0 5px 20px 4px brandColor(0.12);

        &:hover,
        &:focus {
          box-shadow: 0 0px 4px -2px brandColor(0.56),
            0 4px 8px 0 brandColor(0.14), 0 0px 8px 2px brandColor(0.12);
        }
      }
    }

    &.outlined {
      background-color: transparent;
      border-color: $brand-secondary-color;
      color: $brand-primary-color;

      .fill {
        fill: $brand-primary-color;
      }

      &:hover,
      &:focus {
        background-color: brandColor(0.04);
        border-color: $brand-primary-color;
      }

      &:active {
        background-color: brandColor(0.12);
        border-color: $brand-primary-color;
      }

      .button__rippler__ripple {
        background-color: brandColor(0.12);
      }

      &.disabled,
      [disabled] {
        background-color: transparent;
        border-color: brandColor(0.12);
        color: brandColor(0.32);

        .fill {
          fill: brandColor(0.32);
        }
      }
    }

    &.inlined {
      background-color: transparent;
      color: $brand-primary-color;

      .fill {
        fill: $brand-primary-color;
      }

      &:hover,
      &:focus {
        background-color: brandColor(0.04);
      }

      &:active {
        background-color: brandColor(0.12);
      }

      .button__rippler__ripple {
        background-color: brandColor(0.12);
      }

      &.disabled,
      [disabled] {
        background-color: transparent;
        color: brandColor(0.32);

        .fill {
          fill: brandColor(0.32);
        }

        &:hover,
        &:focus {
          background-color: transparent;
        }
      }
    }

    &:hover,
    &:focus {
      background-color: $brand-hover-color;
    }

    &:active {
      background-color: $brand-press-color;
    }

    &.disabled,
    &[disabled] {
      &:hover,
      &:focus {
        background-color: $gray-100;
      }
    }
  }

  &.disabled,
  &[disabled] {
    background-color: $gray-100;
    color: blackColor(0.32);
    cursor: not-allowed;
    box-shadow: none !important;

    .fill {
      fill: blackColor(0.32);
    }

    &:hover {
      box-shadow: none !important;
      transform: none !important;
    }
  }

  .button__rippler {
    @extend .safari-transition-radius-overflow-combination-fix;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
    position: absolute;
    border-radius: 0.25rem;
    display: block;
  }

  .button__rippler__ripple {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    transform: scale(0);
    transform-origin: center;
    pointer-events: none;
    user-select: none;
    background-color: whiteColor(0.12);
  }

  .button__ripple-animation {
    animation: button_ripple 0.4s linear;

    @keyframes button_ripple {
      100% {
        transform: scale(4);
        opacity: 0.04;
      }
    }
  }
}
