.divider {
  position: relative;
  margin: 0;
  border: none;
  border-style: inset;
  border-color: $black-divider;
  border-width: 0;
  border-top-width: 1px;

  &:not(.vertical):not(.dotted) {
    width: 100%;
    height: auto;

    &.padded {
      height: auto;
      width: calc(100% - #{$space * 2});
      margin-right: auto;
      margin-left: auto;
    }

    &.spaced {
      margin-block-start: map-get($spaces, "x4");
      margin-block-end: map-get($spaces, "x4");
      margin-inline-start: auto;
      margin-inline-end: auto;
    }
  }

  &.dotted {
    box-sizing: content-box;
    height: 0;
    text-align: center;
    font-size: 1.75rem;
    line-height: 1.14285714;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    border: none;

    &:after {
      content: "...";
      display: inline-block;
      margin-left: 0.6em;
      position: relative;
      color: hsla(0, 0%, 0%, 0.87);
      top: -1.5rem;
      letter-spacing: 0.6em;
      --x-height-multiplier: 0.342;
      --baseline-multiplier: 0.22;
    }
  }

  &.vertical {
    width: auto;
    height: 100%;
    border-color: $black-divider;
    border-width: 0;
    border-right-width: 1px;

    &.padded {
      height: calc(100% - #{$space * 2});
    }

    &.spaced {
      margin-block-start: auto;
      margin-block-end: auto;
      margin-inline-start: map-get($spaces, "x4");
      margin-inline-end: map-get($spaces, "x4");
    }
  }
}

.zebra-divider {
  & > *:nth-child(even) {
    background-color: $gray-50;
  }
}
