.divider {
  position: relative;
  margin: 0;
  border: none;
  flex-shrink: 0;

  &:not(.vertical):not(.dotted) {
    width: 100%;
    height: 1px;
    background-color: $black-divider;

    &.padded {
      width: calc(100% - #{$space * 2});
      margin-right: auto;
      margin-left: auto;
    }

    &.spaced {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  &.dotted {
    box-sizing: content-box;
    height: 0;
    text-align: center;
    font-size: 1.75rem;
    line-height: 1.14285714;
    font-weight: 400;
    margin-top: map-get($spaces, "x12");
    margin-bottom: map-get($spaces, "x4");
    border: none;

    &:after {
      content: "...";
      display: inline-block;
      margin-left: 0.6em;
      position: relative;
      color: hsla(0, 0%, 0%, 0.87);
      top: -1.5rem;
      letter-spacing: 0.6em;
      --x-height-multiplier: 0.342;
      --baseline-multiplier: 0.22;
    }
  }

  &.vertical {
    height: auto;
    width: 1px;
    background-color: $black-divider;

    &.padded {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    &.spaced {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

.zebra-divider {
  & > *:nth-child(even) {
    background-color: $gray-50;
  }
}
