.form-field-set {
  padding: 0.5rem 0;
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
}

.form-field-set__title {
  @extend %base-text;

  font-size: 1rem;
  font-weight: 500;
  line-height: 2;
  color: $black-primary;

  & + .form-field-set__description {
    margin-top: 0.25rem;
  }
}

.form-field-set__description {
  @extend %base-text;

  font-size: 14px;
  line-height: 2;
  color: $black-secondary;
}
