.section-row {
  & > .section-row__title ~ .section-row__title {
    @extend %base-text, %text-variation;

    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 500;
    margin-top: 1rem;
    color: $black;

    & + .section-row__paragraph {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

%text-variation {
  &.primary {
    color: $black-primary;
  }

  &.secondary {
    color: $black-secondary;
  }

  &.hint {
    color: $black-hint;
  }

  &.success {
    color: $success-color;
  }

  &.danger {
    color: $danger-color;
  }

  @include rtlStyle(
    (
      "text-align": "right"
    )
  );
  @include ltrStyle(
    (
      "text-align": "left"
    )
  );
}

.section-row__title {
  @extend %base-text, %mq-title-text-md, %text-variation;

  margin-top: 2rem;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 500;
}

.section-row__paragraph {
  @extend %base-text, %mq-body-text-md, %text-variation;

  font-size: 1rem;
  line-height: 2;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;

  &.no-space {
    margin-top: 0;
    margin-bottom: 0;
  }
}
