.tab-row {
  position: relative;

  &.stable {
    .tab-list__tab {
      position: relative;
      width: 100%;
      max-width: 100%;
      flex-basis: 0;
      flex-grow: 1;
      min-width: initial;
    }

    @media (max-width: 374px) {
      .tab-list {
        padding: 0;
      }
    }
  }

  &.iconed {
    .tab-list__tab {
      padding: 0rem 1rem;
    }
  }

  &:not(.stable):after,
  &:not(.stable):before {
    content: "";
    width: 2rem;
    min-width: 2rem;
    height: 100%;
    position: absolute;
    z-index: 2;
    pointer-events: none;
    top: 0rem;
    flex-shrink: 0;
  }

  &:not(.stable):after {
    left: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &:not(.stable):before {
    right: 0rem;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &:not(.stable) > .tab-list:after {
    content: "";
    width: 2rem;
    height: 3rem;
    flex-shrink: 0;
  }

  .fixer {
    width: 100%;
    height: 0.875rem;
    position: absolute;
    bottom: 0rem;
    z-index: 1;
    background-color: hsla(0, 0%, 100%, 1);
  }
}

.tab-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  overflow-x: auto;
  overflow-y: visible;
  position: relative;
  width: 100%;
  min-height: 4rem;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
  padding: 0rem 2rem;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb:hover {
    display: none;
    background-color: rgba(255, 255, 255, 0);
  }
}

.tab-list__tab {
  min-width: 7rem;
  display: flex;
  min-height: 3rem;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0rem 1.5rem;
  -webkit-appearance: none;
  text-align: center;
  cursor: pointer;
  transition: 160ms ease;
  white-space: nowrap;
  flex-shrink: 0;

  &.active {
    .tab-list__tab-text {
      color: hsla(360, 63%, 40%, 1);
    }

    .tab-list__tab-icon {
      .fill {
        fill: hsla(360, 63%, 40%, 1);
      }
    }

    .tab-list__tab__indicator-fill {
      opacity: 1;
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 0s;
    }
  }

  &:hover {
    background-color: hsla(0, 0%, 0%, 0.04);
  }
}

.tab-list__tab__content {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  & > * + * {
    margin-right: 0.5rem;

    .en & {
      margin-left: 0.5rem;
    }
  }
}

.tab-list__tab-text {
  font-size: 1rem;
  line-height: 2;
  transition: color 360ms ease;
  color: hsla(0, 0%, 0%, 0.56);
  white-space: nowrap;
}

.tab-list__tab-icon {
  .fill {
    fill: hsla(0, 0%, 0%, 0.56);
    transition: fill 360ms ease;
  }
}

.tab-list__tab__indicator {
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.tab-list__tab__indicator-fill {
  content: "";
  width: 100%;
  height: 2px;
  background-color: hsla(360, 63%, 40%, 1);
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform-origin: 0% 0%;
  transition: transform 0s, opacity 100ms;
}
