.text-field {
  position: relative;
  margin-top: map-get($spaces, "x12");

  body[dir="rtl"]:not(.fa):not(.en) &,
  body[dir="rtl"]:not(.fa) &,
  body[dir="rtl"] &,
  body.fa:not([dir="ltr"]):not(.en) &,
  body.fa:not([dir="ltr"]) & {
    &.rounded {
      .text-field__input {
        border-radius: map-get($spaces, "x10");
        padding-right: map-get($spaces, "x12");
        padding-left: map-get($spaces, "x12");
      }

      &.iconed {
        &.iconed--leading {
          .text-field__input {
            padding-right: map-get($spaces, "x22");
          }

          .text-field__icons {
            padding-right: map-get($spaces, "x6");
          }
        }

        &.iconed--trailing {
          .text-field__input {
            padding-left: map-get($spaces, "x22");
          }

          .text-field__icons {
            padding-left: map-get($spaces, "x6");
          }
        }
      }

      .text-field__wrapper {
        &:after {
          border-radius: map-get($spaces, "x10") 0rem 0rem
            map-get($spaces, "x10");
        }

        &:before {
          width: map-get($spaces, "x12");
          min-width: map-get($spaces, "x12");
          border-radius: 0rem map-get($spaces, "x10") map-get($spaces, "x10")
            0rem;
        }
      }
    }

    &.iconed {
      &.iconed--leading {
        .text-field__label-text {
          transform: translateX(-#{map-get($spaces, "x12")});
        }
      }
    }

    &:not(.rounded).iconed {
      &.iconed--leading {
        .text-field__input {
          padding-right: map-get($spaces, "x20");
        }
      }

      &.iconed--trailing {
        .text-field__input {
          padding-left: map-get($spaces, "x20");
        }
      }
    }

    .text-field__wrapper {
      &:after {
        border-radius: map-get($spaces, "x2") 0rem 0rem map-get($spaces, "x2");
        border-left: 2px solid;
      }

      &:before {
        border-radius: 0rem map-get($spaces, "x2") map-get($spaces, "x2") 0rem;
        border-right: 2px solid;
      }
    }

    .text-field__hints__input-length-limit {
      text-align: left;
    }

    .text-field__hints__hint-text {
      text-align: right;
    }

    .text-field__icons {
      .text-field__icons__leading,
      .text-field__icons__trailing {
        & > * + * {
          margin-right: map-get($spaces, "x4");
        }
      }

      .text-field__icons__leading {
        margin-left: auto;
      }

      .text-field__icons__trailing {
        margin-right: auto;
      }
    }
  }

  body[dir="ltr"]:not(.en):not(.fa) &,
  body[dir="ltr"]:not(.en) &,
  body[dir="ltr"] &,
  body.en:not([dir="rtl"]):not(.fa) &,
  body.en:not([dir="rtl"]) &,
  &:not(.fa):not(.en):not([dir="ltr"]):not([dir="rtl"]) {
    &.rounded {
      .text-field__input {
        border-radius: map-get($spaces, "x10");
        padding-left: map-get($spaces, "x12");
        padding-right: map-get($spaces, "x12");
      }

      &.iconed {
        &.iconed--leading {
          .text-field__input {
            padding-left: map-get($spaces, "x22");
          }

          .text-field__icons {
            padding-left: map-get($spaces, "x6");
          }
        }

        &.iconed--trailing {
          .text-field__input {
            padding-right: map-get($spaces, "x22");
          }

          .text-field__icons {
            padding-right: map-get($spaces, "x6");
          }
        }
      }

      .text-field__wrapper {
        &:before {
          width: map-get($spaces, "x12");
          min-width: map-get($spaces, "x12");
          border-radius: map-get($spaces, "x10") 0rem 0rem
            map-get($spaces, "x10");
        }

        &:after {
          border-radius: 0rem map-get($spaces, "x10") map-get($spaces, "x10")
            0rem;
        }
      }
    }

    &.iconed {
      &.iconed--leading {
        .text-field__label-text {
          transform: translateX(#{map-get($spaces, "x12")});
        }
      }
    }

    &:not(.rounded).iconed {
      &.iconed--leading {
        .text-field__input {
          padding-left: map-get($spaces, "x20");
        }
      }

      &.iconed--trailing {
        .text-field__input {
          padding-right: map-get($spaces, "x20");
        }
      }
    }

    .text-field__wrapper {
      &:after {
        border-radius: 0 map-get($spaces, "x2") map-get($spaces, "x2") 0;
        border-right: 2px solid;
      }

      &:before {
        border-radius: map-get($spaces, "x2") 0 0 map-get($spaces, "x2");
        border-left: 2px solid;
      }
    }

    .text-field__hints__input-length-limit {
      text-align: right;
    }

    .text-field__hints__hint-text {
      text-align: left;
    }

    .text-field__icons {
      .text-field__icons__leading,
      .text-field__icons__trailing {
        & > * + * {
          margin-right: 0;
          margin-left: map-get($spaces, "x4");
        }
      }

      .text-field__icons__leading {
        margin-left: 0;
        margin-right: auto;
      }

      .text-field__icons__trailing {
        margin-right: 0;
        margin-left: auto;
      }
    }
  }

  &:not(.error):hover {
    .text-field__input:not(:focus) {
      border-color: $black-48;
    }
  }

  &:not(.error) {
    .text-field__input {
      &:focus {
        & ~ .text-field__wrapper {
          &:after,
          &:before {
            border-color: $brand-secondary-color !important;
          }
        }
      }

      &:not(:focus) {
        & ~ .text-field__wrapper {
          &:after,
          &:before {
            border-color: transparent !important;
          }
        }
      }
    }
  }

  &.error {
    .text-field__input {
      border-color: transparent;
      color: $danger-color;

      & ~ .text-field__wrapper {
        &:after,
        &:before {
          border-color: $danger-color !important;
        }
      }
    }

    .text-field__hints__hint-text {
      color: $danger-color;
    }
  }

  &.rounded {
    .text-field__hints {
      padding: 0 map-get($spaces, "x10");
    }
  }

  &.legend-label {
    .text-field__wrapper {
      & > .text-field__label {
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        border-bottom: 2px solid transparent;
        border-top: 2px solid transparent;
        padding: 0rem map-get($spaces, "x2");
        transition: 150ms ease;

        & > .text-field__label-text {
          color: $black-secondary;
          font-weight: normal;
          white-space: nowrap;
          transform-origin: 100% 50%;
          transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
        }
      }
    }

    &.error {
      .text-field__wrapper {
        & > .text-field__label {
          border-top-color: $danger-color;
          border-bottom-color: $danger-color;

          & > .text-field__label-text {
            position: relative;
            color: $danger-color;

            &:after {
              content: "*";
            }
          }
        }
      }

      .text-field__input {
        &:focus {
          & ~ .text-field__wrapper {
            &:after,
            &:before {
              border-color: $danger-color;
            }

            & > .text-field__label {
              border-bottom-color: $danger-color;
              border-top-color: transparent;

              & > .text-field__label-text {
                color: $danger-color;
              }
            }
          }
        }
      }
    }

    &.iconed {
      .fill {
        fill: $black-secondary;
      }
    }

    &.rounded {
      .text-field__wrapper {
        &:before {
          width: 1.25rem;
          min-width: 1.25rem;
        }
      }
    }

    .text-field__input {
      &:focus {
        & ~ .text-field__wrapper {
          & > .text-field__label {
            border-bottom-color: $brand-secondary-color;
            border-top-color: transparent;

            & > .text-field__label-text {
              font-size: 0.75rem;
              transform: translateY(-88%) !important;
              color: $brand-primary-color;
            }
          }
        }
      }

      &::-webkit-input-placeholder {
        color: transparent;
      }

      &::-moz-placeholder {
        color: transparent;
      }

      &:-ms-input-placeholder {
        color: transparent;
      }

      &:-moz-placeholder {
        color: transparent;
      }
    }
  }
}

.text-field__wrapper {
  width: 100%;
  height: map-get($spaces, "x20");
  position: absolute;
  top: auto;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: translateY(-100%);

  &:before,
  &:after {
    content: "";
    height: 100%;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: border 150ms ease;
  }

  &:after {
    width: 100%;
  }

  &:before {
    width: map-get($spaces, "x6");
    min-width: map-get($spaces, "x6");
  }
}

.text-field__label {
  & + .text-field__input {
    margin-top: map-get($spaces, "x4");
  }

  & + .text-field__description {
    margin-top: map-get($spaces, "x2");
  }
}

.text-field__label-text {
  @extend %base-text;

  font-size: 1rem;
  font-weight: 500;
}

.text-field__description {
  @extend %text-sm;

  color: $black-secondary;

  & + .text-field__input {
    margin-top: map-get($spaces, "x4");
  }
}

.text-field__input {
  @extend %text-lg-stable;

  border: none;
  outline: none;
  width: 100%;
  height: map-get($spaces, "x20");
  border-radius: map-get($spaces, "x2");
  border: 1px solid $black-24;
  padding: map-get($spaces, "x2") $space;
  transition: border-color 150ms ease, border-radius 150ms ease;

  &:focus {
    border-color: transparent;

    & ~ .text-field__wrapper {
      &:after,
      &:before {
        border-color: $brand-secondary-color;
      }
    }
  }

  &::-webkit-input-placeholder {
    @extend %text-lg-stable;

    color: $black-hint;
  }

  &::-moz-placeholder {
    @extend %text-lg-stable;

    color: $black-hint;
  }

  &:-ms-input-placeholder {
    @extend %text-lg-stable;

    color: $black-hint;
  }

  &:-moz-placeholder {
    @extend %text-lg-stable;

    color: $black-hint;
  }
}

.text-field__icons {
  width: 100%;
  height: map-get($spaces, "x20");
  position: absolute;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0rem 0.5rem;
  transform: translateY(-100%);
  top: auto;

  .text-field__icons__leading,
  .text-field__icons__trailing {
    display: flex;

    .fill {
      fill: $black-hint;
    }
  }

  .text-field__icon {
    @extend .icon-24;
  }
}

.text-field__hints {
  @extend %text-xs;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: map-get($spaces, "x2");
  color: $black-secondary;
  padding: 0 map-get($spaces, "x4");
}

.text-field__hints__hint-text {
  width: calc(100% - map-get($spaces, "x32"));
  transition: color 150ms ease;
}

.text-field__hints__input-length-limit {
  width: map-get($spaces, "x32");
}
