.text-field {
  position: relative;
  width: 100%;

  &.minimal {
    margin-top: 0;

    & > input,
    & > .text-field__input {
      background-color: transparent;
      border: none;
      font-size: 0.875rem;

      &::-webkit-input-placeholder {
        font-size: 0.875rem;
      }

      &::-moz-placeholder {
        font-size: 0.875rem;
      }

      &:-ms-input-placeholder {
        font-size: 0.875rem;
      }

      &:-moz-placeholder {
        font-size: 0.875rem;
      }
    }
  }

  &.rounded {
    .text-field__input {
      @include rtlStyle(
        (
          border-radius: #{map-get($spaces, "x10")},
          padding-right: #{map-get($spaces, "x12")},
          padding-left: #{map-get($spaces, "x12")}
        )
      );
      @include ltrStyle(
        (
          border-radius: #{map-get($spaces, "x10")},
          padding-left: #{map-get($spaces, "x12")},
          padding-right: #{map-get($spaces, "x12")}
        )
      );
    }

    &.iconed {
      &.iconed--leading {
        .text-field__input {
          @include rtlStyle(
            (
              padding-right: #{map-get($spaces, "x22")}
            )
          );
          @include ltrStyle(
            (
              padding-left: #{map-get($spaces, "x22")}
            )
          );
        }

        .text-field__icons {
          @include rtlStyle(
            (
              padding-right: #{map-get($spaces, "x6")}
            )
          );
          @include ltrStyle(
            (
              padding-left: #{map-get($spaces, "x6")}
            )
          );
        }
      }

      &.iconed--trailing {
        .text-field__input {
          @include rtlStyle(
            (
              padding-left: #{map-get($spaces, "x22")}
            )
          );
          @include ltrStyle(
            (
              padding-right: #{map-get($spaces, "x22")}
            )
          );
        }

        .text-field__icons {
          @include rtlStyle(
            (
              padding-left: #{map-get($spaces, "x6")}
            )
          );
          @include ltrStyle(
            (
              padding-right: #{map-get($spaces, "x6")}
            )
          );
        }
      }
    }

    .text-field__hints {
      padding: 0 map-get($spaces, "x10");
    }

    .text-field__wrapper {
      &:after {
        @include rtlStyle(
          (
            border-radius: #{map-get($spaces, "x10")} 0rem 0rem #{map-get(
                $spaces,
                "x10"
              )}
          )
        );
        @include ltrStyle(
          (
            border-radius: 0rem #{map-get($spaces, "x10")} #{map-get(
                $spaces,
                "x10"
              )} 0rem
          )
        );
      }

      &:before {
        width: #{map-get($spaces, "x12")};
        min-width: #{map-get($spaces, "x12")};

        @include rtlStyle(
          (
            border-radius: 0rem #{map-get($spaces, "x10")} #{map-get(
                $spaces,
                "x10"
              )} 0rem
          )
        );
        @include ltrStyle(
          (
            border-radius: #{map-get($spaces, "x10")} 0rem 0rem #{map-get(
                $spaces,
                "x10"
              )}
          )
        );
      }
    }
  }

  &.iconed {
    &.iconed--leading {
      .text-field__label-text {
        @include rtlStyle(
          (
            transform: translateX(-#{map-get($spaces, "x10")})
          )
        );
        @include ltrStyle(
          (
            transform: translateX(#{map-get($spaces, "x10")})
          )
        );
      }
    }

    &:not(.rounded) {
      &.iconed--leading {
        .text-field__label-text {
          @include rtlStyle(
            (
              transform: translateX(-#{map-get($spaces, "x12")})
            )
          );
          @include ltrStyle(
            (
              transform: translateX(#{map-get($spaces, "x12")})
            )
          );
        }

        .text-field__input {
          @include rtlStyle(
            (
              padding-right: map-get($spaces, "x20")
            )
          );
          @include ltrStyle(
            (
              padding-left: map-get($spaces, "x20")
            )
          );
        }
      }

      &.iconed--trailing {
        .text-field__input {
          @include rtlStyle(
            (
              padding-left: map-get($spaces, "x20")
            )
          );
          @include ltrStyle(
            (
              padding-right: map-get($spaces, "x20")
            )
          );
        }
      }
    }
  }

  &:not(.legend-label).small {
    .text-field__wrapper {
      height: 2rem;
    }

    .text-field__input {
      font-size: 0.75rem;
      line-height: 2;
      font-weight: 500;
      height: 2rem;
      padding-right: 0.5rem;
      padding-left: 0.5rem;

      &::-webkit-input-placeholder {
        font-size: 0.75rem;
        line-height: 2;
        font-weight: 400;
      }

      &::-moz-placeholder {
        font-size: 0.75rem;
        line-height: 2;
        font-weight: 400;
      }

      &:-ms-input-placeholder {
        font-size: 0.75rem;
        line-height: 2;
        font-weight: 400;
      }

      &:-moz-placeholder {
        font-size: 0.75rem;
        line-height: 2;
        font-weight: 400;
      }
    }

    &.iconed {
      .text-field__input {
        @include rtlStyle(
          (
            padding-right: 1.75rem
          )
        );
        @include ltrStyle(
          (
            padding-left: 1.75rem
          )
        );
      }

      &.iconed--leading {
        .text-field__input {
          @include rtlStyle(
            (
              padding-right: 1.75rem
            )
          );
          @include ltrStyle(
            (
              padding-left: 1.75rem
            )
          );
        }
      }

      &.iconed--trailing {
        .text-field__input {
          @include rtlStyle(
            (
              padding-left: 1.75rem
            )
          );
          @include ltrStyle(
            (
              padding-right: 1.75rem
            )
          );
        }
      }

      .text-field__icons {
        height: 2rem;

        .text-field__icon {
          @extend .icon-16;
        }
      }
    }

    &.rounded {
      .text-field__input {
        padding-right: 1rem;
        padding-left: 1rem;
      }

      &.iconed {
        .text-field__input {
          @include rtlStyle(
            (
              padding-right: 2rem
            )
          );
          @include ltrStyle(
            (
              padding-left: 2rem
            )
          );
        }
      }
    }
  }

  &:not(.error) {
    .text-field__input {
      &:focus {
        & ~ .text-field__wrapper {
          &:after,
          &:before {
            border-color: $brand-secondary-color !important;
          }
        }
      }

      &:not(:focus):not(.has-value) {
        & ~ .text-field__wrapper {
          &:after,
          &:before {
            border-color: transparent !important;
          }
        }
      }
    }

    &:hover {
      .text-field__input:not(:focus) {
        border-color: blackColor(0.48);
      }
    }
  }

  &.error {
    .text-field__input {
      border-color: transparent;
      color: $danger-color;

      & ~ .text-field__wrapper {
        &:after,
        &:before {
          border-color: $danger-color !important;
        }
      }
    }

    .text-field__hints__hint-text {
      color: $danger-color;
    }
  }

  &.legend-label {
    margin-top: 1.875rem;

    .text-field__wrapper {
      & > .text-field__label {
        flex: 0 0 auto;
        width: auto;
        height: 100%;
        max-width: calc(100% - 12px * 2);
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: transparent;
        transition: border 150ms ease, transform 150ms ease;
        position: relative;
        padding: 0rem map-get($spaces, "x2");

        & > .text-field__label-text {
          transform-origin: right top;
          text-overflow: ellipsis;
          white-space: nowrap;
          cursor: text;
          overflow: hidden;
          pointer-events: none;
          display: inline-block;
          max-width: 100%;
          color: $black-secondary;
          font-weight: normal;
          white-space: nowrap;
          position: relative;
          top: 2px;
          transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
        }
      }
    }

    &.error {
      .text-field__wrapper {
        & > .text-field__label {
          border-top-color: $danger-color;
          border-bottom-color: $danger-color;

          & > .text-field__label-text {
            position: relative;
            color: $danger-color;

            &:after {
              content: "*";
            }
          }
        }
      }

      .text-field__input {
        &:focus {
          & ~ .text-field__wrapper {
            &:after,
            &:before {
              border-color: $danger-color;
            }

            & > .text-field__label {
              border-width: 2px;
              border-top: none;
              border-color: $danger-color;

              & > .text-field__label-text {
                color: $danger-color;
              }
            }
          }
        }
      }
    }

    &.iconed {
      .text-field__icons__leading,
      .text-field__icons__trailing {
        display: flex;
        color: $black-secondary;

        .fill {
          fill: $black-secondary;
        }
      }
    }

    &.rounded {
      .text-field__wrapper {
        &:before {
          width: 1.25rem;
          min-width: 1.25rem;
        }
      }
    }

    .text-field__input {
      &:focus {
        & ~ .text-field__wrapper {
          & > .text-field__label {
            border-bottom-color: $brand-secondary-color;
            border-bottom-width: 2px;
            border-top-width: 0;

            & > .text-field__label-text {
              max-width: 134%;
              transform: translateY(-50%) scale(0.75) !important;
              color: $brand-primary-color;
            }
          }
        }
      }

      &.has-value:not(:focus) {
        border-color: transparent;

        &:hover {
          & ~ .text-field__wrapper {
            &:after,
            &:before {
              border-color: blackColor(0.48);
            }

            & > .text-field__label {
              border-bottom-color: blackColor(0.48);
            }
          }
        }

        & ~ .text-field__wrapper {
          &:after,
          &:before {
            border-color: blackColor(0.24);
            border-width: 1px;
          }

          & > .text-field__label {
            border-color: blackColor(0.24);
            border-width: 1px;
            border-top: none;

            & > .text-field__label-text {
              max-width: 134%;
              text-overflow: clip;
              transform: translateY(-50%) scale(0.75) !important;
            }
          }
        }
      }

      &::-webkit-input-placeholder {
        color: transparent;
      }

      &::-moz-placeholder {
        color: transparent;
      }

      &:-ms-input-placeholder {
        color: transparent;
      }

      &:-moz-placeholder {
        color: transparent;
      }
    }
  }
}

.text-field__wrapper {
  width: 100%;
  height: map-get($spaces, "x20");
  position: absolute;
  top: 0;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  align-items: center;

  &:before,
  &:after {
    content: "";
    height: 100%;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: border 150ms ease;
  }

  &:after {
    width: 100%;

    @include rtlStyle(
      (
        border-radius: #{map-get($spaces, "x2")} 0rem 0rem #{map-get(
            $spaces,
            "x2"
          )},
        border-left: 2px solid transparent
      )
    );
    @include ltrStyle(
      (
        border-radius: 0 #{map-get($spaces, "x2")} #{map-get($spaces, "x2")} 0,
        border-right: 2px solid transparent
      )
    );
  }

  &:before {
    width: map-get($spaces, "x6");
    min-width: map-get($spaces, "x6");

    @include rtlStyle(
      (
        border-radius: 0rem #{map-get($spaces, "x2")} #{map-get($spaces, "x2")}
          0rem,
        border-right: 2px solid transparent
      )
    );
    @include ltrStyle(
      (
        border-radius: #{map-get($spaces, "x2")} 0 0 #{map-get($spaces, "x2")},
        border-left: 2px solid transparent
      )
    );
  }
}

.text-field__label-text {
  @extend %base-text;

  font-size: 1rem;
  font-weight: 500;
}

.text-field__input {
  @extend %base-text;

  font-size: 1rem;
  line-height: 2;
  font-weight: 400;
  border: none;
  outline: none;
  width: 100%;
  height: map-get($spaces, "x20");
  border-radius: map-get($spaces, "x2");
  border: 1px solid blackColor(0.24);
  padding: map-get($spaces, "x2") $space;
  transition: border-color 150ms ease, border-radius 150ms ease;

  &:focus {
    border-color: transparent;

    & ~ .text-field__wrapper {
      &:after,
      &:before {
        border-color: $brand-secondary-color;
      }
    }
  }

  &::-webkit-input-placeholder {
    font-size: 1rem;
    line-height: 2;
    font-weight: 400;

    color: $black-hint;
  }

  &::-moz-placeholder {
    font-size: 1rem;
    line-height: 2;
    font-weight: 400;

    color: $black-hint;
  }

  &:-ms-input-placeholder {
    font-size: 1rem;
    line-height: 2;
    font-weight: 400;

    color: $black-hint;
  }

  &:-moz-placeholder {
    font-size: 1rem;
    line-height: 2;
    font-weight: 400;

    color: $black-hint;
  }
}

.text-field__icons {
  width: 100%;
  height: map-get($spaces, "x20");
  position: absolute;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0rem 0.5rem;
  top: 0;

  .text-field__icons__leading,
  .text-field__icons__trailing {
    display: flex;
    color: $black-hint;

    .fill {
      fill: $black-hint;
    }

    & > * + * {
      @include rtlStyle(
        (
          margin-right: #{map-get($spaces, "x4")}
        )
      );
      @include ltrStyle(
        (
          margin-left: #{map-get($spaces, "x4")},
          margin-right: 0
        )
      );
    }
  }

  .text-field__icons__leading {
    @include rtlStyle(
      (
        margin-left: auto
      )
    );
    @include ltrStyle(
      (
        margin-left: 0,
        margin-right: auto
      )
    );
  }

  .text-field__icons__trailing {
    @include rtlStyle(
      (
        margin-right: auto
      )
    );
    @include ltrStyle(
      (
        margin-right: 0,
        margin-left: auto
      )
    );
  }

  .text-field__icon {
    @extend %icon-24;
  }
}
