.tooltip {
  opacity: 0;
  max-width: 12rem;
  min-width: 3.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: $zindex-tooltip;
  position: absolute;
  pointer-events: none;

  // THIS WILL FIX THAT CRAPPY TEXT FLICKERING
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  transition: transform 360ms cubic-bezier(0, 0, 0.2, 1) 100ms,
    opacity 200ms ease 100ms;

  &.show {
    opacity: 0.96;

    &.tailed {
      &.top {
        transform: translateY(-1rem);
      }

      &.bottom {
        transform: translateY(1rem);
      }

      &.right {
        transform: translateX(1rem);
      }

      &.left {
        transform: translateX(-1rem);
      }
    }

    &:not(.tailed) {
      &.top {
        transform: translate(0, -0.5rem) scale(1);
      }

      &.bottom {
        transform: translate(0, 0.5rem) scale(1);
      }

      &.right {
        transform: translate(0.5rem, 0) scale(1);
      }

      &.left {
        transform: translate(-0.5rem, 0) scale(1);
      }
    }
  }

  &.tailed {
    .tooltip-text {
      color: blackColor(0.6);
    }

    .tooltip-box {
      background-color: $white;

      &:after,
      &:before {
        content: "";
      }
    }

    .tooltip-tail {
      &:before {
        content: "";
      }
    }

    &.top {
      .tooltip-box {
        &:after {
          border-radius: 0;
          border-bottom-right-radius: 0.125rem;
          transform: translateY(50%) rotate(45deg);
          bottom: 0;
        }
      }

      .tooltip-tail {
        transform: translateY(50%) rotate(45deg);
        bottom: 0;

        &:before {
          border-radius: 0;
          border-bottom-right-radius: 0.125rem;
        }
      }
    }

    &.right {
      .tooltip-box {
        &:after {
          border-radius: 0;
          border-bottom-left-radius: 0.125rem;
          transform: translateX(-50%) rotate(45deg);
          left: 0;
        }
      }

      .tooltip-tail {
        transform: translateX(-50%) rotate(45deg);
        left: 0;

        &:before {
          border-radius: 0;
          border-bottom-left-radius: 0.125rem;
        }
      }
    }

    &.left {
      .tooltip-box {
        &:after {
          border-radius: 0;
          border-top-right-radius: 0.125rem;
          transform: translateX(50%) rotate(45deg);
          right: 0;
        }
      }

      .tooltip-tail {
        transform: translateX(50%) rotate(45deg);
        right: 0;

        &:before {
          border-radius: 0;
          border-top-right-radius: 0.125rem;
        }
      }
    }

    &.bottom {
      .tooltip-box {
        &:after {
          border-radius: 0;
          border-top-left-radius: 0.125rem;
          transform: translateY(-50%) rotate(45deg);
          top: 0;
        }
      }

      .tooltip-tail {
        transform: translateY(-50%) rotate(45deg);
        top: 0;

        &:before {
          border-radius: 0;
          border-top-left-radius: 0.125rem;
        }
      }
    }
  }

  &:not(.tailed) {
    transform: translate(0, 0) scale(0.8);

    .tooltip-box {
      background-color: $black-tooltip;
    }

    .tooltip-text {
      color: $white;
    }
  }
}

.tooltip-box {
  padding: 8px 12px;
  border-radius: 4px;
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  &:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.25rem;
    box-shadow: 0px 2px 8px 0px blackColor(0.12);
    z-index: -1;
  }

  &:after {
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    background-color: $white;
    z-index: -1;
  }
}

.tooltip-text {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: right;
}

.tooltip-tail {
  width: 0.75rem;
  height: 0.75rem;
  background-color: transparent;
  position: absolute;
  z-index: 1;

  &:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 2px 2px 8px 0px blackColor(0.12);
    z-index: -1;
  }
}
